/* ************** Inhaltsverzeichnis **************** */
/*

		- 1.0 Allgemeine Formatierungen
		- 2.0 Service Container
		- 3.0 Page Container
		- 4.0 Keyvisual
		- 5.0 Mainnavigation
		- 6.0 Tabnavigation
		- 7.0 Subnavigation
		- 8.0 Content
				- 8.1 OneColumnBox
				- 8.2 FourColumnBox
				- 8.3 FourColumnTeaser
				- 8.4 ContentBox
				- 8.5 TwoColumnTeaser
				- 8.6 OneColumnTeaser
		- 9.0 Footer
		-10.0 Mailform
		-11.0 Suche
		-12.0 Sitemap

*/
/* ************************************************** */



/* ******* Farben **********
hellblau: #c2d8ee
hellblau2: #d5e1f0;
mittelblau: #4179a1;
dunkelblau: #124877;
rot:#bd021b;
grau:#999999;
************************* */


.small_font {font-size:8pt;}
.gauge .gauge-bar{height:14px;}

/* ***** 1.0 Allgemeine Formatierungen ***** */
html {
	/* Für den IE 100.01%: Korrigiert die Schriftgrade bei "Sehr groß" und "Sehr klein" *//
	font-size: 100.01%;
}

body {
   font-family: 'Trebuchet MS','lucida grande',tahoma,'ms sans serif',verdana,arial,sans-serif;
   font-size:80%;
   font-size-adjust:none;
   font-stretch:normal;
   font-style:normal;
   font-variant:normal;
   font-weight:normal;
   text-align: center;
}

form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

input {
	margin: 0;
	padding: 0;
}

.contentBox li {
	font-size: 0.7em;
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 24px;
	margin-bottom:15px;
}

h1.gross {
	margin: 0;
	padding: 0;
	color: #053766;
	font-size: 12pt;
}

h1.hidden{
	display: none;
}

h1.datum {
	padding: 0 0 2px 0;
	color: #999999;
	font-size: 0.7em;
	font-weight: normal;
}

h2 {
	margin: 0;
	padding: 0;
	font-size: 11pt;
}

h2.red {
	margin: 0;
	padding: 0;
	font-size: 11pt;
	color: #bd021b;
}

#page-title{
  position:absolute;
  top: 106px;
  left:auto;
  padding:0px 10px;
  color:white;
  font-family: Univers 65 Bold;
  font-weight:bold;

}

h3 {
	margin: 0;
	padding: 0;
	color: #bd021b;
	font-size: 10pt;
}

h3.black {
	margin: 0;
	padding: 0;
	font-size: 10pt;
}

h4 {
	margin: 0;
	padding: 0;
	color: #999999;
	font-size: 10pt;
	font-weight: normal;
}

p {
	margin: 0;
	padding: 0;
	font-size: 10pt;
}

table{
	font-size: 8pt;
}

img {
	border: none;
}

#content a {
	color:#2b628a;
	font-weight: bold;
	text-decoration: none;
}

#content a:hover {
	text-decoration: underline;
}

#content a.link, #content a.internal-link {
	background: url(../img/icon_link_dark.gif) left center no-repeat;
	padding: 0 0 0 15px;
	vertical-align: middle;
	height: 1.3em;
	line-height: 1.3em;
}

#content a.external-link-new-window, #content a.external-link, #content a.extlink {
	background: url(../img/icon_extlink_dark.gif) left center no-repeat;
	padding: 0 0 0 15px;
}

div.clear {
	clear: both;
	line-height: 0px;
	font-size: 0px;
	height: 0px;
}

/* ***************************************** */

/* ***** 2.0 Wrapper Container ***** */
#wrapper{
  text-align: left;    /* Seiteninhalt wieder links ausrichten */
  margin: 0 auto;      /* standardkonforme horizontale Zentrierung */
  width: 940px;
}

/* ***** 2.0 Service Container ***** */

#service {
	width: 940px;
	margin: 8px 0px 0px 0px;
	text-align: right;
	font-size: 8pt;
}


#serviceNav{
	float: left;
	width: 935px;
	height:22px;
}

#serviceNav ul {
	margin: 0;
}

#serviceNav li {
	display: inline;
	padding: 0 7px 0 0;
	height: 2.0em;
	line-height: 2.0em;
}

#serviceNav li.hidden a {
	position: absolute;
	left: -3000px;
}

#serviceNav li.hidden a:focus, #service li.hidden a:active{
	position: relative;
	left: auto;
}

#serviceNav li a {
	padding: 0 0 0 0;
	text-decoration: none;
	color: #4179a1;
}

#serviceNav li a:hover, #service li a:focus, #service li a:active {
	text-decoration: underline;
}

#serviceSuche{
	float: right;
	width: 20em
}

#serviceSuche form, #service fieldset {
	float: right;
}

* html #serviceSuche input.text {
	height: 1.5em;

}

* html #serviceSuche input.text {
	margin: 0 2px 0 0;
}

#serviceSuche input.text {
		font-size: 1.0em;
	float: left;
	height: 1.15em;
	margin: 0 5px 0 0;
}

* html #serviceSuche input.button {
	margin: 0 -3px 0 0;
}

#serviceSuche input.button {
	float: left;
	width: 63px;
}

#serviceSuche label {
	float: left;
	height: 16px;
	margin: 0 5px 0 0;
	padding: 0;
}

/* ********************************* */



/* ***** 3.0 Page Container ***** */

#page {
	width: 940px;
	margin: 0px auto;
   background: url(../images/bg_body.jpg) 0px 0px repeat-x;
   text-align: left;
	float: left;
}

/* ****************************** */



/* ***** 4.0 Keyvisual ***** */

#keyvisual {
	padding: 0px 0 0 0;
	margin: 0 0 0 0px;
}

/* ************************* */



/* ***** 5.0 Mainnavigation ***** */

#mainnavigation ul {
	margin: 0;
	padding: 0;
}

#mainnavigation li {
	margin: 0;
	padding: 0px 0px 0px 2px;
	vertical-align: bottom;
	/*height: 15px;
	line-height: 15px;*/
	vertical-align: bottom;
}

#mainnavigation {
	margin: 4px 0px 0px 5px;
	height:38px;
}

#mainnavigation ul{
	list-style:none;
	margin-top:-3px;
	margin-left: 1px;
}

#mainnavigation li{
	display: inline;
	text-transform: uppercase;
	color: #124877;
	font-weight: bold;
	padding: 0px 12px 5px 12px;
	margin: 0px 3px;
	background: url(../images/bg_mainnav.jpg) left bottom repeat-x;
}

#mainnavigation table {
	width: 950px;
}

#mainnavigation td {
	text-align: center;
	color: #124877;
	font-weight: bold;
	padding: 0 0 5px 0;
	background: url(../images/bg_mainnav.jpg) left bottom repeat-x;
}

#mainnavigation a {
	color: #124877;
	text-decoration: none;
}

#mainnavigation a:hover, #mainnavigation a:focus,#mainnavigation a:active, #mainnavigation a:hover, #mainnavigation li.hi a {
	color: #bd021b;
}

#mainnavigation .selflink{
   color: #bd021b;
}

/* ****************************** */



/* ***** 6.0 Tabnavigation ***** */
#tabNavi {
	clear: both;
	padding: 20px 0 3px 10px;
	color: #4179a1;
}

#tabNavi ul {
	margin: 0;
	padding: 0;
}

#tabNavi li {
	margin: 0;
	padding: 0;
	vertical-align: bottom;
	/*height: 15px;
	line-height: 15px;*/
	vertical-align: bottom;
}

#tabNavi ul {
	list-style-type: none;
}

* html #tabNavi li {
	padding: 0 3px 0 3px;
}

#tabNavi li {
	display: inline;
	padding: 0 1px 0 1px;
}

#tabNavi a {
	color: #4179a1;
	text-decoration: none;
}

#tabNavi a:hover, #tabNavi a:focus, #tabNavi a:active {
	text-decoration: underline;
}

#tabNavi a.hi {
	color: #000000;
	font-weight: bold;
}

#c3 {
	display:none;
}
.tabbox {
	/*position:absolute;
	left:50%;
	top:259px;*/
	width:796px;
	height:170px;
	/*margin-left:-409px;
	overflow:auto;*/
}

#tabbox1 {

}
#tabbox2 {
	display:none;
}
#tabbox3 {
	display:none;
}

/* *********************************** */



/* ***** 7.0 Subnavigation ***** */

#subnavigation {
	float: left;
	display: inline;
	width: 203px;
	margin: 20px 0 0 10px;
	color: #4179a1;
	font-weight: bold;
}

#subnavigation ul {
	margin: 0;
	padding: 0;
}

#subnavigation li {
	margin: 0;
	padding: 0;
	vertical-align: bottom;
	/*height: 15px;
	line-height: 15px;*/
	vertical-align: bottom;
}

#subnavigation ul {
	list-style-type: none;
}

* html #subnavigation li {
	height: 15px;
	line-height: 15px;
}

#subnavigation li {
	padding: 0 0 8px 0;
}

* html #subnavigation li a {
	background-position: left 3px;
}

*+ html #subnavigation li a {
	background-position: left 3px;
}

#subnavigation li a {
	display: block;
	/*height: 15px;*/
	background: url(../img/subnav_1_lo.gif) left 2px no-repeat;
	padding: 0 0 0 13px;
	text-decoration: none;
	color: #4179a1;
}

* html #subnavigation li a:hover, * html #subnavigation li.hi a {
	background-position: left 3px;
}

*+ html #subnavigation li a:hover, *+ html #subnavigation li.hi a {
	background-position: left 3px;
}

#subnavigation li a:hover, #subnavigation li a:focus,#subnavigation li a:active, #subnavigation li.hi a{
	color: #bd021b;
	background: url(../img/subnav_1_hi.gif) left 2px no-repeat;
}

#subnavigation li ul {
	margin: 3px 0 3px 13px;
}

#subnavigation li ul li {
	font-weight: normal;
	padding: 0;
}

* html #subnavigation li ul li a {
	background-position: left 6px;
}

*+ html #subnavigation li ul li a {
	background-position: left 6px;
}

#subnavigation li ul li a {
	background: url(../img/subnav_2_lo.gif) left 5px no-repeat;
}

* html #subnavigation li ul li a:hover, * html #subnavigation li ul li.hi a {
	background-position: left 6px;
}

*+ html #subnavigation li ul li a:hover, *+ html #subnavigation li ul li.hi a {
	background-position: left 6px;
}

#subnavigation li ul li a:hover, #subnavigation li ul li.hi a {
	background: url(../img/subnav_2_hi.gif) left 5px no-repeat;
}

/* ***************************** */



/* ***** 8.0 Content ***** */
#content_old {
	float: right;
	display: inline;
	margin: 0 0 0 10px;
	padding-top: 0px;
}

#content-wrapper{
	width:940px;
	padding-top:0px;
	margin:0px;
}

#content {
   padding: 10px;
   margin: 0 0 0 10px;
   float: left;
   width: 650px;
   overflow: hidden;
   background-color:#FFFFFF;
}
#content li{
   font-size:10pt;
}

#content td{
   font-size:10pt;
}

#content .indent{
   font-size:10pt;
}

/* sidebar
--------------------------------------------------*/
#sidebar a {
	color:#2b628a;
	text-decoration: none;
}
#sidebar li a{
	/*font-weight: bold;*/
}

#sidebar a:hover {
	text-decoration: underline;
}

#sidebar a.link, #sidebar a.internal-link {
	background: url(../img/icon_link_dark.gif) left center no-repeat;
	padding: 0 0 0 15px;
	vertical-align: middle;
	height: 1.3em;
	line-height: 1.3em;
}


#sidebar-mapper {
   float: right;
   margin: 0px 10px 20px 0px;
   width: 220px;
   overflow: hidden;
}

#sidebar {
   padding: 0px;
}

#sidebar p {
   padding: 0;
}

#sidebar .sidehead, #room_detail .sidehead {
   margin: 0px;
   padding:2px 0px 2px 10px;
   width:100%;
   display:block;
   background-color: #B2CDE9;
   color:#ffffff;
   text-transform: uppercase;
   font-weight:bold;
   font-size:10pt;
}

#sidebar ul {
   margin: 10px 10px 0px 10px;
   padding: 0;
   font-weight:normal;
}

#sidebar ul li {
   list-style: none;
   margin: 0;
   padding: 0;
   border: none;
   font-size:8pt;
}

#sidebar ul li ul {
   padding: 0;
   margin: 0;
}

#sidebar ul li ul li{
   padding: 2px 0 2px 0px;
   border-bottom: 1px solid;
   }
#sidebar ul li ul li ul li{
   padding: 1px 0 1px 10px;
   border: none;
   }


/* ***** 9.0 Footer ***** */

#footer {
	clear: both;
	width: 940px;
	margin: 10px 0 0 0;
	background-color: #dae4f1;
	text-align: center;
	color: #4179a1;
	font-size: 8pt;
}

#footer ul {
	margin: 0;
	padding: 0;
}

#footer li {
	margin: 0;
	padding: 0;
}
#footer ul {
	list-style-type: none;
	padding: 2px 0 0 0;
}

* html #footer li {
	padding: 0 3px 0 3px;
}

#footer li, #serviceNav li {
	display: inline;
	padding: 0 3px 0 3px;
	height: 2em;
	line-height: 2em;
}

#footer a {
	color: #4179a1;
	text-decoration: none;
}

#footer a:hover, #footer a:focus, #footer a:active {
	text-decoration: underline;
}

/* ********************** */

.commsyloginbox{
}

.commsyloginbox_inner{
}

.commsyloginbox_logo{
  width:0px;
  display:hidden;
}

.commsyloginbox_door{
  width:40px;
  padding-top:10px;
}

.commsyloginbox_inner{
  font-size:8pt;
  padding-left:10px;
}

.commsyloginbox_field, .commsyloginbox_button{
  width:100px;
}

.commsyloginbox_link, a.commsyloginbox_link {
   font-size:8pt;
   font-weight:normal;
}

td.form_view_plain{
  font-size:8pt;
}



/********** csc-sitemap **********/
.csc-sitemap li {
	font-size:0.9em;
}
/********************************/
