parameters:
        legacy.site_index: %kernel.root_dir%/../web/commsy_legacy.php

services:
    # Legacy kernel
    commsy_legacy.legacy_kernel:
        class: Commsy\LegacyBundle\Kernel\LegacyKernel
        arguments: ['%legacy.site_index%', '@service_container']

    # Legacy authentication
    commsy_legacy.legacy_authentication:
        class: Commsy\LegacyBundle\Authentication\LegacyAuthentication
        arguments: ['@commsy_legacy.environment']

    # Event subscriber
    commsy_legacy.subscriber.KernelSubscriber:
        class: Commsy\LegacyBundle\EventSubscriber\KernelSubscriber
        arguments:
            - '@commsy_legacy.legacy_kernel'
            - '@commsy_legacy.legacy_authentication'
            - '@commsy_legacy.item_service'
            - '@router'
            - '@commsy_legacy.environment'
        tags:
            - { name: kernel.event_subscriber }

    # Legacy Environment
    commsy_legacy.environment:
        class: Commsy\LegacyBundle\Services\LegacyEnvironment
        arguments: ['%legacy.site_index%', '@service_container']

    commsy_legacy.category_service:
        class: Commsy\LegacyBundle\Utils\CategoryService
        arguments: ['@commsy_legacy.environment']

    commsy_legacy.material_service:
        class: Commsy\LegacyBundle\Utils\MaterialService
        arguments: ['@commsy_legacy.environment']

    commsy_legacy.room_service:
        class: Commsy\LegacyBundle\Utils\RoomService
        arguments: ['@commsy_legacy.environment']

    commsy_legacy.file_service:
        class: Commsy\LegacyBundle\Utils\FileService
        arguments: ['@commsy_legacy.environment']

    commsy_legacy.user_service:
        class: Commsy\LegacyBundle\Utils\UserService
        arguments: ['@commsy_legacy.environment']

    commsy_legacy.item_service:
        class: Commsy\LegacyBundle\Utils\ItemService
        arguments: ['@commsy_legacy.environment']

    commsy_legacy.label_service:
        class: Commsy\LegacyBundle\Utils\LabelService
        arguments: ['@commsy_legacy.environment']

    commsy_legacy.group_service:
        class: Commsy\LegacyBundle\Utils\GroupService
        arguments: ['@commsy_legacy.environment']

    commsy_legacy.institution_service:
        class: Commsy\LegacyBundle\Utils\InstitutionService
        arguments: ['@commsy_legacy.environment']

    commsy_legacy.topic_service:
        class: Commsy\LegacyBundle\Utils\TopicService
        arguments: ['@commsy_legacy.environment']

    commsy_legacy.noticed_service:
        class: Commsy\LegacyBundle\Utils\NoticedService
        arguments: ['@commsy_legacy.environment']

    commsy_legacy.reader_service:
        class: Commsy\LegacyBundle\Utils\ReaderService
        arguments: ['@commsy_legacy.environment', '@commsy_legacy.item_service']

    commsy_legacy.date_service:
        class: Commsy\LegacyBundle\Utils\DateService
        arguments: ['@commsy_legacy.environment']
    
    commsy_legacy.annotation_service:
        class: Commsy\LegacyBundle\Utils\AnnotationService
        arguments: ['@commsy_legacy.environment']
        
    commsy_legacy.announcement_service:
        class: Commsy\LegacyBundle\Utils\AnnouncementService
        arguments: ['@commsy_legacy.environment']
        
    commsy_legacy.discussion_service:
        class: Commsy\LegacyBundle\Utils\DiscussionService
        arguments: ['@commsy_legacy.environment']
        
    commsy_legacy.todo_service:
        class: Commsy\LegacyBundle\Utils\TodoService
        arguments: ['@commsy_legacy.environment']
        
    commsy_legacy.disc_service:
        class: Commsy\LegacyBundle\Utils\DiscService
        arguments: ['@commsy_legacy.environment']

    commsy_legacy.assessment_service:
        class: Commsy\LegacyBundle\Utils\AssessmentService
        arguments: ['@commsy_legacy.environment']
        
    commsy_legacy.download_service:
        class: Commsy\LegacyBundle\Utils\DownloadService
        arguments:
          - '@commsy_legacy.environment'
          - '@service_container'
          - '@commsy.print_service'
          - '@commsy_legacy.item_service'
        
    commsy_legacy.project_service:
        class: Commsy\LegacyBundle\Utils\ProjectService
        arguments: ['@commsy_legacy.environment']

    commsy_legacy.portfolio_service:
        class: Commsy\LegacyBundle\Utils\PortfolioService
        arguments: ['@commsy_legacy.environment']

    # Markup
    commsy_legacy.markup:
        class: Commsy\LegacyBundle\Services\LegacyMarkup
        arguments:
            - '@commsy_legacy.environment'
            - '@router'
            - '@translator'

    # Transformer
    commsy_legacy.transformer.general_settings:
        class: Commsy\LegacyBundle\Form\DataTransformer\GeneralSettingsTransformer
        arguments: ['@commsy_legacy.environment', '@commsy_legacy.room_service', '@commsy_legacy.user_service']

    commsy_legacy.transformer.moderation_settings:
        class: Commsy\LegacyBundle\Form\DataTransformer\ModerationSettingsTransformer
        arguments: ['@commsy_legacy.environment', '@commsy_legacy.room_service', '@commsy_legacy.user_service']

    commsy_legacy.transformer.additional_settings:
        class: Commsy\LegacyBundle\Form\DataTransformer\AdditionalSettingsTransformer
        arguments: ['@commsy_legacy.environment', '@commsy_legacy.room_service', '@commsy_legacy.user_service']

    commsy_legacy.transformer.appearance_settings:
        class: Commsy\LegacyBundle\Form\DataTransformer\AppearanceSettingsTransformer
        arguments: ['@commsy_legacy.environment', '@commsy_legacy.room_service', '@commsy_legacy.user_service']

    commsy_legacy.transformer.extension_settings:
        class: Commsy\LegacyBundle\Form\DataTransformer\ExtensionSettingsTransformer
        arguments:
          - '@commsy_legacy.environment'
          - '@commsy_legacy.room_service'
          - '@commsy_mediawiki.mediawiki'
          - '%commsy.mediawiki.enabled%'

    commsy_legacy.transformer.material:
        class: Commsy\LegacyBundle\Form\DataTransformer\MaterialTransformer
        arguments:
            - '@commsy_legacy.environment'
        
    commsy_legacy.transformer.section:
        class: Commsy\LegacyBundle\Form\DataTransformer\SectionTransformer
        arguments: ['@commsy_legacy.environment']

    commsy_legacy.transformer.user:
        class: Commsy\LegacyBundle\Form\DataTransformer\UserTransformer
        arguments: ['@commsy_legacy.environment']
        
    commsy_legacy.transformer.privateroom:
        class: Commsy\LegacyBundle\Form\DataTransformer\PrivateRoomTransformer
        arguments: ['@commsy_legacy.environment']
        
    commsy_legacy.transformer.item:
        class: Commsy\LegacyBundle\Form\DataTransformer\ItemTransformer
        arguments: ['@commsy_legacy.environment']

    commsy_legacy.transformer.annotation:
        class: Commsy\LegacyBundle\Form\DataTransformer\AnnotationTransformer
        arguments: ['@commsy_legacy.environment']

    commsy_legacy.transformer.announcement:
        class: Commsy\LegacyBundle\Form\DataTransformer\AnnouncementTransformer
        arguments: ['@commsy_legacy.environment']
       
    commsy_legacy.transformer.date:
        class: Commsy\LegacyBundle\Form\DataTransformer\DateTransformer
        arguments: ['@commsy_legacy.environment']
        
    commsy_legacy.transformer.todo:
        class: Commsy\LegacyBundle\Form\DataTransformer\TodoTransformer
        arguments: ['@commsy_legacy.environment']

    commsy_legacy.transformer.step:
        class: Commsy\LegacyBundle\Form\DataTransformer\StepTransformer
        arguments: ['@commsy_legacy.environment']

    commsy_legacy.transformer.discussion:
        class: Commsy\LegacyBundle\Form\DataTransformer\DiscussionTransformer
        arguments: ['@commsy_legacy.environment']
        
    commsy_legacy.transformer.discarticle:
        class: Commsy\LegacyBundle\Form\DataTransformer\DiscussionarticleTransformer
        arguments: ['@commsy_legacy.environment']
        
    commsy_legacy.transformer.group:
        class: Commsy\LegacyBundle\Form\DataTransformer\GroupTransformer
        arguments: ['@commsy_legacy.environment']

    commsy_legacy.transformer.institution:
        class: Commsy\LegacyBundle\Form\DataTransformer\InstitutionTransformer
        arguments: ['@commsy_legacy.environment']

    commsy_legacy.transformer.topic:
        class: Commsy\LegacyBundle\Form\DataTransformer\TopicTransformer
        arguments: ['@commsy_legacy.environment']

    commsy_legacy.transformer.project:
        class: Commsy\LegacyBundle\Form\DataTransformer\ProjectTransformer
        arguments: ['@commsy_legacy.environment']

    commsy_legacy.transformer.portfolio:
        class: Commsy\LegacyBundle\Form\DataTransformer\PortfolioTransformer
        arguments: ['@commsy_legacy.environment']