<div class="cs-edit-spinner uk-hidden uk-position-cover uk-text-center">
    <div class="uk-margin-large-top uk-container-center">
        <i class="uk-icon-spinner uk-icon-small uk-icon-spin"></i>
        {{ 'Edit entry...'|trans }}
    </div>
</div>