<div class="${baseClass}" data-dojo-attach-point="widgetNode">

	<div id="popup_wrapper">
		<div id="popup_edit_stack">
			<div id="popup_frame">
				<div id="popup_inner" class="scrollPopup">
	
					<div id="popup_pagetitle">
						<a id="popup_close" title="${popupTranslations.close}" href="#" data-dojo-attach-event="onclick:Close">
							<img alt="${popupTranslations.close}" src="${templatePath}img/popup_close.gif"/>
						</a>
						<h2 data-dojo-attach-point="titleNode"></h2>
						<div class="clear"></div>
					</div>
					
					<div id="popup_content_wrapper">
					
						<div id="popup_content">
							<form data-dojo-type="dojox/form/Manager" id="limesurveyParticipantsForm" data-dojo-attach-point="formNode">
								<div class="input_row">
									${popupTranslations.inviteIntro}
								</div>
								
								<div class="input_row">
									<label for="lsWithTokensCheckbox">${popupTranslations.useTokens}</label>
									<input id="lsWithTokensCheckbox" class="float-left" name="withTokensCheckbox" type="checkbox" checked="checked"
										data-dojo-attach-point="withTokensCheckboxNode" />
									
									<div class="column_563">
										${popupTranslations.tokenDescription}
									</div>
									
									<div class="clear"></div>
								</div>
								
								<div id="lsWithTokens" data-dojo-attach-point="withTokensNode">
									<div class="input_row">
										<label for="lsGroup">${popupTranslations.group}</label>
										<div data-dojo-attach-point="loadingGroupsNode">
											<span >${popupTranslations.groupLoading}</span>
											<img src="${templatePath}img/ajax_loader.gif"/>
										</div>
										
				                        <select id="lsGroup" class="size_200 hidden" name="group" data-dojo-attach-point="groupSelectNode">
				                        	<option value="none" selected="selected">${popupTranslations.groupNone}</option>
				                        </select>
				                        
				                        <div class="clear"></div>
									</div>
									
									<div class="input_row">
										<label for="lsFirstAdditional">${popupTranslations.additionalLabel}</label>
										<div class="column_585">${popupTranslations.additionalDescription}</div>
										
										<div class="clear"></div>
									</div>
									
									<div class="input_row">
										<a href="#" title="${popupTranslations.additionalAdd}" data-dojo-attach-point="addAdditionalNode">${popupTranslations.additionalAdd}</a>
									</div>
								</div>
								
								<div id="lsNoTokens" class="hidden" style="height: 0px" data-dojo-attach-point="noTokensNode">
									<div class="input_row">
										<label for="lsParticipantMails">${popupTranslations.mailAddresses}<span class="required">*</span></label>
										<div class="column_585">
											<div>
												${popupTranslations.mailAddressesDesc}
											</div>
											<textarea id="lsParticipantMails" name="participantMails" rows="5" cols="60" disabled="disabled" required="true"
												data-dojo-attach-point="participantMailsNode"
												data-dojo-type="commsy/ValidationTextArea"
												data-dojo-props="
													validator:dojox.validate.isEmailAddressList,
													invalidMessage:'${popupTranslations.errorMail}'"></textarea>
										</div>
										
										<div class="clear"></div>
									</div>
									
									<div class="input_row">
										<label for="lsParticipantMailSubject">${popupTranslations.mailSubject}<span class="required">*</span></label>
										<input id="lsParticipantMailSubject" name="participantMailSubject" disabled="disabled" required="true"
											data-dojo-attach-point="participantMailSubjectNode"
											data-dojo-type="dijit/form/ValidationTextBox"
											data-dojo-props="
												validator:dojox.validate.isText,
												invalidMessage:'${popupTranslations.errorMissing}'" />
									</div>
									
									<div class="input_row">
										<label for="lsParticipantMailtext">${popupTranslations.mailText}<span class="required">*</span></label>
										<div class="column_585">
											${popupTranslations.mailTextDesc}
										</div>
										<textarea id="lsParticipantMailtext" name="participantMailtext" rows="10" cols="105" disabled="disabled" required="true"
											data-dojo-attach-point="participantMailtextNode"
											data-dojo-type="commsy/ValidationTextArea"
											data-dojo-props="
												validator:dojox.validate.isText,
												invalidMessage:'${popupTranslations.errorMissing}'">${popupTranslations.mailTemplate}</textarea>
									</div>
								</div>
								
								<div class="input_row">
									<input class="popup_button" type="submit" disabled="disabled" value="${popupTranslations.buttonSubmit}" data-dojo-attach-point="submitNode" />
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	
</div>