{% extends 'layout.html.twig' %}

{% form_theme portalForm 'form/uikit3/uikit_horizontal_layout.html.twig' %}
{% form_theme serverForm 'form/uikit3/uikit_horizontal_layout.html.twig' %}

{% block sidebar_left %}
    {% embed 'components/context_navigation.html.twig' %}
        {% block menu %}{{ knp_menu_render('portal_settings', { 'template': 'menu/knp_menu_sidebar_uikit3.html.twig' } ) }}{% endblock %}
    {% endembed %}
{% endblock %}

{% block main %}
    {% embed 'components/card.html.twig' %}
        {% block title %}{{ 'announcements'|trans({}, "portal") }}{% endblock %}

        {% block body %}
            <ul uk-tab>
                <li class="{% if tab is same as 'portal' %}uk-active{% endif %}"><a href="#">Portal</a></li>
                {% if is_granted('ROOT') %}<li class="{% if tab is same as 'server' %}uk-active{% endif %}"><a class="uk-text-danger" href="#">Server</a></li>{% endif %}
            </ul>

            <ul class="uk-switcher uk-margin">
                <li>{{ form(portalForm) }}</li>
                {% if is_granted('ROOT') %}<li>{{ form(serverForm) }}</li>{% endif %}
            </ul>
        {% endblock %}
    {% endembed %}
{% endblock %}