/*
----------------------------------------------------------------------
    build in: April 2012
    copyright: banality GmbH
    location: Essen-Germany, www.banality.de
----------------------------------------------------------------------
*/



/*
----------------------------------------------------------------------
global structure - tag definitions
----------------------------------------------------------------------
*/

body {
    margin: 0px;
    border: 0px none;
    border-top: 5px solid #323232;
    padding: 0px;
    background-color: #FFF;
    color: #323232;
    font-family: arial, sans-serif;
    text-align: left;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    }

p, form {
    margin: 0px;
    border: 0px none;
    padding: 0px;
    }

img {
    border: 0px none;
    }



/*
----------------------------------------------------------------------
grid - id and class selectors
----------------------------------------------------------------------
*/

.clear {
    clear: both;
    }

.wrapper {
    margin: 0 auto;
    width: 940px;
    text-align: left;
    }

#header {
    border-bottom: 10px solid #F07E01;
    background: url(img/header_bg.jpg);
    }

#main_content {
    border-top: 1px solid #FFF;
    background: url(img/maincont_bg.jpg);
    padding-top: 30px;
    }

#footer {
    padding: 30px 0px 60px 0px;
    }

#btn_login {
    position: absolute;
    top: 66px;
    right: 0px;
    background: url(img/btn_login.gif) no-repeat;
    width: 36px;
    height: 83px;
    text-decoration: none;
    }

#btn_login:hover {
    background: url(img/btn_login.gif) no-repeat -36px 0px;
    width: 36px;
    height: 83px;
    text-decoration: none;
    }



/*
----------------------------------------------------------------------
header and main_navigation
----------------------------------------------------------------------
*/

#portal_logo {
    padding: 20px 0px;
    }

#language_switch {
    float: right;
    padding: 4px 20px 0px 0px;
    }

#language_switch a {
    color: #323232;
    text-decoration: none;
    }

a#lang_active {
    color: #A6A6A6 !important;
    }

a#lang_active:hover, a#lang_nonactive:hover {
    color: #F07E01 !important;
    text-decoration: underline;
    }

#contact_href {
    float: right;
    background: url(img/contact_href_bg.gif) no-repeat;
    width: 83px;
    height: 27px;
    text-decoration: none;
    color: #EAEAEA;
    }

#contact_href:hover {
    color: #F07E01 !important;
    }

#contact_down {
    background: url(img/contact_down.gif) no-repeat 65px 10px;
    padding: 4px 0px 0px 13px;
    display: block;
    }

#contact_up {
    background: url(img/contact_up.gif) no-repeat 65px 10px;
    padding: 4px 0px 0px 13px;
    display: block;
    }

#main_navigation {
    background: url(img/main_nav_bg.jpg) #F07E01 no-repeat right top;
    height: 45px;
    padding: 0px;
    margin: 0px 0px 30px 0px;
    }

#main_navigation li {
    list-style-type: none;
    float: left;
    }

#main_navigation a {
    text-decoration: none;
    display: block;
    }

#home_active {
    height: 45px;
    width: 46px;
    background: url(img/home_icon.gif) -46px no-repeat;
    }

#home_active:hover, #home_normal:hover {
    background: url(img/home_icon.gif) -92px no-repeat;
    }

#home_normal {
    height: 45px;
    width: 46px;
    background: url(img/home_icon.gif) no-repeat;
    }

.mn_normal {
    border-left: 1px solid #DFE0E9;
    padding: 14px 8px;
    font-size: 13px;
    font-weight: bold;
    color: #FFF;
    }

.mn_normal:hover, #mn_active:hover {
    background-color: #323232;
    }

#mn_active {
    border-left: 1px solid #DFE0E9;
    padding: 14px 12px;
    font-size: 13px;
    font-weight: bold;
    color: #F07E01;
    background-color: #FFF;
    }



/*
----------------------------------------------------------------------
slide-in contact
----------------------------------------------------------------------
*/

#contact_area {
    padding: 30px 0px 60px 0px;
    background: url(img/contact_bg.jpg);
    color: #E8E7EA;
    font-size: 14px;
    line-height: 20px;
    }

#contact_col_01 {
    width: 425px;
    margin-right: 40px;
    float: left;
    }

#contact_col_02 {
    width: 475px;
    float: left;
    }

#contact_area h2 {
    padding: 0px 0px 15px 0px;
    margin: 0px;
    font-size: 14px;
    }

#contact_location {
    padding-top: 30px;
    }

#contact_location a {
    color: #E8E7EA;
    text-decoration: none;
    }

#contact_location a:hover {
    color: #F07E01;
    text-decoration: none;
    }

.field_item {
    background: url(img/field_bg.jpg) left bottom no-repeat;
    padding-bottom: 15px;
    }

label {
    padding-bottom: 5px;
    }

#contact_area input, #contact_area textarea {
    width: 280px;
    background: url(img/form_bg.jpg) no-repeat #FFF;
    border: 0px none;
    padding: 10px;
    font-family: arial, sans-serif;
    font-size: 14px;
    }

#contact_area label {
    display: block;
    }

#form_actions {
    padding-top: 15px;
    }

#btn_send {
    background: url(img/btn_send_bg.jpg) no-repeat !important;
    color: #E8E7EA !important;
    text-align: left;
    padding: 7px 0px 9px 15px !important;
    font-weight: bold;
    width: 130px !important;
    }

#fa_more {
    float: right;
    margin-right: 123px;
    padding-right: 12px;
    color: #F07E01;
    text-decoration: none;
    font-size: 12px;
    background: url(img/arrow_orange_down.gif) no-repeat right 6px;
    }

#fa_less {
    float: right;
    margin-right: 123px;
    padding-right: 12px;
    color: #F07E01;
    text-decoration: none;
    font-size: 12px;
    background: url(img/arrow_orange_up.gif) no-repeat right 6px;
    }

#fa_more:hover, #fa_less:hover {
    color: #E8E7EA;
    }



/*
----------------------------------------------------------------------
home, prestige and teaser
----------------------------------------------------------------------
*/

#prestige_home {
    margin: 0px 0px 30px 0px;
    padding: 0px;
    }

#prestige_01, #prestige_02 {
    margin-right: 20px;
    }

#prestige_01, #prestige_02, #prestige_03 {
    width: 300px;
    background: url(img/prestige_bg.jpg) no-repeat #FFF;
    float: left;
    text-align: center;
    }

#prestige_01 img, #prestige_02 img, #prestige_03 img {
    padding: 10px 10px 30px 10px;
    }

#prestige_home h2 {
    padding: 0px 10px 10px 10px;
    margin: 0px;
    font-size: 18px;
    }

#prestige_home p {
    padding: 0px 30px 30px 30px;
    margin: 0px;
    height: 18px;
    display: block;
    overflow: hidden;
    }

.more_button {
    margin: 0px auto;
    display: block;
    width: 107px;
    height: 26px;
    background: url(img/more_button.jpg) no-repeat;
    font-weight: bold;
    color: #FFF;
    text-align: left;
    padding: 8px 0px 0px 20px;
    text-decoration: none;
    font-size: 14px;
    }

.more_button:hover {
    background: url(img/more_button.jpg) -127px 0px no-repeat;
    }

.ph_content {
    background: url(img/prestige_bg_bottom.jpg) no-repeat left bottom;
    padding-bottom: 30px;
    }

#teaser_home {
    padding-bottom: 30px;
    }

#teaser_01, #teaser_02 {
    margin-right: 20px;
    }

#teaser_01, #teaser_02, #teaser_03 {
    width: 300px;
    height: 100px;
    background: url(img/teaser_bg.jpg) no-repeat #FFF;
    float: left;
    text-align: center;
    }

#teaser_home h2 {
    padding: 26px 10px 10px 10px;
    margin: 0px;
    font-size: 18px;
    }

#teaser_home a {
    color: #323232;
    text-decoration: none;
    padding-right: 10px;
    background: url(img/arrow_grey_right.gif) no-repeat right 4px;
    }

#teaser_home a strong {
    padding-left: 5px;
    }

#teaser_home a:hover {
    color: #F07E01;
    }

#welcome_home {
    width: 600px;
    margin-right: 40px;
    float: left;
    padding-bottom: 30px;
    }

#welcome_home h1 {
    padding: 0px 0px 10px 0px;
    margin: 0px;
    font-size: 18px;
    color: #F07E01;
    }

#welcome_home h1 span {
    color: #323232 !important;
    }

#login_home {
    width: 300px;
    float: left;
    padding-bottom: 30px;
    }



/*
----------------------------------------------------------------------
follow, columnset and content
----------------------------------------------------------------------
*/

#left_column {
    width: 300px;
    margin: 0px 30px 45px 0px;
    float: left;
    }

#right_column {
    width: 610px;
    float: left;
    }

.lc_portlet {
    background: url(img/left_col_bg.jpg) no-repeat;
    }

.lc_portlet_content {
    padding: 20px 20px 30px 20px;
    background: url(img/left_col_bottom_bg.jpg) bottom left no-repeat;
    }

#sec_navigation h2 {
    padding: 0px 0px 20px 0px;
    margin: 0px;
    font-size: 18px;
    }

#sec_navigation a {
    border-top: 0px solid #C9C8CB;
    font-size: 12px;
    font-weight:normal;
    padding: 8px 0px;
    text-decoration: none;
    }

.level_02 {
    background: url(img/level_02_normal.gif) no-repeat 0px 10px;
    padding-left: 22px !important;
    color: #323232;
    }

#level_02_active {
    background: url(img/level_02_active.gif) no-repeat 0px 10px;
    padding-left: 22px !important;
    color: #F07E01;
    }

.level_03 {
    background: url(img/level_03_normal.gif) no-repeat 0px 10px;
    padding-left: 35px !important;
    color: #323232;
    }

#level_03_active {
    background: url(img/level_03_active.gif) no-repeat 0px 10px;
    padding-left: 35px !important;
    color: #F07E01;
    }

.level_02:hover, #level_02_active:hover {
    color: #F07E01;
    background: url(img/level_02_active.gif) no-repeat 0px 10px #FFF;
    }

.level_03:hover, #level_03_active:hover {
    color: #F07E01;
    background: url(img/level_03_active.gif) no-repeat 0px 10px #FFF;
    }

#breadcrumb {
    color: #F07E01;
    font-size: 12px;
    }

#breadcrumb a {
    color: #F07E01;
    text-decoration: none;
    }

#breadcrumb a:hover {
    color: #323232;
    text-decoration: underline;
    }

#page_content {
    padding-bottom: 60px;
    }

#page_content h1 {
    padding: 30px 0px 15px 0px;
    margin: 0px;
    font-size: 18px;
    color: #F07E01;
    }

#page_content h2 {
    padding: 0px 0px 5px 0px;
    margin: 0px;
    font-size: 14px;
    }

#page_content a {
    color: #F07E01;
    }

#page_content a:hover {
    color: #323232;
    }

#page_content ol {
    padding: 0px 20px;
    margin: 0px;
    }

#page_content ul {
    padding: 0px 15px;
    margin: 0px;
    list-style-image: url(img/arrow_grey_right.gif);
    }

.float_right {
    float: right;
    padding: 0px 0px 30px 30px;
    }



/*
----------------------------------------------------------------------
footer
----------------------------------------------------------------------
*/       

#footer_links {
    border-bottom: 1px solid #C9C9C9;
    padding-bottom: 10px;
    margin-bottom: 30px;
    }
    
#footer_links a {
    color: #323232;
    text-decoration: none;
    }
  
#footer_links a:hover {
    color: #F07E01;
    text-decoration: underline;
    }    

#footer_logos a {
    text-decoration: none;
    display: block;
    float: left;
    }
    
#logo_eu {
    width: 158px;
    height: 97px;
    margin-right: 122px;
    background: url(img/logo_eu.gif) no-repeat;
    }    

#logo_eu:hover {
    background: url(img/logo_eu.gif) -158px top no-repeat;
    }    

#logo_eu_neu {
    width: 254px;
    height: 46px;
    margin-right: 105px;
    margin-top: 20px;
    background: url(img/logo_eu_neu.gif) no-repeat;
    }   

#logo_eu_neu:hover {
    background: url(img/logo_eu_neu.gif) -254px top no-repeat;
    } 
    
#logo_aul {
    width: 115px;
    height: 54px;
    margin-top: 12px;
    margin-right: 124px;
    /* margin-right: 160px; */
    background: url(img/logo_aul.gif) no-repeat;
    }    

#logo_aul:hover {
    background: url(img/logo_aul.gif) -115px top no-repeat;
    }  
    
#logo_hib {
    width: 101px;
    height: 91px;
    margin-right: 124px;
    /* margin-right: 170px; */
    background: url(img/logo_hib.gif) no-repeat;
    }    

#logo_hib:hover {
    background: url(img/logo_hib.gif) -101px top no-repeat;
    }  
    
#logo_hh {
    width: 114px;
    height: 74px;
    background: url(img/logo_hh.gif) no-repeat;
    }    

#logo_hh:hover {
    background: url(img/logo_hh.gif) -114px top no-repeat;
    }        




