/* used individual colors */
/* Sonnenuntergang.jpg -> Background-Image */
/* ___CS_BG_COLOR___={#fcc7dc} */
/* #822248 -> CS_COLOR_ACTIVE_MENUE*/
/* #dfa5bc -> CS_COLOR_MENUE*/
/* #b9386c -> CS_COLOR_RIGHT_COLUMN*/
/* #fd9dc3 -> CS_CONTENT_BG_COLOR*/
/* #ae2b5f -> CS_LINK_COLOR*/
/* #881543 -> CS_LINK_HOVER_COLOR*/
/* #dfa5bc -> CS_ACTION_BG_COLOR*/
/* #c26b8e -> CS_ACTION_ICON_COLOR*/
 /*#ac5175 -> CS_ACTION_ICON_HOVER_COLOR*/

/**************************/


/* Body*/

body {
    background-image: url("img/bg.jpg"); /* Background-Image */
    background-repeat: repeat;
    background-position: 50% 50%;
    background-color: #000 /*CS_BG_COLOR*/
}

#logo_area span {
    color: #d5d5d5;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 1px #CCCCCC;
}


/* Navigation */

#main_navigation {
	background: url("img/main_nav_bg.jpg") repeat-x scroll 0 0 transparent;
	}

#main_navigation #active {
	background: url("img/active_bg.jpg") repeat-x scroll 0 0 transparent;
	border-bottom: 1px solid #90030b; /*CS_COLOR_ACTIVE_MENUE*/
}

#main_navigation #site_actions {
    background: none;
    border-left: 1px solid #d5d5d5;
}


/* Right Column */
#right_column {
    border-top: none;
}

#columnset {
	background: url("img/columns_bg.jpg") repeat-y scroll right top #D7D7D9;
    border-left: 1px solid #999999;
}

#info_area_row_1, #info_area_row_2, #info_area_row_3 {
    border-right: 1px solid #999999;
}

#rc_portlet_area {
    background: none;
}

#info_addon {
	background:none;
	border-bottom: 1px solid #999999;
    border-top: 1px solid #999999;
    color: #d5d5d5;
    text-shadow: none;
}

#footer_right {
	background: url("img/columns_bg.jpg") repeat-y scroll right top #D7D7D9;
    color: #d5d5d5;
    border-right: 1px solid #c30009;
}

#addon_area_row_1 {
    border-left: 0px solid #b9386c; /*CS_COLOR_RIGHT_COLUMN*/
}

.portlet_rc h2 {
    border-bottom: 1px solid #999999;
    color: #d5d5d5;
    text-shadow: none;
}

.portlet_rc_body {
    border-top: 0px solid #999999;
    color: #d5d5d5;
}

.portlet_rc_body .change_view select {
    background: #efefef; /*CS_COLOR_RIGHT_COLUMN*/
    border: 1px solid #999999;
    color: #393939;
}

a.keywords_s1, a.keywords_s2, a.keywords_s3, a.keywords_s4 {
    color: #d5d5d5;
    text-shadow: none;
}

#dis_navigation {
    border-top: 0px solid #999999;
}

/*Content*/


#footer_right span {
    border-top: 1px solid #999999;
    display: block;
    padding: 10px 0 8px;
}

#footer_right p {
	border-top: none;
    text-shadow: none;
}


a {
   color: #90030b; /*CS_LINK_COLOR*/
}

a:hover {
   color: #90030b; /*CS_LINK_HOVER_COLOR*/
}

.row_odd_no_hover a, .row_even_no_hover a {
    color: #90030b;
    text-decoration: none;
}

.row_odd_no_hover a:hover, .row_even_no_hover a:hover {
    color: #90030b;
    text-decoration: none;
}


/* FORM */

#item_postnew {
    background: none;
}


