#page-title{
  position:absolute;
  top: 114px;
  left:auto;
  padding:0px 10px;
  color:white;
  font-family: Univers 65 Bold;
  font-weight:bold;
}

#mainnavigation li{
	display: inline;
	text-transform: uppercase;
	color: #124877;
	font-weight: bold;
	padding: 0px 10px 5px 10px;
	border-bottom: 3px solid #759FC5;
}
#mainnavigation a{
   font-size:10pt;
}

body{
   margin-top:0px;
   padding:0px;
}

#service {
   font-size:8pt;
   margin:0px 0px 0px 0px;
   padding:8px 0px 0px 0px;
   text-align:right;
}