{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": [
          "last 2 versions"
        ],
        "targets": {
          "ie": "11"
        },
        "uglify": true
      },
      "useBuiltIns": true
    }]
  ]
}
