############
## CommSy
############
commsy/etc/cs_config.php
commsy/etc/commsy/*.php
commsy/htdocs/javascript/jQuery/commsy_min/*
commsy/htdocs/templates/templates_c/*
commsy/var/*
commsy/libs/HTMLPurifier/HTMLPurifier/DefinitionCache/*

############
## OSX
############
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

############
## Windows
############
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
