{% extends 'App:base:portal.html.twig' %}
{% form_theme form 'App:form:uikit_horizontal_layout.html.twig' %}

{% block content %}
    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-1-1">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser cs-panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div class="uk-text-large">{{ 'Import users from csv file'|trans({}, "portal") }}</div>
                    </div>
                </div>

                <div>
                    <div class="uk-grid">
                        {# form column #}
                        <div class="uk-width-3-4">
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            {{ form_end(form) }}
                        </div>

                        {# show existing categories #}
                        <div class="uk-width-1-4">
                            info
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}