{% extends 'layout.html.twig' %}

{% block top_navigation_left %}
    <div class="uk-navbar-item uk-text-large">
        <div class="uk-navbar-item">
            <a class="uk-text-large" href="{{ path('app_server_show') }}">
                Portalübersicht
            </a>
        </div>
    </div>
{% endblock %}

{% block main %}
    Impressum
{% endblock %}