<div class="uk-card uk-card-{{ style }} uk-card-small{% if not padding %} uk-padding-remove{% endif %}">

    <div class="uk-card-header{% if not padding %} uk-margin-remove{% endif %}{% if severity %} cs-panel-teaser-{{ severity }}{% endif %}"{% if sticky %} uk-sticky{% endif %}>
        <div class="uk-flex">
            <div class="uk-flex-inline uk-flex-1">
                {% if title %}
                    <h3 class="uk-card-title uk-margin-remove-bottom">{{ title }}</h3>
                {% endif %}

                {% block teaser_left %}{% endblock %}
            </div>
            <div class="uk-flex-none">
                {% block teaser_right %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="uk-card-body">
        {% block content %}{% endblock %}
    </div>
</div>
