{% form_theme form 'CommsyBundle:Form:uikit_stacked_layout.html.twig' %}

<div class="uk-margin-left uk-margin-right uk-margin-bottom uk-position-relative">
    {% include 'CommsyBundle:Utils:saveSpinner.html.twig' %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
</div>