/* used individual colors */
/* Sonnenuntergang.jpg -> Background-Image */
/* ___CS_BG_COLOR___={#fcc7dc} */
/* #822248 -> CS_COLOR_ACTIVE_MENUE*/
/* #dfa5bc -> CS_COLOR_MENUE*/
/* #b9386c -> CS_COLOR_RIGHT_COLUMN*/
/* #fd9dc3 -> CS_CONTENT_BG_COLOR*/
/* #ae2b5f -> CS_LINK_COLOR*/
/* #881543 -> CS_LINK_HOVER_COLOR*/
/* #dfa5bc -> CS_ACTION_BG_COLOR*/
/* #c26b8e -> CS_ACTION_ICON_COLOR*/
 /*#ac5175 -> CS_ACTION_ICON_HOVER_COLOR*/

/**************************/


/* Body*/

body {
    background-image: url("img/bg.jpg"); /* Background-Image */
    background-repeat: repeat;
    background-color: #FFF /*CS_BG_COLOR*/
}

#search_area {
    background: url("img/search_area_bg.gif") no-repeat scroll 0 0 transparent;
}

/* Navigation */

#main_navigation {
	background: url("img/main_nav_bg.jpg") repeat-x scroll 0 0 transparent;
	}

#main_navigation #active {
	background: url("img/active_bg.jpg") repeat-x scroll 0 0 transparent;
	border-bottom: 1px solid #fdf98a; /*CS_COLOR_ACTIVE_MENUE*/
}

#main_navigation ul {
    border-right: 0px solid #b3b26b; /*CS_COLOR_ACTIVE_MENUE*/
}

#main_navigation .non_active a {
    border-left: none;
    border-right: 1px solid #b3b26b; /*CS_COLOR_ACTIVE_MENUE*/
    color: #454545;
}

#main_navigation #active a {
    border-right: 1px solid #b3b26b; /*CS_COLOR_ACTIVE_MENUE*/
    color: #454545;
}

#main_navigation .non_active {
    background: none; /*CS_COLOR_MENUE*/
}

#main_navigation ul#right_navigation {
    border-left: 1px solid #b3b26b; /*CS_COLOR_ACTIVE_MENUE*/
    border-right: none;
}

#main_navigation .non_active a {
    border-left: none;
    border-right: 1px solid #b3b26b; /*CS_COLOR_ACTIVE_MENUE*/
    color: #000000;
}

#main_navigation #site_actions {
    background: none;
    border-left: 1px solid #787878;
}

#main_navigation .non_active a:hover {
    color: #454545;
    border-left: none;
    border-right: 1px solid #b3b26b;
    background: #fcfbd9;
    }

#main_navigation h1 {
    color: #787878;
    font-size: 12px;
    padding: 12px 10px;
}


/* Right Column */
#right_column {
    border-top: none;
}

#columnset {
	background: url("img/columns_bg.jpg") repeat-y scroll right top #e1e1e1;
    border-left: 1px solid #a8a42f;
}

#info_area_row_1, #info_area_row_2, #info_area_row_3 {
    border-right: 1px solid #a8a42f;
}

#rc_portlet_area {
    background: none;
}

#info_addon {
	background:none;
	border-bottom: 1px solid #a8a42f;
    border-top: 1px solid #a8a42f;
    color: #787878;
    text-shadow: none;
}

#footer_right {
	background: url("img/columns_bg.jpg") repeat-y scroll right top #D7D7D9;
    color: #787878;
    border-right: 1px solid #fcfaba;
}

#addon_area_row_1 {
    border-left: 0px solid #b9386c; /*CS_COLOR_RIGHT_COLUMN*/
}

.portlet_rc h2 {
    border-bottom: 1px solid #a8a42f;
    color: #787878;
    text-shadow: none;
}

.portlet_rc_body {
    border-top: 0px solid #a8a42f;
    color: #787878;
}

.portlet_rc_body .change_view select {
    background: #FFF; /*CS_COLOR_RIGHT_COLUMN*/
    border: 1px solid #a8a42f;
    color: #393939;
}

a.keywords_s1, a.keywords_s2, a.keywords_s3, a.keywords_s4 {
    color: #787878;
    text-shadow: none;
}

#dis_navigation {
    border-top: 0px solid #a8a42f;
}

#dis_navigation a, a.context_nav {
    color: #787878;
    display: block;
    text-decoration: none;
}

#netnavigation a {
    color: #787878;
    text-decoration: none;
}

.portlet_rc_list {
    color: #787878;
    float: right;
    line-height: 16px;
}

.row_odd_no_hover a, .row_even_no_hover a {
    color: #0f3800;
    text-decoration: none;
}

#footer_right a {
    color: #787878;
    display: block;
    font-size: 10px;
    line-height: 14px;
    text-decoration: none;
}

/*Content*/
.table_head {
	background: url("img/ci_head_bg.png") repeat-x scroll left bottom transparent;
    border-bottom: 1px solid #cec939;
}

.content_item .item_info {
	background: url("img/ci_head_bg.png") repeat-x scroll left bottom transparent;
    text-shadow: none;
    border-bottom:1px solid #cec939;
}

.content_item h2 span {
    color: #454545;
    padding-left: 5px;
}

#footer_left {
    background-color: #FFF; /*CS_CONTENT_BG_COLOR*/
    border-left: 1px solid #a8a42f;
    color: #454545;
}

#footer_right span {
    border-top: 1px solid #a8a42f;
    display: block;
    padding: 10px 0 8px;
}

#footer_right p {
	border-top: none;
    text-shadow: none;
}

.content_item h2 {
	background: url("img/ci_head_bg.png") repeat-x scroll left bottom transparent;
	border-bottom:1px solid #cec939;
	color: #454545;
}

a {
   color: #454545; /*CS_LINK_COLOR*/
}

a:hover {
   color: #454545; /*CS_LINK_HOVER_COLOR*/
}

.odd_sep_home {
    background-color: #fbfbed;
}

.row_odd_no_hover a, .row_even_no_hover a {
    color: #454545;
    text-decoration: none;
}

.row_odd_no_hover a:hover, .row_even_no_hover a:hover {
    color: #454545;
    text-decoration: none;
}


.row_odd {
    background-color: #fbfbed;
}


ul.dynatree-container a {
    color: #787878;
    margin: 0 0 0 3px;
    text-decoration: none;
    vertical-align: top;
}


/* Actions */

#content_with_actions {
	background: url("img/cwa_bg.jpg") repeat-y scroll 0 0 transparent;
}

.item_actions a {
    background: url("img/ia_norm_bg.jpg") repeat-y scroll 0 0 transparent;
}

.item_actions a:hover {
    background: url("img/ia_active_bg_2.jpg") repeat-y scroll 0 0 transparent;
}

a.item_actions_glow {
    background: url("img/ia_active_bg_2.jpg") repeat-y scroll 0 0 transparent;
}


/* FORM */

#item_postnew {
    background: none;
}


