@CHARSET "UTF-8";

/* ----------------- imports ----------------- */
@import url(css/reset.css);
@import url(css/menues.css);
@import url(css/landing-page.css);
@import url(css/extensions.css);
@import url(css/flexible-elements.css);
@import url(css/rte.css);
@import url(css/tt-news.css);
@import url(css/powermail.css);
@import url(css/mailform.css);

/* ----------------- fonts ----------------- */

@font-face {
    font-family: 'HelveticaNeueLTStd57Condensed';
    src: url('fonts/helveticaneueltstd-cn-webfont.eot');
    src: url('fonts/helveticaneueltstd-cn-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneueltstd-cn-webfont.woff') format('woff'),
         url('fonts/helveticaneueltstd-cn-webfont.ttf') format('truetype'),
         url('fonts/helveticaneueltstd-cn-webfont.svg#HelveticaNeueLTStd57Condensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd37ThCn';
    src: url('fonts/helveticaneueltstd-thcn-webfont.eot');
    src: url('fonts/helveticaneueltstd-thcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneueltstd-thcn-webfont.woff') format('woff'),
         url('fonts/helveticaneueltstd-thcn-webfont.ttf') format('truetype'),
         url('fonts/helveticaneueltstd-thcn-webfont.svg#HelveticaNeueLTStd37ThCn') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ----------------- globals ----------------- */
* {
  margin: 0;
  padding: 0;
}

body {
    line-height: 1;
}

html, body{
  height:100%;
}

body {
  background: url(images/bg_body.png) repeat-x top left #F6F6F6;
  height:100%;
  color: #333;
  /* font: 13px / 1.3 sans-serif; */
  font: 12px / 1.5 sans-serif;
  
}

/* ----------------- links ----------------- */
a {
    text-decoration: none;
}

a:link {
    color: #3163a8;
    text-decoration: none;
  -moz-transition: all 0.2s ease 0s;
}

a:visited {
    color: #3163a8;
    text-decoration: none;
  -moz-transition: all 0.2s ease 0s;
}

a:hover {
    color: #3163a8;
    text-decoration: underline;
  -moz-transition: all 0.2s ease 0s;
}

/* ----------------- headings ----------------- */
h1, h2, h3, h4 {
    margin: 0;
  font-weight: normal;
}

h1 {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 36px;
  font-family: 'HelveticaNeueLTStd37ThCn';
  color: #ffffff;
}

h2 {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 20px;
  font-family: 'HelveticaNeueLTStd57Condensed';
  color: #000000;
  text-transform: uppercase;
}

h2.csc-firstHeader {
  padding-top: 0px;
}

#content-container .sidebar-right h2 {
  font-size: 16px;
  padding-bottom: 10px;
}

h3 {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 16px;
  font-family: 'HelveticaNeueLTStd57Condensed';
  color: #000000;
}

h4 {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 14px;
  font-family: 'HelveticaNeueLTStd57Condensed';
  color: #000000;
}

p {
  padding-bottom: 15px;
}

/* ----------------- lists ----------------- */
ul {
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0;
  padding: 0;
}

#content-container .site-content ul {
  padding: 0 0 10px 12px;
}

#content-container .site-content ul li {
  list-style: square;
}

/* ----------------- table ----------------- */

table {
  width: 100%;    
}

/* ----------------- structure ----------------- */

.gs96 {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}
      
#page {
    background: #FFFFFF;
    border-color: #FFFFFF;
    border-style: solid;
/*    border-width: 0 10px; */
/*    margin: 0 auto; */
/*    max-width: 1380px;
*/     max-width: 1000px;
    position: relative;
}

#page-container {
    height: auto !important;
    margin: 0;
    min-height: 100%;
}

#header {
  height:96px;
  background: url(images/bg_header.png) repeat-x top left #FBFCFD;
    width: 100%;
  margin-bottom: 34px;
}

#header-container {
    position: relative;
}

#navi {
    left: 0;
    position: absolute;
    top: 96px;
    width: 100%;
    z-index: 9999;
  background: url(images/bg_menu.jpg) repeat-x top left #012F59;
  display: none;
}

#navi-container {
    
}

#picture {
  background-repeat: no-repeat;
  background-position: top left;
    background-position: center 0;
    background-repeat: no-repeat;
    width: 100%;
  display: none;  
}

.landing-page #picture {
	height: 300px;
}

#picture-container {
  position:relative;
  height: 210px;
}

.landing-page #picture-container,
.career-page #picture-container {
  height: 400px;
}

#picture-container.big-picture {
  height: 400px;
}

#logo {
  margin-left: -20px;
}

#headmenu {
  position:absolute;
  right: 0;
  top: 8px;
}

#headmenu ul li:first-child a{
  text-indent: -99999px;
  background:  url("images/ico_mainbg.png") no-repeat top left;
  display: block;
  height: 39px;
  width: 63px;
}

#headmenu ul li {
  float:left;
  padding: 0 5px;
  border-right: 1px solid #DEE0E6;
  line-height: 70%;
}

#headmenu ul li:last-child {
  border-right: none;
}

#headmenu ul li a{
  color: #316B9F;
  font-size: 11px;
  display: none !important;
}

#search {
  position:absolute;
  top: 53px;
  right: 0px;
  width:195px;
  display: none;
}

form#indexedsearch {
  width: 210px;
}

#search input.searchbox-sword {
    border-left: 1px solid #DEE0E6;
    border-top: 1px solid #DEE0E6;
    border-bottom: 1px solid #DEE0E6;
    border-right: none;
    color: #666;
    font-size: 11px;
    height: 18px;
    line-height: 18px;
    padding: 1px 2px 1px 8px;
    text-decoration: none;
    width: 180px;
    float:left;
}

#search input.searchbox-button {
    border: none;
    border-right: 1px solid #DEE0E6;
    text-indent:-9999px;
    height: 18px;
    line-height: 18px;
    width: 20px;
    float: left;
    margin: 6px 1px 0 -22px;
    padding: 1px 0 1px 1px;
}

#language {
  position:absolute;
  right: 215px;
  top: 59px;
  color: #fff;
  font-size: 11px;
  display: none;
}

#language .selector {
  float: right;
  background: #003056;
  padding: 3px 13px;
}

#language ul {
  float: left;
  display: none;
}

#language ul li {
  float: left;
  padding: 3px 7px;
  border-right: 1px solid #fff
}

#language ul li a{
  color: #fff;
}

#pagetitle {
    position: absolute;
    top: 52px;
    visibility: hidden;
}

#third-level-menu {
    background: url("images/bg_menu.jpg") repeat-x scroll left top #012F59;
    bottom: 0;
    margin: 0 0 35px 0;
    overflow: hidden;
    position: absolute;
    left: 200px;
    height: 34px;
/*    width: 970px;
*/
    width: 761px;
}

#content {
    height: auto !important;
}

#content-container {
  background: #FFF;
/*
  border-left: 1px solid #B7C5D0;
  border-right: 1px solid #B7C5D0;
  border-bottom: 1px solid #B7C5D0;
*/  
  min-height: 200px;
  margin-top: -35px;
}

/*
.landing-page #content-container,
.career-page #content-container {
  margin-top: -30px;
}
*/

#content-container h1{
  color: #333333;
}

#content-container .sidebar-left {
  width: 200px;
  float:left;
  margin: 0 20px 30px 0;
  display: none;
}
#content-container .sidebar-right {
  width: 200px;
  float:right;
/*  margin: 35px 0 30px 20px; */
  margin: 57px 0 30px 20px;
}

.career-page #content-container .sidebar-right {
  width: 278px;
  margin: 0 30px 30px 0;
}

#content-footer-container {
  color: #74869F;
  font-size:11px;
  padding: 15px 0px;
}

#content-footer-container .copyright {
  float:left;
}

#content-footer-container .meta-menu{
  float:right;
}

#content-container .site-content {
  float:left;
  width: 520px;
  padding: 30px 0;
}

.career-page #content-container .site-content {
  margin: 0 0 0 30px; 
  width: 590px
}

#footer-container, #footer-push {
  height: 450px;
}

#footer {
  background: url(images/bg_footer.jpg) repeat-x top left #FAFBFD;
    clear: both;
    color: #666666;
    height: auto !important;
    min-height: 520px;
    width: 100%;
    display: none;
}
#footer-container  {
  margin: 0 auto;  
  background: url(images/bg_footer_shadow.jpg) no-repeat top center;
  padding: 0 0 0 0;
}

#footer .footer-logo  {
/*  background: url(images/bg_footer_logo.gif) no-repeat right bottom;
  height: 440px;*/
  height: 0px;
    padding: 0 0 60px;
  
}

#footer-container ul.footer-links {
  padding: 35px 20px 0 0;
    float: left;
  width:160px;
}

#footer-container ul.footer-links-wide {
  width:400px;
}

#footer-container ul.footer-links li a {
  color: #74869F;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 0 0 10px;
}

#footer-container ul.footer-links li li a {
  color: #95A0B0;
  font-size:12px;
  font-weight: normal;
  padding: 2px 0px;
}

/* ----------------- forms ----------------- */

input,
textarea {
  border: 1px solid #E5E9EB;  
  padding: 2px 5px;
  margin: 5px 0 10px;
}

input[type="submit"] { 
  background-color: #012E57;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#001C36), to(#012E57)); 
  background-image: -webkit-linear-gradient(top, #001C36, #012E57); 
  background-image:    -moz-linear-gradient(top, #001C36, #012E57); 
  background-image:     -ms-linear-gradient(top, #001C36, #012E57); 
  background-image:      -o-linear-gradient(top, #001C36, #012E57); 
  background-image:         linear-gradient(top, #001C36, #012E57);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#001C36', EndColorStr='#012E57'); 
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 10px 0px;
    padding: 4px 10px;
    font-size: 16px;
  font-family: 'HelveticaNeueLTStd57Condensed';
  font-weight: normal;
}

input[type="submit"]:hover {
  background-color: #012E57;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#012E57), to(#001C36)); 
  background-image: -webkit-linear-gradient(top, #012E57, #001C36); 
  background-image:    -moz-linear-gradient(top, #012E57, #001C36); 
  background-image:     -ms-linear-gradient(top, #012E57, #001C36); 
  background-image:      -o-linear-gradient(top, #012E57, #001C36); 
  background-image:         linear-gradient(top, #012E57, #001C36);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#012E57', EndColorStr='#001C36'); 
}

.filelinks li {
	list-style: none outside none !important;
}

.filelinks ul {
	margin: 0 !important;
	padding: 0 !important;
}