<div class="${baseClass} widget_208" data-dojo-attach-point="widgetNode">
	<div class="innerWidgetArea">
		<div class="widget_head">
			<h3 class="pop_widget_h3 float-left" data-dojo-attach-point="titleNode"></h3>
			<a id="edit_buzzwords" class="btn_head_rc2 edit" href="#" data-dojo-attach-point="rssEditNode" title="Bearbeiten">
				<img src="templates/themes/default/img/btn_edit_rc.gif" alt="Bearbeiten">
			</a>
			<div class="clear"></div>
		</div>
		
		<div class="widget_body" data-dojo-attach-point="widgetBodyNode">
			<div data-dojo-attach-point="rssContentNode"></div>
		</div>
	</div>
</div>