<div class="uk-panel uk-panel-box uk-panel-box-secondary">
    <div class="uk-panel-teaser panel-teaser-secondary">
        <div class="uk-clearfix">
            <div class="uk-float-right">
                <a href="#" class="button-toggle uk-button-mini uk-button-primary" data-uk-toggle="{target: '#room-categories', animation: 'uk-animation-fade'}">
                    <i class="uk-icon-chevron-up"></i>
                </a>
            </div>
            <div class="uk-float-left">
                Kategorien
            </div>
        </div>
    </div>

    <div id="room-categories" class="uk-overflow-container">
        <ul class="uk-list uk-list-striped uk-nestable" data-uk-nestable>
            <li class="uk-nestable-item">
                <div class="uk-clearfix">
                    <div class="uk-float-right">
                        <a href="" class="uk-icon-plus uk-icon-small"></a>
                    </div>
                    <div class="uk-float-left">
                        Kategorie A
                    </div>
                </li>
            <li class="uk-nestable-item">Kategorie B</li>
            <li class="uk-nestable-item">
                <div class="uk-clearfix">
                    <div class="uk-float-right">
                        <a href="" class="uk-icon-plus uk-icon-small"></a>
                    </div>
                    <div class="uk-float-left">
                        Kategorie C
                    </div>
                </li>
            <li class="uk-nestable-item">
                <div class="uk-clearfix">
                    <div class="uk-float-right">
                        <a href="" class="uk-icon-plus uk-icon-small"></a>
                    </div>
                    <div class="uk-float-left">
                        Kategorie D
                    </div>
                </li>
            <li class="uk-nestable-item">Kategorie E</li>
        </ul>

        <form class="uk-form">
            <fieldset data-uk-margin>
                <div class="uk-form-icon">
                    <i class="uk-icon-tag"></i>
                    <input type="text" placeholder="New Category" class="uk-form-width-medium">
                </div>
                <button class="uk-button uk-button-primary" type="button">Add</button>
            </fieldset>
        </form>
    </div>
</div>