<div class="uk-panel uk-panel-box uk-panel-box-secondary">
    <div class="uk-panel-teaser panel-teaser-secondary">
        <div class="uk-clearfix">
            <div class="uk-float-right">
                <a href="#" class="button-toggle uk-button-mini uk-button-primary" data-uk-toggle="{target: '#room-categories', animation: 'uk-animation-fade'}">
                    <i class="uk-icon-chevron-up"></i>
                </a>
            </div>
            <div class="uk-float-left">
                Kategorien
            </div>
        </div>
    </div>

    <div id="room-categories" class="uk-overflow-container">
        content
    </div>
</div>