{% extends 'App:base:room.html.twig' %}

{% import 'App:utils:macros.html.twig' as macros %}

{% block content %}
    <div class="uk-grid">
        <div class="uk-width-medium-2-3">
            <div class="uk-panel uk-panel-box uk-margin-bottom">
                {# panel title bar #}
                <div class="uk-panel-teaser cs-panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div>{{ item.itemType|trans({}, "room")|capitalize }}</div>
                    </div>
                </div>

                {# content #}
                <div>
                    {% block content_left_column %}
                    {% endblock %}

                    {# annotations #}
                    {% if item.itemType != 'discussion' %}
                        <div class="uk-panel uk-panel-divider">
                            <div class="uk-panel">
                                <h3 class="uk-panel-title">{{ 'annotations'|trans({})|capitalize }}</h3>
                            </div>
                            {{ render(controller(
                                'App:Annotation:feed',
                                { 'roomId': roomId, 'linkedItemId': item.itemId }
                            ))}}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        
        <div class="uk-width-medium-1-3">
            {% block content_right_column %}
            {% endblock %}
        </div>
    </div>
{% endblock %}