{% extends 'base.html.twig' %}

{% block side_navigation %}
    <nav aria-label="{{ 'profile'|trans({}, 'profile') }}">
    {{ knp_menu_render('profile') }}
    </nav>
{% endblock %}

{% block breadcrumb %}
    {{ wo_render_breadcrumbs({ viewTemplate: "breadcrumbs/breadcrumbs.html.twig" }) }}
{% endblock %}
