{% extends 'base.html.twig' %}

{% block side_navigation %}
    {{ knp_menu_render('main') }}
{% endblock %}

{% block breadcrumb %}
    {{ wo_render_breadcrumbs({ viewTemplate: "breadcrumbs/breadcrumbs.html.twig" }) }}
{% endblock %}

{% block content %}
    {% block alert %}
        {% if roomItem.isArchived() %}
            <div class="uk-width-expand">
                <div class="uk-alert uk-alert-warning" style="border: 1px solid rgba(226,131,39,.3)" data-uk-alert>
                    <h2><i class="uk-icon-archive uk-icon-justify uk-margin-small-right"></i>{{ 'Archived room'|trans({}, "room") }}</h2>
                    <p>{{ 'Archived room info'|trans({}, "room") }}</p>
                </div>
            </div>
        {% endif %}
    {% endblock %}

    <div class="uk-grid" data-uk-grid-margin>

        <div class="uk-width-medium-1-3 uk-push-2-3">
            {% block sidebar %}{% endblock %}
        </div>

        <div class="uk-width-medium-2-3 uk-pull-1-3">
            {% block main_content %}{% endblock %}
        </div>

    </div>
{% endblock %}
