{% extends 'base.html.twig' %}

{% block side_navigation %}
    <nav aria-label="{{ 'settings'|trans({}, 'menu') }}">
    {{ knp_menu_render('settings') }}
    </nav>
{% endblock %}

{% block breadcrumb %}
    {{ wo_render_breadcrumbs({ viewTemplate: "breadcrumbs/breadcrumbs.html.twig" }) }}
{% endblock %}
