html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, cs_header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, cs_header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none outside none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
:focus {
    outline: 0 none;
}
.cf:before, .cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
}
.nodisplay {
    display: none;
}
.nodisplay_strict {
    display: none;
}
.alignleft {
    float: left;
}
.alignnone {
    border: 0 none;
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    width: 0;
}
.alignright {
    float: right;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC -moz-use-text-color -moz-use-text-color;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}
audio, canvas, video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
}
[hidden] {
    display: none;
}
html {
    overflow-y: scroll;
}
body, button, input, select, textarea {
    font-family: sans-serif;
}
a:focus {
    outline: thin dotted;
}
a:hover, a:active {
    outline: 0 none;
}
h1 {
}
h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, fieldset, table, ul {
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
abbr[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
b, strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
mark {
    background: none repeat scroll 0 0 #FFFF00;
    color: #000000;
}
pre, code, kbd, samp {
    font-family: monospace,serif;
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
small {
    font-size: 75%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0 none;
    vertical-align: top;
}
svg:not(:root) {
    overflow: hidden;
}
fieldset {
    border: 1px solid #C0C0C0;
    margin: 0;
    padding: 0;
}
legend {
    border: 0 none;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}
button, input {
    line-height: normal;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
input, select {
    vertical-align: middle;
}
input[type="checkbox"], input[type="radio"] {
    padding: 0;
}
input[type="search"] {
    -moz-box-sizing: content-box;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
*::-moz-focus-inner {
    border: 0 none;
    outline: 0 none;
}
html {
}
body {
    background: none repeat scroll 0 0 #F5F5F5;
    color: #000000;
    font: 14px/18px Arial,Helvetica,sans-serif;
}
h1 {
}
h2 {
}
h3 {
}
h4 {
}
h5 {
}
h6 {
}
a {
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p {
    margin: 0;
    padding: 0 0 10px;
}
html, body {
}
#wrapper-outer img.hintergrundbild {
    height: auto;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    z-index: 0;
}
img.hintergrundbild {
    left: 50%;
    xmargin-left: -512px;
}
div#inhalt {
    position: relative;
}
#cs_wrapper {
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 0 0 5px;
    position: relative;
    width: 1000px;
}

#cs_header {
}
#cs_header .inner {
    background: -moz-linear-gradient(center top , #D2DDE5 0%, #FBFCFD 76%, #FBFCFD 100%) repeat scroll 0 0 transparent;
    position: relative;
    z-index: 100;
}
#logo {
    display: inline-block;
    padding: 9px 0 0 44px;
}
#logo a {
    background: url("img/logo.png") no-repeat scroll left top transparent;
    display: block;
    height: 68px;
    text-decoration: none;
    text-indent: -9999px;
    width: 209px;
}
.search {
    padding-bottom: 19px;
    padding-right: 70px;
    padding-top: 31px;
}
.search .sear-lab {
    background-color: #FFFFFF;
    border: 1px solid #E5E9EB;
    display: inline-block;
    padding: 1px;
}
.search .txt-box {
    border: 0 none;
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 15px;
    line-height: 13px;
    padding: 1px 10px;
    vertical-align: top;
    width: 152px;
}
.search .btn {
    background: url("img/sprite.png") no-repeat scroll right top transparent;
    border: 0 none;
    height: 18px;
    vertical-align: top;
    width: 18px;
}
.configure-App {
    background: -moz-linear-gradient(center top , #012F59 0%, #001C36 100%) repeat scroll 0 0 transparent;
    padding: 0;
    position: relative;
    z-index: 100;
}
.configure-App .search-box {
    display: block;
    padding: 10px 84px 10px 17px;
}
.configure-App .search-box:hover {
    background-color: #012F59;
}
.configure-App .search-box a {
    background: url("img/sprite.png") no-repeat scroll right -37px transparent;
    color: #DAE3EA;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    line-height: 15px;
    padding-right: 17px;
}
.configure-App .search-box a:hover {
    text-decoration: none;
}
.configure-App .search-box:hover .configure-selct {
    display: block;
}
.configure-selct {
    background-color: #012F59;
    display: none;
    padding: 13px 0 17px 18px;
    position: absolute;
    right: 0;
    top: 35px;
    width: 192px;
    z-index: 10;
}
.con-Figure {
    width: 140px;
}
.con-Figure li {
    display: block;
    float: left;
    line-height: 12px;
    padding-bottom: 3px;
    width: 100%;
}
.con-Figure li.middle {
    padding-bottom: 25px;
}
.con-Figure li .check {
    height: 13px;
    line-height: 13px;
    margin-right: 7px;
    vertical-align: top;
    width: 13px;
}
.con-Figure li label {
    color: #FFFFFF;
    font-size: 12px;
}
#container {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: -moz-use-text-color #E7EBED #E7EBED;
    border-right: 1px solid #E7EBED;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    margin: -5px auto;
    padding-bottom: 49px;
    padding-left: 20px;
    padding-right: 77px;
    width: 863px;
}
.narrowcolumn {
    width: 265px;
}
.narrowcolumn h2 {
    color: #002C57;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    padding-bottom: 6px;
}
.narrowcolumn a {
    background: url("img/sprite.png") no-repeat scroll -995px -70px transparent;
    color: #660033;
    display: block;
    font-size: 12px;
    line-height: 13px;
    padding-left: 13px;
}
.project-room {
    padding-bottom: 21px;
    width: 265px;
}
.project-room li {
    border-top: 1px dotted #B7C5D0;
    float: left;
    padding-bottom: 0;
    padding-top: 8px;
    width: 100%;
}
.project-room li.last {
    border-bottom: 1px dotted #B7C5D0;
}
.project-room li a {
    background: url("/img/bgi/sprite.png") no-repeat scroll -995px -70px transparent;
    color: #001A34;
    display: block;
    font-size: 12px;
    line-height: 11px;
    padding-left: 14px;
}
.project-room li a:hover {
}
.project-room li p {
    color: #333333;
    font-size: 12px;
    line-height: 13px;
    padding-left: 14px;
    padding-top: 6px;
}
.widecolumn {
    width: 562px;
}
.widecolumn h2 {
    color: #002D57;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    padding-bottom: 6px;
}
.widecolumn .all-project {
    background: url("/img/bgi/sprite.png") no-repeat scroll -995px -70px transparent;
    color: #660033;
    display: block;
    font-size: 12px;
    line-height: 13px;
    padding-left: 14px;
}
.news-Clinic {
    padding-bottom: 18px;
    padding-left: 2px;
    width: 260px;
}
.news-Clinic li {
    border-top: 1px dotted #B7C5D0;
    float: left;
    padding-bottom: 0;
    padding-top: 7px;
    width: 100%;
}
.news-Clinic li.last {
    border-bottom: 1px dotted #B7C5D0;
}
.news-Clinic li span {
    background: url("/img/bgi/sprite.png") no-repeat scroll -995px -70px transparent;
    color: #316B9F;
    display: block;
    font-size: 12px;
    line-height: 13px;
    padding-left: 14px;
}
.news-Clinic li a {
    color: #001A34;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    padding-left: 14px;
    padding-top: 4px;
}
.news-Clinic li a:hover {
}
.news-Clinic li p {
    color: #333333;
    font-size: 12px;
    line-height: 16px;
    padding-left: 14px;
    padding-top: 0;
}
.narrowcolumnLeft {
}
.narrowcolumnRight {
}
#banner-teaser {
    background: url("/img/bgi/banner-top.png") no-repeat scroll 0 0 transparent;
    height: 305px;
}
.icon-set {
    padding-left: 63px;
    padding-top: 28px;
    width: 295px;
}
.icon-set.last {
    padding-left: 51px;
}
.icon-set li {
    float: left;
    padding: 0 16px 20px 29px;
    width: 91px;
}
.icon-set li a {
    background: url("/img/bgi/sprite.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 76px;
    margin-left: 6px;
    text-indent: -9999px;
    width: 75px;
}
.icon-set li a:hover, .icon-set li a.active {
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0 0 9px 3px #FFFFFF;
}
.icon-set li a.inactive {
    box-shadow: none;
    opacity: 0.3;
}
.icon-set li a.icon1 {
    background-position: 0 0;
}
.icon-set li a.icon2 {
    background-position: -85px 0;
}
.icon-set li a.icon3 {
    background-position: 0 -85px;
}
.icon-set li a.icon4 {
    background-position: -85px -85px;
}
.icon-set li a.icon5 {
    background-position: -170px 0;
}
.icon-set li a.icon6 {
    background-position: -170px -85px;
}
.icon-set li a.icon7 {
    background-position: -255px 0;
}
.icon-set li a.icon8 {
    background-position: -255px -85px;
}
.icon-set li a.icon9 {
    background-position: -340px 0;
}
.icon-set li a.icon10 {
    background-position: -340px -85px;
}
.icon-set li a.icon11 {
    background-position: -425px 0;
}
.icon-set li a.icon12 {
    background-position: -425px -85px;
}
.icon-set li span {
    color: #660033;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 23px;
    text-align: center;
    width: 90px;
}
.suppage .narrowcolumn {
    background-color: #EBECF0;
    border: 1px solid #B7C5D0;
    width: 275px;
}
.suppage .narrowcolumn p {
    border-bottom: 1px solid #B7C5D0;
    color: #72859F;
    font-size: 12px;
    padding: 7px 5px 8px 18px;
}
.newat {
    border-bottom: 0 solid #B7C5D0;
    border-top: 1px solid #FFFFFF;
    padding-bottom: 35px;
    padding-top: 10px;
    width: 199px;
}
.newat li {
    border-left: 0 solid #B7C5D0;
    border-right: 0 solid #B7C5D0;
    display: block;
    float: left;
    padding: 0 5px 0 8px;
    width: 186px;
}
.newat li:hover {
    background-color: #FFFFFF;
    border-right: 1px solid #FFFFFF;
}
.newat li a {
    background: url("/img/bgi/sprite.png") no-repeat scroll -995px -61px transparent;
    color: #660033;
    display: block;
    font-size: 12px;
    line-height: 15px;
    padding: 9px 0 4px 11px;
    text-decoration: none;
}
.newat li a:hover {
    text-decoration: none;
}
.suppage #container {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: -moz-use-text-color #E7EBED #E7EBED;
    border-right: 1px solid #E7EBED;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    margin: -11px auto;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 15px;
    width: 925px;
}
.suppage .widecolumn {
    margin-top: 0;
    width: 594px;
}
.suppage-banner {
    background: url("img/sub-page-banner.png") no-repeat scroll 0 0 transparent;
    z-index: 3;
}
.smallicon-set {
    padding-left: 95px;
    padding-top: 18px;
    width: 240px;
}
.smallicon-set.last {
    padding-left: 43px;
}
.smallicon-set li {
    float: left;
    padding: 0 0 20px 5px;
    width: 55px;
}
.smallicon-set li a {
    background: url("img/sprite.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 49px;
    text-indent: -9999px;
    width: 49px;
}
.smallicon-set li a:hover, .smallicon-set li a.active {
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 9px 3px #FFFFFF;
}
.smallicon-set li a.inactive {
    box-shadow: none;
    opacity: 0.3;
}
.smallicon-set li a.smallicon1 {
    background-position: -1px -181px;
}
.smallicon-set li a.smallicon2 {
    background-position: -59px -180px;
}
.smallicon-set li a.smallicon3 {
    background-position: -119px -180px;
}
.smallicon-set li a.smallicon4 {
    background-position: -177px -180px;
}
.smallicon-set li a.smallicon5 {
    background-position: 0 -240px;
}
.smallicon-set li a.smallicon6 {
    background-position: -59px -240px;
}
.smallicon-set li a.smallicon7 {
    background-position: -117px -240px;
}
.smallicon-set li a.smallicon8 {
    background-position: -176px -240px;
}
.smallicon-set li a.smallicon9 {
    background-position: -1px -296px;
}
.smallicon-set li a.smallicon10 {
    background-position: -60px -296px;
}
.smallicon-set li a.smallicon11 {
    background-position: -119px -296px;
}
.smallicon-set li a.smallicon12 {
    background-position: -177px -296px;
}
.suppage h2 {
    color: #000000;
    font-size: 20px;
    font-weight: normal;
    line-height: 22px;
    text-transform: uppercase;
}
.department {
    padding-top: 20px;
}
.department h3 {
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    padding-bottom: 17px;
    padding-top: 20px;
}
.department .department-box {
    padding: 4px 19px 4px 0;
}
.department .department-box img {
    border: 1px solid #666666;
}
.department p {
    color: #333333;
    font-size: 12px;
    line-height: 18px;
}
#blog #container {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: -moz-use-text-color #E7EBED #E7EBED;
    border-right: 1px solid #E7EBED;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    margin: -5px auto;
    padding-bottom: 24px;
    padding-left: 20px;
    padding-right: 19px;
    width: 921px;
}
#blog .widecolumn {
    background: url("img/sprite.png") no-repeat scroll right -346px transparent;
    margin-top: -2px;
    width: 669px;
}
.blog-text {
    width: 637px;
}
.blog-text h2 {
    padding-bottom: 4px;
}
.blog-text span {
    color: #333333;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 13px;
}
.blog-text p {
    color: #333333;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 21px;
}
.blog-text p.last {
    padding-bottom: 9px;
}
.blog-text .comment {
    padding-bottom: 39px;
}
.blog-text .comment img {
    padding-right: 8px;
}
.blog-text .comment a {
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    line-height: 25px;
}
.blog-text .comment.middle {
    padding-bottom: 47px;
}
.blog-text .comment.last {
    padding-bottom: 0;
}
.blog-text img {
    padding-bottom: 20px;
    padding-top: 4px;
}
#blog .narrowcolumn {
    width: 203px;
}
.search-blog {
    padding: 0 0 10px;
    width: 200px;
}
.search-blog .sear-lab {
    background-color: #FFFFFF;
    border: 1px solid #E5E9EB;
    display: inline-block;
    padding: 1px;
}
.search-blog .txt-box {
    border: 0 none;
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 15px;
    line-height: 13px;
    padding: 1px 10px;
    vertical-align: top;
    width: 154px;
}
.search-blog .btn {
    background: url("img/sprite.png") no-repeat scroll right top transparent;
    border: 0 none;
    height: 18px;
    vertical-align: top;
    width: 18px;
}
.archiv {
    background-color: #EBECF0;
    border: 1px solid #B7C5D0;
}
.archiv.last {
    border-top: medium none;
}
.archiv p {
    border-bottom: 1px solid #B7C5D0;
    color: #72859F;
    font-size: 12px;
    padding: 7px 5px 8px 20px;
}
.archiv-blog {
    border-bottom: 0 solid #B7C5D0;
    border-top: 1px solid #FFFFFF;
    padding-bottom: 12px;
    padding-top: 10px;
    width: 200px;
}
.archiv-blog li {
    border-left: 0 solid #B7C5D0;
    border-right: 0 solid #B7C5D0;
    display: block;
    float: left;
    padding: 6px 5px 5px 8px;
    width: 189px;
}
.archiv-blog li a {
    background: url("img/sprite.png") no-repeat scroll -995px -68px transparent;
    color: #660033;
    font-size: 12px;
    line-height: 17px;
    padding-left: 11px;
    text-decoration: none;
}
.archiv-blog li a:hover {
    text-decoration: underline;
}
fieldset {
    border: 1px solid transparent;
    margin: 0;
    padding: 0;
   }

div#right_column div#tag_tree li a {
	color: #DEE8FF;
	text-decoration: none;
}

input#search_submit {
  position: relative;
  left: 216px;
  }
  
  
/*
----------------------------------------------------------------------
header
----------------------------------------------------------------------
*/

#headandnav {
    background: url(img/header_bg.jpg) repeat-x;
    width: 980px;
    margin: 0px auto; 
    }

#header {
    padding: 10px 20px;
    border-bottom: 1px solid #F1F5F8;
    background-color: #FFFFFF;
    }

#wrapper #header {
	background-color: #FFFFFF;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
}

#bgu_logo {
    float: left;
    display: block;
    color: #57585A;
    text-decoration: none;
    }

#bgu_logo strong {
    color: #00529C;
    font-weight: bold;
    text-decoration: none;
    }

#portal_controls {
    float: right;
    display: block;
    color: #57585A;
    }

#btn_logout {
    text-decoration: none;
    float: right;
    padding-left: 15px;
    margin-top: -2px;
    }
    
/*
----------------------------------------------------------------------
nav-area
----------------------------------------------------------------------
*/

#nav_area {
    padding: 10px 0px 10px 0px;
    margin: 0px -83px 0px 20px;
    }

#nav_area ul {
	margin: 12px 0px 12px 0px;
    padding: 0px 83px 0px 0px;
    float: left;
    }

#nav_area li {
    list-style-type: none;
    float: left;
    }
    
#nav_area li a {
    color: #011C37;
    padding: 0px;
    margin-right: 17px;
    text-decoration: none;
    font-size: 10px;
    line-height: 12px;
    display: block;
    text-align: center;
    }

#nav_area li a:hover {
    color: #888;
    }
    
#nav_active a {
    color: #00529C;
    }  		    			

span.tooltip {
    display: none;
    }
    
#nav_area li:hover span.tooltip {
    display: inline;
    position: absolute;
    width: 100px;
    height: 20px;
    margin: -52px 0px 0px -90px;
    line-height: 20px;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    color: #57585A;
    background: #FFF;
    border: 4px solid #FFF;
    border-radius: 5px;
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
    }

span.tooltip:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #FFFFFF transparent transparent transparent;
    top: 44px;
    left: 50px;
    }

/*
----------------------------------------------------------------------
searcharea
----------------------------------------------------------------------
*/	
	
#searcharea {
    background: url(img/searcharea_bg.jpg) repeat-x #022F59;
    width: 980px;
    margin: 0px auto;
    border-top: 1px solid #FFF;
    }
	
#indexedsearch {
    padding: 10px 20px;
    float: right;
    }	
	
input.searchbox-sword {
	position: absolute;
	z-index: 5;
    border: 1px solid #DEE0E6;
    color: #666666;
    float: left;
    font-size: 0.916666em;
    height: 1.63636em;
    line-height: 1.63636em;
    padding: 1px 2px 1px 8px;
    text-decoration: none;
    width: 230px;
    margin: 0px 0px 0px -241px;
    background: none;
    }	
	
input.searchbox-button {
	position: absolute;
	z-index: 6;
    background: none repeat scroll 0 0 #CBCBCB;
    border: 1px solid #FFFFFF;
    float: left;
    height: 1.2em;
    line-height: 1.2em;
    margin: 1px 1px 0 -1.75em;
    padding: 1px;
    text-indent: -9999px;
    width: 1.4em;
    }	

input.searchbox-button:hover {
    background: #00529C;
    }
