/* used individual colors */
/* Sonnenuntergang.jpg -> Background-Image */
/* ___CS_BG_COLOR___={#fcc7dc} */
/* #822248 -> CS_COLOR_ACTIVE_MENUE*/
/* #dfa5bc -> CS_COLOR_MENUE*/
/* #b9386c -> CS_COLOR_RIGHT_COLUMN*/
/* #fd9dc3 -> CS_CONTENT_BG_COLOR*/
/* #ae2b5f -> CS_LINK_COLOR*/
/* #881543 -> CS_LINK_HOVER_COLOR*/
/* #dfa5bc -> CS_ACTION_BG_COLOR*/
/* #c26b8e -> CS_ACTION_ICON_COLOR*/
 /*#ac5175 -> CS_ACTION_ICON_HOVER_COLOR*/

/**************************/


/* Body*/

body{
	background-color: #F6F6F6;
	color: #333333;
	}

#wrapper{
	#background-color: #FFF;
	padding:0px 10px 10px 10px;
	}

#logo_area {
    float: left;
    width: 735px;
}

#logo_area img {
    height: 35px;
}

.tm_di_ground_solid {
    background: url(img/tm_di_ground_bg.jpg) #DFDFDF repeat-x;
    width: 980px;
    margin: 0px auto;
    padding: 0px;
    color: #393939;
    text-decoration: none;
    display: block;
	position: relative;
	left: -10px;
    }

#top_menu {
    background: url("img/top_menu_bg.jpg") repeat-x scroll 0 0 transparent;
    height: 40px;
}


/* Navigation */

#main_navigation {
     background: url("img/main_nav_bg.jpg") repeat-x scroll 0 0 transparent;
}
#main_navigation #active {
	background: url("img/active_bg.jpg") repeat-x scroll 0 0 transparent;
	border-bottom: 1px solid #01213f; /*CS_COLOR_ACTIVE_MENUE*/
}

#main_navigation ul {
    border-right: 0px solid #012F59; /*CS_COLOR_ACTIVE_MENUE*/
}

#main_navigation .non_active a {
    border-left: none;
    border-right: 1px solid #012F59; /*CS_COLOR_ACTIVE_MENUE*/
    color: #454545;
}

#main_navigation #active a {
    border-right: 1px solid #012F59; /*CS_COLOR_ACTIVE_MENUE*/
    color: #FFFFFF;
}

#main_navigation .non_active {
    background: none; /*CS_COLOR_MENUE*/
}

#main_navigation ul#right_navigation {
    border-left: 1px solid #012F59; /*CS_COLOR_ACTIVE_MENUE*/
    border-right: none;
}

#main_navigation .non_active a {
    border-left: none;
    border-right: 1px solid #012F59; /*CS_COLOR_ACTIVE_MENUE*/
    color: #000000;
}

#main_navigation #site_actions {
    background: none;
    border-left: 1px solid #999999;
}

#main_navigation .non_active a:hover {
    color: #454545;
    border-left: none;
    border-right: 1px solid #999;
    background-color: #E0DEDF;
    }



/* Right Column */
#right_column {
    border-top: none;
    width: 244px;
}

#columnset {
	background: url("img/columns_bg.jpg") repeat-y scroll right top #EFECE2;
    border-left: 1px solid #999999;
}

#info_area_row_1, #info_area_row_2, #info_area_row_3 {
    border-right: 1px solid #999999;
}

#rc_portlet_area {
    background: none;
}

#info_addon {
	background:none;
	border-bottom: 1px solid #999999;
    border-top: 1px solid #999999;
    color: #DEE8FF;
    text-shadow: none;
}

#footer_right {
	background: url("img/columns_bg.jpg") repeat-y scroll right top #EFECE2;
    color: #DEE8FF;
    border-right: 1px solid #012f59;
    width:244px;
}

#footer {
    border-bottom: 0px solid #012f59;
    margin-bottom: 30px;
}

#addon_area_row_1 {
    border-left: 0px solid #b9386c; /*CS_COLOR_RIGHT_COLUMN*/
}

.portlet_rc h2 {
    border-bottom: 1px solid #999999;
    color: #DEE8FF;
    text-shadow: none;
}

.portlet_rc_body {
    border-top: 0px solid #999999;
    color: #DEE8FF;
}

.portlet_rc_body .change_view select {
    background: #F5F5F5; /*CS_COLOR_RIGHT_COLUMN*/
    border: 1px solid #999999;
    color: #999999;
}

a.keywords_s1, a.keywords_s2, a.keywords_s3, a.keywords_s4 {
    color: #DEE8FF;
    text-shadow: none;
}

#dis_navigation {
    border-top: 0px solid #999999;
}

/*Content*/
.table_head {
    background-color: #EFECE2; /*CS_CONTENT_BG_COLOR*/
    border-bottom: 1px solid #999999;
}

.content_item .item_info {
    background-color: #EFECE2; /*CS_CONTENT_BG_COLOR*/
    text-shadow: 0 1px #F5F5F5;
    border-bottom:1px solid #999999;
}

#footer_left {
    background-color: #01213f; /*CS_CONTENT_BG_COLOR*/
    border-left: 1px solid #999999;
    color: #DEE8FF;
}

#footer_right span {
    border-top: 1px solid #999999;
    display: block;
    padding: 10px 0 8px;
}

#footer_right p {
	border-top: none;
    text-shadow: none;
}

.content_item h2 {
    background-color: #EFECE2;/*CS_CONTENT_BG_COLOR*/
    border-bottom:1px solid #999999;
}



/* FORM */

#item_postnew {
    background: none;
}


#tm_settings {
    background: url("img/tm_settings.gif") no-repeat scroll 0 0 transparent;
}

#tm_settings:hover {
    background: url(img/tm_settings.gif) -36px 0px no-repeat;
    }

#tm_clipboard {
    background: url(img/tm_clipboard.gif) no-repeat;
    }

#tm_clipboard:hover {
    background: url(img/tm_clipboard.gif) -36px 0px no-repeat;
    }

#tm_logout {
    background: url(img/tm_logout.gif) no-repeat;
    }

#tm_logout:hover {
    background: url(img/tm_logout.gif) -36px 0px no-repeat;
    }

#tm_pers_bar {
    background: url("img/top_menu_bg.jpg") no-repeat scroll right top transparent;
    float: right;
    height: 27px;
    padding: 11px 2px 0 0;
}

#tm_user a{
    color: #FFFFFF;
    font-size: 10px;
 	}

a#tm_user {
    padding: 0px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 10px;
    text-shadow: none;
    }

a.tm_user {
    padding: 0px;
    text-decoration: none;
    color: #FFF;
    text-shadow: none;
    width:auto;
    }

a#tm_user:hover,
a.tm_user:hover,
a.tm_user_hover {
    color: #FFF;
    text-shadow: none;
    background-image: none;
    }

a#tm_user:hover{
    background-image: none;
    }




#tm_mycalendar {
    background: url("img/tm_mycalendar.gif") no-repeat scroll 0 0 transparent;
}

#tm_widgets {
    background: url("img/tm_widgets.gif") no-repeat scroll 0 0 transparent;
}

#tm_stack {
    background: url("img/tm_stack.gif") no-repeat scroll 0 0 transparent;
}

#popup_wrapper{
	left: -5px;
	}

.column_new_list {
    float: left;
    padding: 3px 3px 5px 5px;
    white-space: nowrap;
    width: 0;
}

#popup_my_area {
    margin: 0;
}

#logged_in{
    color: #666;
    font-size: 10px;
    padding:0px;
    vertical-align:top;
    position:relative;
    top:-10px;
    right:0px;
    float:right;
}

#logged_in a{
    color: #666;
    font-size: 10px;
	}

#commsy_search {
    background-color: #FFFFFF;
    background-image: none;
    height: 25px;
    margin-left: 10px;
    margin-top: 7px;
    width: 195px;
}

#search_input {
    background: none;
    width: 230px;
    padding: 1px 2px 1px 8px;
    font-size: 0.916666em;
    border: 1px solid #DEE0E6;
    z-index: 5;
    position: absolute;
    font-weight: normal;
}

input#search_suggestion {
	position: absolute;
	z-index: 3;
	width: 230px;
	margin: 1px 0px 0px -240px;
	height: 1.63636em;
	padding: 1px 2px 1px 8px;
	color: #bbbbbb;
	font-weight: normal;
	font-size: 0.916666em;
	background: #ffffff;
	border: 0px solid #DEE0E6;
	line-height: 1.63636em;
  }

.search_button {
    background: url("img/search.png") repeat scroll 0 0 transparent;
    border: 0 solid #919191;
    color: #FFFFFF;
    cursor: default;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    text-align: center;
    width: 25px;
}

#home_link{
	float:left;
	color:#FFF;
	padding:11px 0px 0px 10px;
	font-weight:normal;
	font-familiy: arial;
	text-decoration:underline;
	font-size:12px;
}

#tm_wrapper {
    background-image: none;
    color: #CCCCCC;
    margin-left: 10px;
    width: 970px;
}

.column_90 {
    float: left;
    width: 86px;
}