<div class="uk-overflow-container">
    <table class="uk-table uk-table-condensed uk-table-hover" border="1">
        <!-- table header row - first cell is empty and sticky, the other cells show the categories-->
        <tr>
            <th class="">&nbsp;</th>
            {% for tag in portfolio.tags %}
                {% if tag.row == 0 %}
                    <th>{{ tag.title }}</th>
                {% endif %}
            {% endfor %}
        </tr>
        <!-- rows with categories column (first column; sticky) and content -->
        {% set counter1 = 0 %}
        {% for tag in portfolio.tags %}
            {% if tag.row != 0 %}
                <tr>
                    {% if tag.column == 0 %}
                        <th class="">{{ tag.title }}</th>
                        {% for secondTag in portfolio.tags %}
                            {% if secondTag.row == 0 %}
                                {% set foundContent = false %}
                                {% set content = '' %}
                                {% for link in linkPositions %}
                                    {% for linkData in link %}
                                        {% if (linkData[0] == tag.t_id and linkData[1] == secondTag.t_id) or (linkData[1] == tag.t_id and linkData[0] == secondTag.t_id) %}
                                            {% set foundContent = true %}
                                            {% for firstLink in portfolio.links|keys %}
                                                {% for secondLink in portfolio.links|keys %}
                                                    {% if (firstLink == tag.t_id and secondLink == secondTag.t_id) %}
                                                        {% for firstLinkEntry in portfolio.links[firstLink] %}
                                                            {% for secondLinkEntry in portfolio.links[secondLink] %}
                                                                {% if (firstLinkEntry.itemId == secondLinkEntry.itemId) %}
                                                                    {% set content = content ~ '<a href=' ~ path('commsy_' ~ firstLinkEntry.type ~ '_detail', {'roomId': roomId, 'itemId': firstLinkEntry.itemId}) ~ '>' ~ firstLinkEntry.title|decodeHtmlEntity ~ '</a><br/>' %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                <td>
                                    {{ content|raw }}
                                </td>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>