<table class="uk-table uk-text-center uk-table-middle commsy-sticky-table-spacer">
    <!-- table header row - first cell is empty and sticky, the other cells show the categories-->
    <tr>
        <th class="commsy-sticky-table-cell">&nbsp;</th>
        {% for tag in portfolio.tags %}
            {% if tag.row == 0 %}
                <th>{{ tag.title }}</th>
            {% endif %}
        {% endfor %}
    </tr>

    <!-- Rows with categories column (first one, sticky) and content -->
    {% for tag in portfolio.tags %}
        {% if tag.column == 0 %}
            <tr>
                <th class="commsy-sticky-table-cell">{{ tag.title }}</th>
                <td>Content</td>
            </tr>
        {% endif %}
    {% endfor %}
</table>