<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}CommSy{% endblock %}</title>

        {% block stylesheets %}
            {% stylesheets
                'bundles/commsy/css/application.less' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="commsy" class="nav-collapsed">

        <div id="sidebar">

            <div id="sidebar-brand">
                <a href="#">
                    CommSy
                </a>
            </div>

            <div id="sidebar-profile">
                Profile
            </div>

            <ul id="sidebar-nav" class="uk-nav uk-nav-side uk-nav-parent-icon">
                <li>
                    <a href="#">
                        <i class="uk-icon-home uk-icon-small"></i>
                        DASHBOARD
                    </a>
                </li>
                <li class="uk-nav-divider"></li>
                <li>
                    <a href="#">
                        <i class="uk-icon-home uk-icon-small"></i>
                        Raum-Navigation
                    </a>
                </li>
                <li class="uk-nav-divider"></li>
                <li>
                    <a href="#">
                        <i class="uk-icon-home uk-icon-small"></i>
                        ANKÜNDIGUNGEN
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uk-icon-calendar uk-icon-small"></i>
                        TERMINE
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uk-icon-file-o uk-icon-small"></i>
                        MATERIALIEN
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uk-icon-comments-o uk-icon-small"></i>
                        DISKUSSIONEN
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uk-icon-users uk-icon-small"></i>
                        PERSONEN
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uk-icon-home uk-icon-small"></i>
                        GRUPPEN
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uk-icon-check uk-icon-small"></i>
                        AUFGABEN
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uk-icon-home uk-icon-small"></i>
                        THEMEN
                    </a>
                </li>
            </ul>
        </div>

        <div id="content">
            <!-- navbar -->
            <nav class="uk-navbar uk-navbar-attached">
                <!-- right -->
                <div class="uk-navbar-flip">
                    <div class="uk-navbar-content">
                        <form class="uk-search" data-uk-search="{source:'my-results.json'}">
                            <input class="uk-search-field" type="search" placeholder="Suche...">
                        </form>
                    </div>

                    <div class="uk-navbar-content">
                        <ul class="uk-navbar-nav">
                            <li>
                                <a href="#"><i class="uk-icon-bell-o"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="uk-icon-wrench"></i></a>
                            </li>
                        </ul>
                    </div>

                    <ul class="uk-navbar-nav">
                        <li>
                            <a href="#"><i class="uk-icon-power-off"></i></a>
                        </li>
                    </ul>
                </div>
                
                <!-- toggle -->
                <a href="" class="uk-navbar-toggle"></a>

                <div class="uk-navbar-brand">
                    <a href="#">Raumtitel</a>
                </div>
            </nav>

            <!-- breadcrumb -->
            <ul class="uk-breadcrumb">
                <li><a href="">Portal</a></li>
                <li><a href="">Raum</a></li>
                <li><span>Material</span></li>
                <li class="uk-active"><span>Hier</span></li>
            </ul>

            <!-- cover -->
            <div id="cover" class="uk-cover-background">
                <img class="uk-invisible" src="" width="" height="" alt="">
            </div>

            <!-- container -->
            <div class="uk-container uk-container-center">
                {% block content %}{% endblock %}
            </div>
        </div>
        
        {% block javascripts %}
            {% javascripts
                'bundles/commsy/components/jquery/dist/jquery.js'
                'bundles/commsy/components/uikit/js/uikit.js'
                'bundles/commsy/components/uikit/js/components/search.js'
                'bundles/commsy/components/uikit/js/components/nestable.js'
                'bundles/commsy/js/application.js'
                'bundles/commsy/js/*.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
