/*General Settings */
body {
   margin: 0px;
   padding: 0px;
   font-family: Arial, "Nimbus Sans L", sans-serif;
   font-size: 10pt;
   background-color: white;
}

img {
   border: 0px;
}


/*Hyperlinks*/
a {
   color: #01458A;
   text-decoration: none;
}

a:hover, a:active {
   text-decoration: underline;
}

a.portal_link, a.portal_link:hover{
   font-weight: bold;
   color: #666666;
}


/* Font-Styles */
.infocolor{
   color: #827F76;
}

.disabled, .key .infocolor{
   color: #B0B0B0;
}

.changed {
   color: #FC1D12;
   font-size: 8pt;
}

.infoborder{
   border-top: 1px solid #827F76;
   padding-top:10px;
}

.required {
   color: #FC1D12;
   font-weight: bold;
}

.normal{
   font-size: 10pt;
}

.desc, .desc_usage {
   font-size: 8pt;
}

.bold{
   font-size: 10pt;
   font-weight: bold;
}

.small_font{
   font-weight:normal;
   font-size:8pt;
}

.portal_system_link{
   color: #827F76;
}


/* Portal Layout */
div.portal_tabs_frame {
   position:relative;
   margin:2px 5px 5px 6px;
   padding:0px;
   background-color: #3B658E;
}

div.portal-tabs {
   position:relative;
   width: 100%;
   margin:0px;
   padding:4px 0px 3px 0px;
   border-bottom: 1px solid white;
}

div.portal_content{
    margin:0px;
    padding:0px 3px;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

td.portal_leftviews {
    padding:0px;
    vertical-align: top;
}

td.portal_rightviews {
    padding: 0px 0px 0px 10px;
    vertical-align: top;
}

div.frame_bottom {
    position:relative;
    font-size: 1px;
    border-left: 2px solid #C3C3C3;
    border-right: 2px solid #C3C3C3;
    border-bottom: 2px solid #C3C3C3;
}

div.content_bottom {
    position:relative;
    width: 100%;
}

/* Layout of content areas */
div.welcome_frame {
    position:relative;
    margin:0px;
    padding:0px;
    border: 2px solid #CBD0D6;
}

div.welcome_content {
    position:relative;
    margin:0px;
    padding:0px;
}

div.content_fader{
    position:relative;
    width: 100%;
    margin:0px;
    padding:0px;
    background-color: #EFECE2;
}

div.content_without_fader{
    position:relative;
    width: 100%;
    margin:0px;
    padding:0px;
    font-size: 10pt;
}

div.content_background{
    background-color: #EFECE2;
}

div.main{
    padding: 20px 5px 0px 5px;
}

div.content{
    padding:0px;
    margin:0px;
    background-color: #EFECE2;
}

/*Announcements*/
td.anouncement_background, td.anouncement_background a{
    font-weight: bold;
    background-color: #F7F7F7;
    font-size:10pt;
}

td.anouncement_background a:hover{
    color: #666666;
    font-size:10pt;
}

/*Search Box*/
div.search_box{
    margin: 0px 5px 0px 0px;
    padding: 10px 5px;
    font-weight: bold;
    border: 2px solid #B0B0B0;background-color: #F7F7F7;
}

span.search_title{
    font-size:18px;
    font-weight:bold;
    color: #827F76;
}

div.search_link {
    padding: 0px 5px; color: #666666;
    font-size:10pt;
}

div.search_link a{
    color: #666666;
    font-size:10pt;
}


/*Room List*/
.list {
    border-collapse: collapse;
    width: 100%;
    font-size:10pt;
}

.list td.portal-even {
    background-color: #F7F7F7;
}

.list td.portal-odd {
    background-color: #EFECE2;
}

.list td {
    padding: 2px 3px;
    font-weight:normal;
    text-align:left;
    border-bottom:none;
    background-color: #3B658E;
}

.list td.portal-head {
    font-weight:bold;
    line-height:18px;
    white-space:nowrap;
    color: white;
    background-color: #3B658E;
}

.portal_link{
    color: white;
}


.list td.head {
    font-weight:bold;
    line-height:18px;
    white-space:nowrap;
    color: white;
    background-color: #3B658E;
}

.list a.head, .list a.head:hover {
    color: white;
}

.list span.head {
    font-weight: bold;
}

.list span.desc {
    font-size: 8pt;
}

div.gauge {
    height:5px;
    margin: 3px 10px 3px 0px;
    border: 1px solid #666; font-size:5px;
}

div.gauge-bar {
    height:5px;
    font-size:5px;
    text-align: right;
    color: black;
    background-color: #666666;
}


/*Headlines*/
h1{
    margin:0px;
    padding:5px 0px 5px 10px;
    font-size:30px;
}

h1.portal_title{
    margin:0px;
    padding:0px;
    font-size:20px;
    font-weight:bold;
    color:#3B658E;
}

h1.portal_main_title{
    margin:0px;
    padding:0px 10px 0px 0px;
    font-size:25px;
    font-weight:bold;
    line-height: 22px;
    color:#3B658E;
}

h1.portal_announcement_title{
    margin:0px;
    padding:0px;
    font-size:18px;
    font-weight:bold;
    color:#827F76;
}

h2.pagetitle{
    margin:0px 0px 10px 0px;
    font-size: 16pt;
}

/*Special Designs*/
.top_of_page {
    padding:5px 0px 3px 10px;
    font-size: 8pt;
    color: #827F76;
}

.top_of_page a{
    color: #827F76;
}

span.portal_section_title{
    font-size:18px;
    font-weight:bold;
    color: #827F76;
}

span.portal_description{
    font-size:8pt;
    font-weight:normal;
    color: #827F76;
}

a.portal_system_link, a.portal_system_link:hover{
    font-weight:bold;
    color: #827F76;
}

span.portal_forward_links{
    font-weight:bold;
    color: #827F76;
    font-size:10pt;
}

#template_information_box{
   margin-top:5px;
   margin-bottom:0px;
   width:400px;
   padding:5px;
   border: 1px #B0B0B0 dashed;
   background-color:white;
}

span.template_description{
   font-weight:bold;
   color: #666666;
   white-space: nowrap;
}

/* Tab Style */
div.tabs_frame {
   position:relative;
   background-color: #3B658E;
   padding:0px;
   margin:0px;
   font-weight: bold;
   border: 2px solid #CBD0D6;
}

div.tabs {
   position:relative;
   width: 100%;
   border-bottom: 1px solid white;
   padding:4px 0px 3px 0px;
   margin:0px;
   font-weight: bold;
   font-size: 10pt;
}

span.navlist{
   color:white;
}
a.navlist{
   color:white;
   padding:4px 6px 3px 6px;
   border-right:1px solid white;
   text-decoration:none;
   font-size: 10pt;
}

a.navlist_current{
   color:white;
   padding:4px 6px 3px 6px;
   border-right:1px solid white;
   text-decoration:none;
   background-color:#EC930D;
}

a.navlist_current:hover, a.navlist_current:active, a.navlist:hover{
   color:white;
   padding:4px 6px 3px 6px;
   text-decoration:none;
   background-color:#EC930D;
}

a.navlist:active{
   color:white;
   padding:4px 6px 3px 6px;
   text-decoration:none;
}

a.navlist_help, a.navlist_help:hover, a.navlist_help:active{
   color:white;
   padding:4px 6px 3px 3px;
   text-decoration:none;
}

/* Profile Tab Style */

#profile_tabs_frame {
   position:relative;
   padding:3px 10px;
   margin:0px 0px 0px 0px;
   background-color: #EEEEEE;
   border-bottom:1px solid #3B658E;
}

#profile_tablist{
    margin:0px;
    white-space:nowrap;
    display:inline;
}

.profile_tab{
    border-right:1px solid #3B658E;
    padding:3px 10px;
    display:inline;
}

.profile_tab_current{
    border-right:1px solid #3B658E;
    padding:3px 10px;
    display:inline;
    font-weight:bold;
}

#profile_title, .profile_title{
   background-color:#3B658E;
   color:white;
   vertical-align:top;
   margin:0px;
   padding:5px 10px;
   font-size: 14pt;
}

#profile_content{
   margin-bottom:20px;
   padding:0px;
   background-color: #FFFFFF;
   border: 2px solid #3B658E;
}

a.titlelink{
   color:white;
}

#iSM
{margin:0 0 15px 0;padding:0;height:14px;}
#iSM ul
{border:0;margin:4px 0 0 0;padding:0;list-style-type:none;text-align:center;}
#iSM ul li
{display:block;float:left;text-align:center;padding:1px 0 0 0;margin:0;height:14px;}
#iWeak,#iMedium,#iStrong
{width:40px;font-size:.8em;color:#adadad;text-align:center;padding:2px;background-color:#F1F1F1;display:block;}
#iWeak,#iMedium
{border-right:solid 1px #DEDEDE;}
#iMedium
{width:74px;}
#iMedium,#iStrong
{border-left-width:0;}

div.strong #iWeak, div.strong #iMedium, div.strong #iStrong  {
   background: #00CC66;
   color: #00CC66;
}

div.medium #iWeak, div.medium #iMedium {
   background: #FFFF99;
   color: #FFFF99;
}

div.medium #iWeak, div.medium #iMedium {
   background: #FFFF99;
   color: #FFFF99;
}

div.weak #iWeak {
   background: #FF0000;
   color: #FF0000;
}

div.strong #iStrong, div.medium #iMedium, div.weak #iWeak {
   color:#000;
}

.small_font {
    font-size: 8pt;
}

/**************************************
**** commsy_right_boxes_css ***********
**************************************/
/* Right Boxes Style */
.right_box{
   background-color: white;
   padding-bottom:0px;
   font-size:10pt;
}

a.right_box_title {
   color:white;
   font-weight:bold;
   font-size: 8pt;
}

div.right_box_title{
   background-color:#3B658E;
   height:18px;
   color:white;
   padding: 2px 5px;
   font-weight:bold;
   font-size: 10pt;
}

div.index_forward_links{
   width:100%;
   text-align:center;
   font-weight:bold;
   color: white;
}

div.right_box_main{
    border-left:1px solid #B0B0B0;
    border-right:1px solid #B0B0B0;
    border-bottom:1px solid #B0B0B0;
   padding:3px 3px 3px 5px;
}

div.gauge {
   background-color: white;
   height:10px;
   margin-left: 10px;
   margin-right: 10px;
   margin-top: 3px;
   margin-bottom: 3px;
   border: 1px solid #666;
   font-size:10px;
}
div.gauge-bar {
   background-color: #3B658E;
   height:10px;
   text-align: right;
   color:white;
   font-size:10px;
}
span.index_system_link, a.index_system_link{
   color: white;
}
div.div_line{
   margin:10px 0px;
   border-top:1px solid black;
}

/**************************************
**** commsy_form_css ******************
**************************************/
td {
}

td.leftviews {
   padding-right: 5px;
   vertical-align: top;
}
td.rightviews {
   padding-left: 5px;
   vertical-align: top;
}

td.formfield{
   padding-bottom:5px;
   padding-top:10px;
}
h2.pagetitle{
  margin-bottom:0px;
  margin-top: 0px;
  font-size: 16pt;
  font-family: verdana, arial, sans-serif;
}
div.form_title{
   color:#EC930D;
   padding-top:10px;
   padding-bottom:3px;
   font-weight: bold;
}
.form_title_field{
  font-size: 20px;
  font-family: Arial, Nimbus Sans L, sans-serif;
}
td.key{
   position:relative;
   padding-bottom:10px;
   padding-top:10px;
   vertical-align: baseline;
}
.list span.desc, .desc, .desc_usage {
   font-size: 8pt;
}
span.small_font{
   font-weight:normal;
   font-size:8pt;
}
a.select_link{
   font-size:8pt;
   color:#EC930D;
}
span.select_link{
   font-size:8pt;
   color:#EC930D;
}
td.buttonbar{
   background-color: #F7F7F7;
   padding-bottom:2px;
   padding-top:3px;
   white-space:nowrap;
}
div.netnavigation_title{
   padding:0px 3px;
   font-size:8pt;
   font-weight:bold;
   border-bottom:1px solid #B0B0B0; vertical-align:top;
   color: #666666;
   background-color: #F7F7F7;
}
div.netnavigation_box{
   border:1px solid #3B658E;
   background-color: white;
}
div.netnavigation_list{
   padding:2px 3px;
   font-size:8pt;
   font-weight:normal;
}
div.netnavigation_list ul {
   margin-top: 0px;
   margin-left: 0px;
   margin-right: 0px;
   margin-bottom: 10px;
   padding-top: 0px;
   padding-bottom: 0px;
   padding-right: 0px;
   padding-left: 15px;
   list-style: circle; }
div.netnavigation_list li {
   margin-top: 2px;
}
.text{
   font-family: Arial, Nimbus Sans L, sans-serif;
   font-size:10pt;
}
td.key {
   color: #666666;
   font-weight:bold;
   white-space: nowrap;
}
span.key {
   color: #666666;
   font-weight:bold;
   white-space: nowrap;
}
.form tr.textarea td {
   position:relative;
   vertical-align: top; }

.form tr.textarea td.key {
   position:relative;
   padding-top: 13px; }

.form tr.textarea td.example {
   position:relative;
   padding-top: 13px; }

.form tr.radio td {
   position:relative;
   vertical-align: top; }

.form tr.radio td.key {
   position:relative;
   padding-top: 13px; }

.form tr.radio td.example {
   position:relative;
   padding-top: 13px; }

.form tr.checkboxgroup td {
   position:relative;
   vertical-align: top; }

.form tr.checkboxgroup td.key {
   position:relative;
   padding-top: 13px; }

.form tr.checkboxgroup td.example {
   position:relative;
   padding-top: 13px; }
.form tr.button td {
   position:relative;
   padding: 1px 3px;
   background-color: #EFEFEF; }

.form tr.button td.example {
  position:relative;
  text-align: right; }

.form table.multiselect {
   position:relative;
   empty-cells: show;
   border-style: none;
   border-spacing: 0px; }

.form table.multiselect td {
   position:relative;
   border-style: none;
   margin: 0px;
   padding-top: 0px;
   padding-left: 0px;
   padding-bottom: 0px;
   padding-right: 10px; }
div.formdate{
   color:#EC930D;
   padding-top:7px;
   padding-left:2px;
   padding-bottom:2px;
   font-weight: bold;
}
div.formdate{
   color:#EC930D;
   padding-top:7px;
   padding-left:2px;
   padding-bottom:2px;
   font-weight: bold;
   /* border: 1px solid #666; */
}
span.formcounter{
   color: #666666;
}
.formcounterfield{
   border:0;
   background-color: #F7F7F7;
   color: #666666;
}

#MySortable{
   list-style: none;
    padding-left:0px;
    margin-left:0px;
    width:400px;
}
#MySortableRoom{
   list-style: none;
    padding-left:0px;
    margin-left:0px;
    width:400px;
}
li.form_checkbox_dhtml{
   margin-top:2px;
   border: 1px dotted #3B658E;
   background-color: white;
   cursor: move;
   width:400px;
}

/* Netnavigation */
.netnavigation{
   background-color: white;
}
.netnavigation .netnavigation_panel, .netnavigation_panel_top{
   background-color: white;
   border-left:1px solid #B0B0B0;
   border-right:1px solid #B0B0B0;
   border-bottom:1px solid #B0B0B0;
    margin:0px;
   width:99%;
   font-size:8pt;
}
.netnavigation .panelContent{
   font-size:0.7em;
    padding:0px;
    overflow:hidden;
    position:relative;
    clear:both;
}
.netnavigation .panelContent div{
   position:relative;
}
.netnavigation .netnavigation_panel .tpBar{
   background-color:#F7F7F7;
   color:#666666;
   vertical-align:top;
   padding: 0px 0px;
   height:16px;
    padding-right:1px;
    overflow:hidden;
}
.netnavigation .netnavigation_panel ul, .netnavigation_panel_top ul {
   margin: 3px 0px 2px 2px;
   padding: 0px 0px 3px 15px;
   list-style: circle;
}
.netnavigation .netnavigations_panel li {
   margin-top: 2px;
}
.netnavigation .netnavigation_panel .tpBar span{
   line-height:16px;
   font-size:8pt;
    vertical-align:baseline;
   color:#666666;
    float:left;
    padding-left:5px;
}
.netnavigation .netnavigation_panel .tpBar img{
    float:right;
    cursor:pointer;
}
li.path_list{
   background-color: #dddddd;
}

#otherContent{  /* Normal text content */
    float:left; /* Firefox - to avoid blank white space above panel */
    padding-left:10px;  /* A little space at the left */
}

/**************************************
**** commsy_index_css *****************
**************************************/
/*Special Styles*/
div.indexdate{
   color:#EC930D;
   font-weight: bold;
}
div.restriction {
   padding: 1px 1px;
   font-weight:normal;
   font-size:10pt;
}
.closed {
   color: #01458A;
   font-size: 8pt;
}
a.head, a.head:hover{
   color: white;
   font-weight:bold;
}
span.index_description{
   font-size:10pt;
   font-weight:normal;
}
a.index_link, a.index_link:hover{
   color: white;
}

/**************************************
**** commsy_myarea_css ****************
**************************************/
div.myarea_frame {
   position:relative;
   width: 13.5em;
   margin:0px 0px 0px 5px;
   padding:0px; font-size: 10pt;
   border: 2px solid #C5C5C5;
}
div.myarea_headline {
   position:relative;
   width: 100%;
   margin:0px;
   padding:4px 0px 3px 0px;
   font-size: 10pt;
   font-weight: bold;
   background-color: #A2A2A2;
}
div.myarea_headline_title {
   padding: 0px 5px;
   color: #FFFFFF;
}
div.myarea_title {
   margin: 0px;
   padding: 3px 5px;
   font-style: italic;
   font-weight: bold;
   background-color: #F7F7F7;
   border-bottom: 1px solid #CDCBC2;
}
div.myarea_section_title {
   margin: 0px;
   padding: 3px 5px;
   color:black;
   background-color: #F7F7F7;
   border-bottom: 1px solid #CDCBC2;
}
div.myarea_content {
   margin: 0px;
   padding: 5px 5px 20px 5px;
   font-size: 9pt;
   background-color: #FCFCFC;
}
div.myarea_frame_bottom {
   position:relative;
   width: 13.5em;
   margin:0px 0px 0px 5px;
   padding:0px;
   font-size:1px;
   border-left: 2px solid #CBD0D6;
   border-right: 2px solid #CBD0D6;
   border-bottom: 2px solid #CBD0D6;
}
div.myarea_content_bottom {
   position:relative;
   width: 100%;
   margin:0px;
   padding:0px;
   background-color: #EFECE2;
}

div.gauge {
   background-color: white;
   height:5px;
   margin-left: 10px;
   margin-right: 10px;
   margin-top: 3px;
   margin-bottom: 3px;
   border: 1px solid #666;
   font-size:10px;
}
div.gauge-bar {
   background-color: #3B658E;
   height:5px;
   text-align: right;
   color:white;
   font-size:10px;
}

/*Font and Hyperlinks*/

a.select_link{
   font-size:8pt;
   color: white;
   font-weight:bold;
}
span.select_link{
   font-size:8pt;
   color: white;
}



/*List Layout*/
.list {
   border-collapse: collapse;
   width: 100%;
   font-size:10pt;
}
.list td, td.odd {
   background-color: #EFECE2;
   padding: 2px 3px;
   font-size:10pt;
}
.list td.even  {
   background-color: #F7F7F7;
}
.list td.head {
   background-color:#3B658E;
   color: white;
   border-bottom: none;
   line-height:17px;
   padding: 3px 3px;
   font-weight:bold;
   white-space:nowrap;
}
.list td.head_nav {
   border-bottom: none;
   padding: 3px 3px;
   font-weight:bold;
   text-align: right;
}
.list td.foot_left {
   background-color: #3B658E;
   color: white;
   border-bottom: none;
   padding: 2px 2px;
   font-weight:bold;
}
.list td.foot_right {
   background-color: #3B658E;
   color: white;
   border-bottom: none;
   padding: 2px 2px;
   font-weight:bold;
   text-align: right;
}