/***************DOJO**************/
.dijitTreeIcon {
    display: none;
    height: 16px;
    width: 16px;
}
.dijitTreeLabel:hover {
    text-decoration:underline;
    cursor:pointer;
}
#myForm .upload{
	display:none;
	}

.tundra .dijitButtonNode {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("img/pop_button_bg.jpg") repeat-x scroll left bottom #FFFFFF;
    border: 1px solid #919191;
    border-style: solid;
    border-width: 1px;
    padding: 3px 10px;
}

.tundra .dijitButtonHover .dijitButtonNode,
.tundra .dijitButtonNodeHover,
.tundra .dijitToggleButtonHover .dijitButtonNode,
.tundra .dijitDropDownButtonHover .dijitButtonNode,
.tundra .dijitComboButton .dijitButtonContentsHover,
.tundra .dijitComboButton .dijitDownArrowButtonHover {

    border: 1px solid #393939;
    background: url("img/pop_button_bg.jpg") repeat-x scroll left bottom #FFFFFF;
}

.tundra .dijitUpArrowButtonActive,
.tundra .dijitDownArrowButtonActive,
.tundra .dijitButtonActive .dijitButtonNode,
.tundra .dijitToggleButtonActive .dijitButtonNode,
.tundra .dijitDropDownButtonActive .dijitButtonNode,
.tundra .dijitButtonContentsActive,
.tundra .dijitStackController .dijitToggleButtonChecked .dijitButtonNode {
   background: url("img/pop_button_bg.jpg") repeat-x scroll left bottom #FFFFFF;
}

.tundra .dijitButtonText {
    font-size: 11px;
    padding: 0;
    text-align: center;
}

.tundra.dojoDndMove .dojoDndAvatarHeader	{background-color: #C0C0C1;}
.tundra.dojoDndCopy .dojoDndAvatarHeader	{background-color: #C0C0C1;}
.tundra.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader	{background-color: #C0C0C1;}
.tundra.dojoDndCopy .dojoDndAvatarCanDrop .dojoDndAvatarHeader	{background-color: #C0C0C1;}


.tundra .dijitTree {
	overflow: auto !important;
}

.tundra .dijitTreeRow, .dijitTreeContent {
    white-space: normal;
}

.tundra .dijitTreeRowSelected .dijitTreeLabel {
	background: none !important;
	background-color: none !important;
	font-weight: bold !important;
	text-decoration: underline !important;
} 

.tundra .dijitTreeExpandoLeaf {
    float: left;
    margin-right: 10px !important;
}

.tundra .dijitTreeExpandoOpened {
	float: left;
    margin-right: 10px !important;
}

.tundra .dijitTreeExpandoClosed {
	float: left;
    margin-right: 10px !important;
}

.tundra .dijitTreeLabel {
    margin-left: -5px !important;
}

.tundra .dijitTreeRow {
    padding-bottom: 3px;
}

.tundra .dojoxLightbox {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    border: 5px solid transparent !important;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    padding: 5px 25px 25px 5px;
}

.tooltip_inner_lightbox {
    background: none repeat scroll 0 0 #E8E8E8;
    border-radius: 2px 2px 2px 2px;
    padding:10px;
    position:relative;
}

.dojoxLightboxContainer {
    background: none repeat scroll 0 0 #E8E8E8;
    border-radius: 2px 2px 2px 2px;
    border: 5px solid solid !important;
    padding:10px;
}

.dijitDialogUnderlay {
    background: none repeat scroll 0 0 #EEEEEE;
    opacity: 0 !important;
}
