{% extends 'CommsyBundle:Menu:knp_menu_breadcrumb.html.twig' %}

{% block dashboardEdit %}
<div class="uk-float-right cs-padding-10">
    <a href="#" class="button-toggle uk-button-mini uk-button-primary">
        <i class="uk-icon-gears"></i>
    </a>
</div>
{% endblock %}