{% import 'utils/macros.html.twig' as macros %}
{% import 'material/macros.html.twig' as macrosMaterial %}

{# sections #}
<div id="sections{{ material.itemId }}" class="cs-edit-section cs-toggle" data-uk-observe data-cs-edit="{editUrl: '{{ path('app_material_editsections', {'roomId': material.contextId, 'itemId': material.itemId}) }}', cancelEditUrl: '{{ path('app_item_canceledit', {'roomId': material.contextId, 'itemId': material.itemId}) }}' }">
    {{ macrosMaterial.sections(material, sectionList) }}
</div>