/**
 * Override any uikit- or CommSy-defined variables.
 * 
 * For a list of all available uikit variables see
 * vendor/bower_components/uikit/less/uikit-variables.less
 *
 * CommSy variables are defined in
 * app/Resources/assets/uikit-commsy/cs-theme/variables.less
 */

// Variables
// ========================================================================

@base-link-color: #6e6f74;
@base-link-hover-color: #4d4d50;

@cs-brand-color: #6d6d6d;
@cs-accent-color: #525252;

#cover {
    width: 100%;
    background-image: url(../../../img/themes/grey/bg.jpg);
}