# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     3306
    database_name:     commsy
    database_user:     root
    database_password: root
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    router.request_context.host: example.org
    router.request_context.scheme: https
    router.request_context.base_url: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_port:       25
    mailer_user:       ~
    mailer_password:   ~

    # email
    email.from: example@example.com
    email.upload.enabled: false
    email.upload.server: ~
    email.upload.port: 993
    email.upload.options: /imap/ssl
    email.upload.account: example@example.org
    email.upload.password: ~

    locale:            en

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # elasticsearch
    elastic_host: ~
    elastic_port: 9200
    elastic_user: ~
    elastic_password: ~

    # security
    security.privacy_disable_overwriting: false

    # proxy
    proxy.ip: ~
    proxy.port: ~

    # extensions
    extensions.etherpad.enabled: false
    extensions.etherpad.api_key: ~
    extensions.etherpad.api_url: ~
    extensions.etherpad.base_url: ~

    extensions.mediawiki.enabled: false
    extensions.mediawiki.url: ~
    extensions.mediawiki.room_wiki_url: ~
    extensions.mediawiki.api_url: ~
    extensions.mediawiki.consumer_key: ~
    extensions.mediawiki.consumer_secret: ~
    extensions.mediawiki.access_token: ~
    extensions.mediawiki.access_secret: ~

    # pre-defined theme
    liip_theme_pre_configuration.active_theme: ~

    # dates
    dates.timezone: ~