/**
 * Override any uikit- or CommSy-defined variables.
 * 
 * For a list of all available uikit variables see
 * vendor/bower_components/uikit/less/uikit-variables.less
 *
 * CommSy variables are defined in
 * app/Resources/assets/uikit-commsy/cs-theme/variables.less
 */

// Variables
// ========================================================================

@base-link-color: #b2010b;
@base-link-hover-color: #9a030b;

@cs-brand-color: #90030b;
@cs-accent-color: #be0009;

#cover {
    width: 100%;
    background-image: url("../../../img/themes/schulcommsyhh/bg.jpg");
}