// Name:            Navbar
// Description:     Defines styles for the navigation bar
//
// Component:       `uk-navbar`
//
// Sub-objects:     `uk-navbar-nav`
//                  `uk-navbar-nav-subtitle`
//                  `uk-navbar-content`
//                  `uk-navbar-brand`
//                  `uk-navbar-toggle`
//                  `uk-navbar-toggle-alt`
//                  `uk-navbar-center`
//                  `uk-navbar-flip`
//
// Modifiers:       `uk-navbar-attached`
//
// States:          `uk-active`
//                  `uk-parent`
//                  `uk-open`
//
// Used by:         Dropdown
//
// Markup:
//
// <!-- uk-navbar -->
// <nav class="uk-navbar">
//     <ul class="uk-navbar-nav">
//         <li class="uk-active"><a href=""></a></li>
//         <li><a href=""></a></li>
//     </ul>
// </nav>
//
// ========================================================================


// Variables
// ========================================================================

@navbar-background:                             #fff;
@navbar-nav-height:                             50px;

@navbar-nav-item-height: 50px;


// Hooks
// ========================================================================

.hook-navbar-misc;

.hook-navbar() {}
.hook-navbar-nav() {}
.hook-navbar-nav-hover() {}
.hook-navbar-nav-onclick() {}
.hook-navbar-nav-active() {}
.hook-navbar-content() {}
.hook-navbar-misc() {}