/* used individual colors */

/*
{$ color_active_menu}
{$ color_menu}
{$ color_right_column}
{$ color_content_bg}
{$ color_link}
{$ color_link_hover}
{$ color_action_bg}
{$ color_action_icon}
{$ color_action_icon_hover}
{$ color_bg}
*/

/* Body*/

body {
    background-image: url("{$bg_image}"); /* Background-Image */
    background-repeat: {$bg_repeat};
    background-attachment: {$bg_fixed};
	background-position: 50% 50%;
    background-color: {$color_bg}; /*CS_BG_COLOR*/
}

#logo_area {
    float: left;
    width: 735px;
}



/* Navigation */

#main_navigation {
    background:{$color_active_menu};
}
#main_navigation #active {
    background: {$color_active_menu};
    border-bottom: 1px solid {$color_active_menu};
}

#main_navigation ul {
    border-right: 0px solid {$color_active_menu};
}

#main_navigation .non_active a {
    border-left: none;
    border-right: 1px solid {$color_active_menu};
    color: #454545;
}

#main_navigation #active a {
    border-right: 1px solid {$color_active_menu};
    color: #FFFFFF;
}

#main_navigation .non_active {
    background: {$color_menu};
}

#main_navigation ul#right_navigation {
    border-left: 1px solid {$color_active_menu};
    border-right: none;
}

#main_navigation .non_active a {
    border-left: none;
    border-right: 1px solid {$color_active_menu};
    color: #000000;
}

#main_navigation #site_actions {
    background: none;
    border-left: 1px solid #999999;
}

#main_navigation .non_active a:hover {
    color: #454545;
    border-left: none;
    border-right: 1px solid #999;
    background: #E0DEDF;
    }



/* Right Column */
#right_column {
    border-top: none;
}

#columnset {
    background: {$color_right_column};
    border-left: 1px solid #999999;
}

#info_area_row_1, #info_area_row_2, #info_area_row_3 {
    border-right: 1px solid #999999;
}

#rc_portlet_area {
    background: none;
}

#info_addon {
	background:none;
	border-bottom: 1px solid #999999;
    border-top: 1px solid #999999;
    color: #DEE8FF;
    text-shadow: none;
}

#footer_right {
    background: {$color_right_column};
    color: #DEE8FF;
}

#addon_area_row_1 {
    border-left: 0px solid {$color_right_column};
}

.portlet_rc h2 {
    border-bottom: 1px solid #999999;
    color: #DEE8FF;
    text-shadow: none;
}

.portlet_rc_body {
    border-top: 0px solid #999999;
    color: #DEE8FF;
}

.portlet_rc_body .change_view select {
    background: {$color_right_column};
    border: 1px solid #999999;
    color: #FFFFFF;
}

a.keywords_s1, a.keywords_s2, a.keywords_s3, a.keywords_s4 {
    color: #DEE8FF;
    text-shadow: none;
}

#dis_navigation {
    border-top: 0px solid #999999;
}

/*Content*/
.table_head {
    background: {$color_bg};
    border-bottom: 1px solid #999999;
}

.content_item .item_info {
    background: {$color_bg};
    text-shadow: 0 1px #F5F5F5;
    border-bottom:1px solid #999999;
}

#footer_left {
    background-color: {$color_bg};
    border-left: 1px solid #999999;
    color: #898989;
}

#footer_right span {
    border-top: 1px solid #999999;
    display: block;
    padding: 10px 0 8px;
}

#footer_right p {
	border-top: none;
    text-shadow: none;
}

.content_item h2 {
    background: {$color_bg};
    border-bottom:1px solid #999999;
}

a {
   color: {$color_link};
}

a:hover {
   color: {$color_link_hover};
}




/* Actions */

#content_with_actions {
    background: {$color_action_bg};
}

.item_actions a {
    background: {$color_action_icon};
}

.item_actions a:hover {
    background: {$color_action_icon_hover};
}

a.item_actions_glow {
    background: {$color_action_icon_hover};
}

/* FORM */

#item_postnew {
    background: none;
}


