* {

   margin: 0px;
   padding: 0px;

}

html {

   background: #d7e5ee;
   text-align: center;
   width: 100%;
   height: 100%;

}

body {

   font-size: 11px;
   line-height: 19px;
   color: #353d3f;
   font-family: "Verdana";
   margin: 0px auto;
   text-align: center;
   width: 100%;
   height: 100%;

}

td {

   font-size: 11px;
   line-height: 19px;
   font-family: "Verdana";

}

ul {

   margin: 0px;
   padding: 0px;

}

li {

   list-style: none;

}

form {

   margin: 0px;
   padding: 0px;

}

img {

   border: none;

}

.clean {

   clear: both;
   height: 0px;
   font-size: 0px;
   display: block;
   width: 100%;

}

a {

   color: #353d3f;
   text-decoration: none;

}

a.link_in_text {

   color: #353d3f;
   text-decoration: underline;

}

a:hover {

   color: #353d3f;
   text-decoration: underline;

}

#layer {

   width: 900px;
   height: 543px;
   position: relative;
   margin: 0px auto;
   padding: 0px;
   text-align: left;
   overflow: hidden;

}

#status {

   width: 900px;
   height: 42px;
   overflow: hidden;
   margin-bottom: 10px;

}

#text {

   width: 580px;
   height: 446px;
   background: url(text.jpg) no-repeat;
   overflow: hidden;
   padding: 25px 25px 25px 295px;

}

#text #hinweis {

   width: 558px;
   height: 40px;
   background: #ffffe1;
   overflow: hidden;
   padding: 10px;
   margin: 0px 0px 20px 0px;
   border: 1px solid #aca899;

}

#text h1 {

   font-size: 11px;
   line-height: 19px;
   color: #353d3f;
   font-family: "Verdana";
   font-weight: bold;
   margin: 0px 0px 10px 0px;

}

#text p {

   margin: 0px 0px 10px 0px;

}

#text #lizenz {

   width: 518px;
   height: 250px;
   background: #fff;
   overflow: auto;
   padding: 30px;
   margin: 0px 0px 20px 0px;
   border: 1px solid #aca899;

}

#text .formular {
   width: 258px;
   border: 1px solid #c2cfd5;
   height: 18px;
   padding: 4px 0px 0px 4px;
   margin-top: 4px;
   font-family: "Verdana";
   font-size: 11px;
   font-weight: normal;
}




















