/* default styles for extension "tx_felogin_pi1" */
	.tx-felogin-pi1 label {
		display: block;
	}
/* default styles for extension "tx_indexedsearch" */
		.tx-indexedsearch .tx-indexedsearch-browsebox LI { display:inline; margin-right:5px; }
		.tx-indexedsearch .tx-indexedsearch-searchbox INPUT.tx-indexedsearch-searchbox-button { width:100px; }
		.tx-indexedsearch .tx-indexedsearch-searchbox INPUT.tx-indexedsearch-searchbox-sword { width:150px; }
		.tx-indexedsearch .tx-indexedsearch-whatis { margin-top:10px; margin-bottom:5px; }
		.tx-indexedsearch .tx-indexedsearch-whatis .tx-indexedsearch-sw { font-weight:bold; font-style:italic; }
		.tx-indexedsearch .tx-indexedsearch-noresults { text-align:center; font-weight:bold; }
		.tx-indexedsearch .tx-indexedsearch-res TD.tx-indexedsearch-descr { font-style:italic; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-descr .tx-indexedsearch-redMarkup { color:red; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-info { background:#eeeeee; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead { margin-top:20px; margin-bottom:5px; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead H2 { margin-top:0px; margin-bottom:0px; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead TD { background:#cccccc; vertical-align:middle; }
		.tx-indexedsearch .tx-indexedsearch-res .noResume { color:#666666; }
		.tx-indexedsearch .tx-indexedsearch-category { background:#cccccc; font-size:16px; font-weight:bold; }

		/* Additional styles, needed for the tableless template_css.tmpl (styles don't conflict with the original template) */
		.tx-indexedsearch .res-tmpl-css { clear:both; margin-bottom:1em; }
		.tx-indexedsearch .searchbox-tmpl-css LABEL { margin-right:1em; width:10em; float:left; }
		.tx-indexedsearch .result-count-tmpl-css, .tx-indexedsearch .percent-tmpl-css { letter-spacing:0; font-weight:normal; margin-top:-1.2em; float:right; }
		.tx-indexedsearch .info-tmpl-css dt, .tx-indexedsearch dl.info-tmpl-css dd { float:left; }
		.tx-indexedsearch .info-tmpl-css dd.item-mtime { float:none; }
		.tx-indexedsearch .info-tmpl-css dd.item-path { float:none; }
/* default styles for extension "tx_ptextlist" */
	
	/* List */
	.tx-ptextlist-list-standard {
		border-collapse: collapse;
		border-spacing: 0;
		font-size: 12px;
		width: 100%;
	}
	
	.tx-ptextlist-list-standard th {
		background: #AAA;
		border: 1px solid #bfbfbf;
		padding: 4px;
		white-space: nowrap;
	}
	
	.tx-ptextlist-list-standard td {
		border: 1px solid #bfbfbf;
		margin: 0px;
		padding: 2px 4px 2px 4px;
		vertical-align: top;
	}
	
	.tx-ptextlist-list-standard tr.odd {
		background-color: #ffffff;
	}
	
	.tx-ptextlist-list-standard tr.even {
		background-color: #F5F5F5;
	}
	
	
	/* Listheader */
	.tx-ptextlist-list-header a {
		text-decoration: none;
	}
	
	.tx-ptextlist-list-header img {
		border: none;
	}
	
	
	/* Aggregates */
	.tx-ptextlist-aggregaterow {
		background-color: #DDDDDD;
		font-weight: bold;
	}

	/* Export */

	.tx-ptextlist-list-exportLink {
	    margin: 5px;
	}

	/* Column selector */
	.tx-ptextlist-columnSelector{
		border: 1px solid #BFBFBF;
		margin-bottom: 20px;
		padding: 5px;
		overflow: hidden;
		background-color: #eee;
	}


	/* Filters */
	.tx-ptextlist-filterbox {
		border: 1px solid #BFBFBF;
		margin-bottom: 20px;
		padding: 5px;
		overflow: hidden;
		background-color: #eee;
	}
	
	.tx-ptextlist-filterboxcontrols {
		/* float: left; */
		clear: both;
		padding: 18px 0 0 10px;
	}

	.tx-ptextlist-filters {
		list-style-type: none;
	}
	
	.tx-ptextlist-filter {
		float: left;
		margin: 20px;
		padding: 10px;
		list-style-type: none;
		background-color: #ccc;
		border: 1px solid #AFAFAF;
	}



	/* Filters | Firstletter */	
	.tx-ptextlist-filter-firstLetter{
		float: left;
		padding: 3px;
		list-style-type: none;
	}

	.type-button .reset {
		margin-left: 1em;
	}
	
	/* Filters | TagClud */
	.tx-ptextlist-filter-tagCloud-list li {
		float: left;
		list-style: none outside none;
		margin-right: 6px;
		margin-top: 3px;

	}
	
	.tx-ptextlist-filter-tagCloud-list li a:hover {
		text-decoration: underline;
	}
	
	/* Pager */
	.tx-ptextlist-pager-wrapper {
	    border: 1px solid #BFBFBF;
        margin-top: 20px;
        padding: 5px;
        overflow: hidden;
        background-color: #eee;
	}
	
	.tx-ptextlist-pager {
		margin-left: 0;
		text-align: center;
	}
	
	.tx-ptextlist-pager li {
		display: inline;
	}
	
	.tx-ptextlist-pager-item-display {
		color: #777;
	}
/* default styles for extension "tx_cssstyledcontent" */
	/* Headers */
	.csc-header-alignment-center { text-align: center; }
	.csc-header-alignment-right { text-align: right; }
	.csc-header-alignment-left { text-align: left; }

	/* Clear floats after csc-textpic and after csc-textpic-imagerow */
	DIV.csc-textpic, DIV.csc-textpic DIV.csc-textpic-imagerow, UL.csc-uploads LI { overflow: hidden; }

	/* Set padding for tables */
	DIV.csc-textpic .csc-textpic-imagewrap table { border-collapse: collapse; border-spacing: 0; }
	DIV.csc-textpic .csc-textpic-imagewrap table tr td { padding: 0; vertical-align: top; }

	/* Settings for figure and figcaption (HTML5) */
	DIV.csc-textpic .csc-textpic-imagewrap FIGURE, DIV.csc-textpic FIGURE.csc-textpic-imagewrap { margin: 0; display: table; }

	/* Captions */
	FIGCAPTION.csc-textpic-caption { display: table-caption; }
	.csc-textpic-caption { text-align: left; caption-side: bottom; }
	DIV.csc-textpic-caption-c .csc-textpic-caption, .csc-textpic-imagewrap .csc-textpic-caption-c { text-align: center; }
	DIV.csc-textpic-caption-r .csc-textpic-caption, .csc-textpic-imagewrap .csc-textpic-caption-r { text-align: right; }
	DIV.csc-textpic-caption-l .csc-textpic-caption, .csc-textpic-imagewrap .csc-textpic-caption-l { text-align: left; }

	/* Float the columns */
	DIV.csc-textpic DIV.csc-textpic-imagecolumn { float: left; }

	/* Border just around the image */
	DIV.csc-textpic-border DIV.csc-textpic-imagewrap IMG {
		border: 2px solid black;
		padding: 0px 0px;
	}

	DIV.csc-textpic .csc-textpic-imagewrap IMG { border: none; display: block; }

	/* Space below each image (also in-between rows) */
	DIV.csc-textpic .csc-textpic-imagewrap .csc-textpic-image { margin-bottom: 10px; }
	DIV.csc-textpic .csc-textpic-imagewrap .csc-textpic-imagerow-last .csc-textpic-image { margin-bottom: 0; }

	/* colSpace around image columns, except for last column */
	DIV.csc-textpic-imagecolumn, TD.csc-textpic-imagecolumn .csc-textpic-image { margin-right: 10px; }
	DIV.csc-textpic-imagecolumn.csc-textpic-lastcol, TD.csc-textpic-imagecolumn.csc-textpic-lastcol .csc-textpic-image { margin-right: 0; }

	/* Add margin from image-block to text (in case of "Text w/ images") */
	DIV.csc-textpic-intext-left .csc-textpic-imagewrap,
	DIV.csc-textpic-intext-left-nowrap .csc-textpic-imagewrap {
		margin-right: 10px;
	}
	DIV.csc-textpic-intext-right .csc-textpic-imagewrap,
	DIV.csc-textpic-intext-right-nowrap .csc-textpic-imagewrap {
		margin-left: 10px;
	}

	/* Positioning of images: */

	/* Center (above or below) */
	DIV.csc-textpic-center .csc-textpic-imagewrap, DIV.csc-textpic-center FIGURE.csc-textpic-imagewrap { overflow: hidden; }
	DIV.csc-textpic-center .csc-textpic-center-outer { position: relative; float: right; right: 50%; }
	DIV.csc-textpic-center .csc-textpic-center-inner { position: relative; float: right; right: -50%; }

	/* Right (above or below) */
	DIV.csc-textpic-right .csc-textpic-imagewrap { float: right; }
	DIV.csc-textpic-right DIV.csc-textpic-text { clear: right; }

	/* Left (above or below) */
	DIV.csc-textpic-left .csc-textpic-imagewrap { float: left; }
	DIV.csc-textpic-left DIV.csc-textpic-text { clear: left; }

	/* Left (in text) */
	DIV.csc-textpic-intext-left .csc-textpic-imagewrap { float: left; }

	/* Right (in text) */
	DIV.csc-textpic-intext-right .csc-textpic-imagewrap { float: right; }

	/* Right (in text, no wrap around) */
	DIV.csc-textpic-intext-right-nowrap .csc-textpic-imagewrap { float: right; }

	/* Left (in text, no wrap around) */
	DIV.csc-textpic-intext-left-nowrap .csc-textpic-imagewrap { float: left; }

	DIV.csc-textpic DIV.csc-textpic-imagerow-last, DIV.csc-textpic DIV.csc-textpic-imagerow-none DIV.csc-textpic-last { margin-bottom: 0; }

	/* Browser fixes: */

	/* Fix for unordered and ordered list with image "In text, left" */
	.csc-textpic-intext-left ol, .csc-textpic-intext-left ul { padding-left: 40px; overflow: auto; }

	/* File Links */
	UL.csc-uploads { padding: 0; }
	UL.csc-uploads LI { list-style: none outside none; margin: 1em 0; }
	UL.csc-uploads IMG { float: left; padding-right: 1em; vertical-align: top; }
	UL.csc-uploads SPAN { display: block; }
	UL.csc-uploads SPAN.csc-uploads-fileName { text-decoration: underline; }

	/* Table background colors: */

	TABLE.contenttable-color-1 { background-color: #EDEBF1; }
	TABLE.contenttable-color-2 { background-color: #F5FFAA; }
	TABLE.contenttable-color-240 { background-color: black; }
	TABLE.contenttable-color-241 { background-color: white; }
	TABLE.contenttable-color-242 { background-color: #333333; }
	TABLE.contenttable-color-243 { background-color: gray; }
	TABLE.contenttable-color-244 { background-color: silver; }
/* default styles for extension "tx_cssfilelist" */
	.filelinks div{padding-left:25px; background:url('/typo3/gfx/fileicons/default.gif') left top no-repeat; margin-bottom:10px;}
	.filelinks span{display:block;}
	.filelinks .filecount{display:block; margin-bottom:5px;} 
	.filelinks a{color:#000;text-decoration:none; }
	/* Icons begin */
	.filelinks .ai{background-image:url('/typo3/gfx/fileicons/ai.gif')!important;}
	.filelinks .ani{background-image:url('/typo3/gfx/fileicons/ani.gif')!important;}
	.filelinks .au{background-image:url('/typo3/gfx/fileicons/au.gif')!important;}
	.filelinks .avi{background-image:url('/typo3/gfx/fileicons/avi.gif')!important;}
	.filelinks .bmp{background-image:url('/typo3/gfx/fileicons/bmp.gif')!important;}
	.filelinks .cdr{background-image:url('/typo3/gfx/fileicons/cdr.gif')!important;}
	.filelinks .css{background-image:url('/typo3/gfx/fileicons/css.gif')!important;}
	.filelinks .csv{background-image:url('/typo3/gfx/fileicons/csv.gif')!important;}
	.filelinks .doc{background-image:url('/typo3/gfx/fileicons/doc.gif')!important;}
	.filelinks .dtd{background-image:url('/typo3/gfx/fileicons/dtd.gif')!important;}
	.filelinks .eps{background-image:url('/typo3/gfx/fileicons/eps.gif')!important;}
	.filelinks .exe{background-image:url('/typo3/gfx/fileicons/exe.gif')!important;}
	.filelinks .fh3{background-image:url('/typo3/gfx/fileicons/fh3.gif')!important;}
	.filelinks .flash{background-image:url('/typo3/gfx/fileicons/flash.gif')!important;}
	.filelinks .folder{background-image:url('/typo3/gfx/fileicons/folder.gif')!important;}
	.filelinks .gif{background-image:url('/typo3/gfx/fileicons/gif.gif')!important;}
	.filelinks .htm{background-image:url('/typo3/gfx/fileicons/htm.gif')!important;}
	.filelinks .html{background-image:url('/typo3/gfx/fileicons/html.gif')!important;}
	.filelinks .ico{background-image:url('/typo3/gfx/fileicons/ico.gif')!important;}
	.filelinks .inc{background-image:url('/typo3/gfx/fileicons/inc.gif')!important;}
	.filelinks .java{background-image:url('/typo3/gfx/fileicons/java.gif')!important;}
	.filelinks .jpg{background-image:url('/typo3/gfx/fileicons/jpg.gif')!important;}
	.filelinks .js{background-image:url('/typo3/gfx/fileicons/js.gif')!important;}
	.filelinks .max{background-image:url('/typo3/gfx/fileicons/max.gif')!important;}
	.filelinks .mid{background-image:url('/typo3/gfx/fileicons/mid.gif')!important;}
	.filelinks .mov{background-image:url('/typo3/gfx/fileicons/mov.gif')!important;}
	.filelinks .mpeg{background-image:url('/typo3/gfx/fileicons/mpeg.gif')!important;}
	.filelinks .mpg{background-image:url('/typo3/gfx/fileicons/mpg.gif')!important;}
	.filelinks .pcd{background-image:url('/typo3/gfx/fileicons/pcd.gif')!important;}
	.filelinks .pcx{background-image:url('/typo3/gfx/fileicons/pcx.gif')!important;}
	.filelinks .pdf{background-image:url('/typo3/gfx/fileicons/pdf.gif')!important;}
	.filelinks .png{background-image:url('/typo3/gfx/fileicons/png.gif')!important;}
	.filelinks .ps{background-image:url('/typo3/gfx/fileicons/ps.gif')!important;}
	.filelinks .psd{background-image:url('/typo3/gfx/fileicons/psd.gif')!important;}
	.filelinks .rtf{background-image:url('/typo3/gfx/fileicons/rtf.gif')!important;}
	.filelinks .sgml{background-image:url('/typo3/gfx/fileicons/sgml.gif')!important;}
	.filelinks .swf{background-image:url('/typo3/gfx/fileicons/swf.gif')!important;}
	.filelinks .sxc{background-image:url('/typo3/gfx/fileicons/sxc.gif')!important;}
	.filelinks .sxw{background-image:url('/typo3/gfx/fileicons/sxw.gif')!important;}
	.filelinks .tga{background-image:url('/typo3/gfx/fileicons/tga.gif')!important;}
	.filelinks .tif{background-image:url('/typo3/gfx/fileicons/tif.gif')!important;}
	.filelinks .ttf{background-image:url('/typo3/gfx/fileicons/ttf.gif')!important;}
	.filelinks .txt{background-image:url('/typo3/gfx/fileicons/txt.gif')!important;}
	.filelinks .wav{background-image:url('/typo3/gfx/fileicons/wav.gif')!important;}
	.filelinks .wrl{background-image:url('/typo3/gfx/fileicons/wrl.gif')!important;}
	.filelinks .xls{background-image:url('/typo3/gfx/fileicons/xls.gif')!important;}
	.filelinks .xml{background-image:url('/typo3/gfx/fileicons/xml.gif')!important;}
	.filelinks .xsl{background-image:url('/typo3/gfx/fileicons/xsl.gif')!important;}
	.filelinks .zip{background-image:url('/typo3/gfx/fileicons/zip.gif')!important;}
	/* Icons end */
	.filelinks a:hover{text-decoration:underline;}
/* default styles for extension "tx_a21glossary" */
		acronym, dfn, abbr, span.abbr { border-bottom: 1px dotted black; cursor: help; }
		dl.glossary dt { font-weight: bold; margin: 0 0 3px 0; font-style: normal; }
		dl.glossary dd { margin: 0 0 15px 20px; }
		dl.glossary .description { margin: 0; padding: 0; }
		dl.glossary .type { font-style: italic; padding: 0 3px 0 0; }
/* default styles for extension "tx_ptextbase" */

	.tx-extbase-highlight {
        font-weight:bold;
        color: #003399;
    }

    .pt-extbase-groupselector {
        border: 1px solid #7C7C7C;
        padding:5px;
    }
    