/*
----------------------------------------------------------------------
build in: July 2012
copyright: banality GmbH
location: Essen-Germany, www.banality.de
----------------------------------------------------------------------
*/



/*
----------------------------------------------------------------------
global structure - tag definitions
----------------------------------------------------------------------
*/

body {
    margin: 0px;
    border: 0px none;
    padding: 0px;
    background: url(images/body_bg.jpg) repeat-x #FFF;
    color: #525252;
    font-family: verdana, sans-serif;
    text-align: left;
    font-size: 12px;
    line-height: 17px;
    }

p, form {
    margin: 0px;
    border: 0px none;
    padding: 0px;
    }

img {
    border: 0px none;
    }

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    padding: 0px;
    margin: 0px;
    }


/*
----------------------------------------------------------------------
id and class selectors, general
----------------------------------------------------------------------
*/

.clear {
    clear: both;
    }

.wrapper {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    }



/*
----------------------------------------------------------------------
meta-menue + header + main-navigation
----------------------------------------------------------------------
*/

#meta_menue {
    text-align: right;
    color: #FFF;
    }

#meta_menue a {
    display: block;
    float: right;
    background: url(images/meta_nav_bg.jpg) repeat-x #323232;
    padding: 5px 10px 8px 10px;
    color: #FFF;
    text-shadow: #141414 0px 1px;
    text-decoration: none;
    }

#meta_menue p {
    padding: 5px 10px 0px 0px;
    float: right;
    }

#meta_menue a:hover {
    background: url(images/meta_nav_hover_bg.jpg) repeat-x #323232;
    }

#logout {
    background: url(images/logout_button.gif) no-repeat 0px 5px;
    padding-left: 13px;
    }

#hsk_header {
    background: url(images/header_bg.jpg) no-repeat;
    padding-bottom: 73px;
    }

a#hsk_logo {
    width: 150px;
    display: block;
    float: left;
    }

a#hsk_logo:hover {
    background: url(images/home_hover.gif) no-repeat 82px 59px;
    }

a#rhoen_logo {
    float: right;
    }

#hsk_main_navigation ul {
    padding: 0px;
    margin: 0px 0px 3px 0px;
    float: left;
    }

#hsk_main_navigation li {
    list-style-type: none;
    float: left;
    margin-right: 1px;
    background: url(images/mn_nonactive.jpg) repeat-x;
    }

#hsk_main_navigation li:hover {
    background: url(images/mn_active.jpg) repeat-x;
    }

#hsk_main_navigation li a {
    display: block;
    font-size: 13px;
    font-weight: bold;
    padding: 11px 10px 12px 10px;
    text-decoration: none;
    }

#hsk_main_navigation li ul {
	display: none;
	height: auto;
	padding: 0px;
	margin: 0px;
	position: absolute;
	width: 230px;
	z-index: 200;
	}

#hsk_main_navigation li:hover ul {
	display: block;
	}

#hsk_main_navigation li li {
    background: #787878 !important;
	display: block;
	margin: 0px;
	padding: 0px;
	width: 230px;
	border-bottom: 1px solid #C4C4C4;
	}

#hsk_main_navigation li ul a:hover, #hsk_main_navigation li ul li:hover a {
	background: #949494 !important;
	border: 0px;
	color: #FFF;
	text-decoration:none;
	}

#hsk_main_navigation li li a {
    color: #FFF;
    text-shadow: #565656 0px 1px;
	}

li a.mn_item {
    color: #383838;
    text-shadow: #D8D8D8 0px 1px;
    }

li:hover a.mn_item {
    color: #FFF;
    text-shadow: #565656 0px 1px;
    }

a#mn_emergency {
    background: url(images/mn_emergency.jpg) repeat-x;
    color: #FFF;
    text-shadow: #AF8515 0px 1px;
    }

a#mn_emergency:hover {
    background: url(images/mn_emergency_ho.jpg) repeat-x;
    }

a#mn_home {
    background: url(images/mn_home.jpg) repeat-x;
    color: #FFF;
    text-shadow: #4A4A4A 0px 1px;
    }

a#mn_home:hover {
    background: url(images/mn_home_ho.jpg) repeat-x;
    }

#button_home {
    background: url(images/button_home.gif) no-repeat 0px 4px;
    padding-left: 16px;
    }

#button_emergency {
    background: url(images/button_emergency.gif) no-repeat 0px 4px;
    padding-left: 15px;
    }

#main_search {
    float: right;
    border: 2px solid #C3C3C3;
    background: url(images/search_input_bg.jpg) repeat-x #FFF;
    padding: 2px 2px 3px 5px !important;
    margin-top: 5px;
    }

#main_search input#search_input {
    border: 0px none;
    width: 105px;
    color: #7D7D7D;
    font-size: 12px;
    }

#main_search input {
    vertical-align: middle;
    }



/*
----------------------------------------------------------------------
CMS-content
----------------------------------------------------------------------
*/

.link_more {
    background: url(images/link_more.gif) no-repeat right center;
    color: #A88105;
    padding-right: 18px;
    text-decoration: none;
    }

.link_more:hover {
    text-decoration: underline;
    }

#big_picture {
    margin: 30px 0px 0px 0px;
    }

#bp_headline {
    background: #E7E7E7;
    }

#bp_headline h1 {
    font-family: georgia, serif;
    font-size: 30px;
    color: #525252;
    font-style: italic;
    float: left;
    width: 680px;
    line-height: 30px;
    padding: 20px 15px;
    }

#bp_headline a {
    display: block;
    float: right;
    width: 200px;
    text-align: right;
    margin: 25px 15px 0px 0px;
    }

#columnset {
    margin-right: -20px;
    margin-top: 30px;
    }

.column_t1 {
    width: 230px;
    margin-right: 20px;
    float: left;
    }

.column_t2 {
    width: 730px;
    margin-right: 20px;
    float: left;
    }

.col_item {
    background: #E7E7E7;
    margin-bottom: 30px;
    height: 240px;
    }

.ci_content {
    padding: 15px;
    }

.ci_content p {
    height: 83px;
    }

.ci_content span {
    color: #848484;
    }

.ci_content .link_more {
    float: right;
    }

.ci_content h2 {
    font-family: georgia, serif;
    font-size: 16px;
    font-style: italic;
    line-height: 20px;
    height: 83px;
    }

.ci_content h3 {
    font-family: georgia, serif;
    font-size: 16px;
    font-style: italic;
    line-height: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #A1A1A1;
    }

.ci_content ul {
    border-top: 1px solid #F2F2F2;
    padding: 10px 0px 0px 0px;
    margin: 0px;
    }

.ci_content li {
    list-style-type: none;
    padding-bottom: 3px;
    }

.ci_content li a {
    background: url(images/link_more.gif) no-repeat left center;
    color: #A88105;
    padding-left: 18px;
    text-decoration: none;
    }

.ci_content li a:hover {
    text-decoration: underline;
    }

.ci_c_items {
    border-bottom: 1px solid #F2F2F2;
    }

.ci_c_items a {
    display: block;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #A1A1A1;
    padding: 8px 0px;
    color: #A88105;
    text-decoration: none;
    }

.ci_c_items a:hover {
    text-decoration: underline;
    }

h2#page_title {
    color: #A38105;
    font-family: georgia, serif;
    font-style: italic;
    font-size: 16px;
    line-height: 22px;
    border-top: 1px solid #7A7A7A;
    border-bottom: 1px solid #7A7A7A;
    padding: 15px 0px;
    margin: 5px 0px 15px 0px;
    }

ul#nav_level_down {
    padding: 0px;
    margin: 0px;
    }

ul#nav_level_down li {
    list-style-type: none;
    }

a.down_level_one {
    color: #555;
    background: url(images/btn_nav_nonactive.gif) no-repeat left 4px;
    }

a#down_level_one_active {
    color: #A38105;
    background: url(images/btn_nav_active.gif) no-repeat left 4px;
    }

a:hover.down_level_one, a:hover.down_level_two, a:hover.down_level_three {
    color: #000;
    text-decoration: underline !important;
    }

#nav_level_up a, #nav_level_down a {
    display: block;
    text-decoration: none;
    padding: 0px 0px 10px 22px;
    }

a.down_level_two {
    color: #555;
    margin-left: 22px;
    background: url(images/btn_nav_down_nonactive.gif) no-repeat left 6px;
    }

a#down_level_two_active {
    color: #A38105;
    margin-left: 22px;
    background: url(images/btn_nav_down_active.gif) no-repeat left 6px;
    }

a.down_level_three {
    color: #555;
    margin-left: 44px;
    background: url(images/btn_nav_down_nonactive.gif) no-repeat left 6px;
    }

a#down_level_three_active {
    color: #A38105;
    margin-left: 44px;
    background: url(images/btn_nav_down_active.gif) no-repeat left 6px;
    }

#maincontent {
    margin-bottom: 30px;
    }

#maincontent h1 {
    font-family: georgia, serif;
    font-size: 30px;
    font-style: italic;
    line-height: 30px;
    padding: 20px 0px 15px 0px;
    }

#maincontent a {
    color: #A88105;
    text-decoration: underline;
    }

#maincontent a:hover {
    color: #555;
    text-decoration: underline;
    }

/*
----------------------------------------------------------------------
footer
----------------------------------------------------------------------
*/

#hsk_footer {
    margin: 30px 0px;
    border-top: 1px solid #7A7A7A;
    color: #A5A5A5;
    font-size: 10px;
    padding: 5px 0px;
    }

#hsk_footer a {
    color: #A5A5A5;
    text-decoration: none;
    }

#hsk_footer a:hover {
    color: #7A7A7A;
    text-decoration: underline;
    }
