version: "3.4"

services:
  php:
    depends_on:
      - commsy_selenium_hub
      - commsy_test_db

  commsy_test_db:
      image: mariadb:10.3
      ports:
        - "3107:3306"
      environment:
        - MYSQL_ROOT_PASSWORD=root
        - MYSQL_DATABASE=commsy
        - MYSQL_USER=test
        - MYSQL_PASSWORD=test

  test_nginx:
    build:
      context: ./
      target: commsy_test_nginx
    depends_on:
      - php
    volumes:
      # Use only in development
      - ./public/:/var/www/html/public:cached
    ports:
      - "82:80"

  commsy_selenium_hub:
    image: selenium/hub:latest
    ports:
      - "4444:4444"

  commsy_selenium_chrome:
    image: selenium/node-chrome:latest
    volumes:
      - /dev/shm:/dev/shm
    depends_on:
      - commsy_selenium_hub
    environment:
      HUB_HOST: commsy_selenium_hub