version: "3"

services:
  commsy_php:
    links:
      - commsy_selenium_hub
      - commsy_test_db

  commsy_test_db:
      image: mariadb:10.1
      container_name: commsy_test_db
      ports:
        - "3307:3306"
      environment:
        - "MYSQL_ROOT_PASSWORD=root"
        - "MYSQL_DATABASE=commsy"
        - "MYSQL_USER=test"
        - "MYSQL_PASSWORD=test"

  commsy_selenium_hub:
    image: selenium/hub:latest
    ports:
      - "4444:4444"

  commsy_selenium_chrome:
    image: selenium/node-chrome:latest
    volumes:
      - /dev/shm:/dev/shm
    depends_on:
      - commsy_selenium_hub
    environment:
      HUB_HOST: commsy_selenium_hub