<div id="room-hashtags" class="uk-overflow-container uk-margin-bottom">

    <hr class="cs-list-divider"/>
    <h4 class="cs-list-section-header">
        <span class="cs-detail-section-header-background">{{ 'hashtags'|trans({}, "room") }} 
        </span>
    </h4>
    {% if hashtags is not empty %}
        <ul class="uk-list uk-list-striped">
            {% for hashtag in hashtags %}
                <span>
                    <button class="uk-button uk-margin-small-bottom">{{ hashtag.name }}</button>
                </span>
            {% endfor %}
        </ul>
    {% else %}
        {{ 'no hashtags'|trans({}, 'room') }}
    {% endif %}
</div>