{% extends '::base.html.twig' %}

{% block side_navigation %}
    {{ knp_menu_render('main') }}
{% endblock %}

{% block breadcrumb %}
    {{ knp_menu_render('breadcrumb', 
        {'template': 'CommsyBundle:Menu:knp_menu_breadcrumb.html.twig', 
        'currentAsLink':false}) 
    }}
{% endblock %}

{% block profile %}
    {{ knp_menu_render('profile', 
        {'template': 'CommsyBundle:Menu:knp_menu_profile.html.twig'})
    }}
{% endblock %}

{% block additionalNavbarContent %}
    {% if serviceLinkExternal is defined %}
        <div class="uk-navbar-content">
            <ul class="uk-navbar-nav">
                <li>
                    <a href="{{ serviceLinkExternal }}"><i class="uk-icon-question-circle"></i></a>
                </li>
            </ul>
        </div>
    {% endif %}
{% endblock %}