/*
----------------------------------------------------------------------
build in: March 2012
copyright: banality GmbH
location: Essen-Germany/Bielefeld-Germany, www.banality.de
----------------------------------------------------------------------
*/



/*
----------------------------------------------------------------------
global structure - tag definitions
----------------------------------------------------------------------
*/

body {
    margin: 0px;
    border: 0px none;
    padding: 0px;
    background-color: #FFF;
    color: #555;
    font-family: verdana, sans-serif;
    text-align: left;
    font-size: 12px;
    line-height: 17px;
    }

p, form {
    margin: 0px;
    border: 0px none;
    padding: 0px;
    }

img {
    border: 0px none;
    }

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    padding: 0px;
    margin: 0px;
    }


/*
----------------------------------------------------------------------
id and class selectors, general
----------------------------------------------------------------------
*/

.clear {
    clear: both;
    }

.wrapper {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    }



/*
----------------------------------------------------------------------
header
----------------------------------------------------------------------
*/

#header_left {
    padding-top: 10px;
    width: 750px;
    float: left;
    }

#header_left img {
    height: 34px;
}

a#portal_logo {
    margin-right: 30px;
    }

#meta_navigation {
    width: 230px;
    background: url(images/meta_nav_bg.jpg) repeat-x;
    float: left;
    border-bottom: 16px solid #E8B600;
    padding: 5px 0px 0px 0px;
    height: 28px;
    }

#portal_background{
    background: url(folgeseite.jpg) no-repeat top center;
	}

#meta_nav_items {
    padding: 0px 0px 0px 10px;
    height: 56px;
    }

#meta_nav_items a {
    color: #555;
    text-decoration: none;
    padding: 0px 5px;
    }

#meta_nav_items a:hover {
    color: #333;
    text-decoration: underline;
    }

#logout {
    color: #B80104 !important;
    }



/*
----------------------------------------------------------------------
columnset
----------------------------------------------------------------------
*/

#columnset_home {
    background: url(images/columnset_home_bg.gif) repeat-x;
    }

#columnset_follow {
    background: #D5BF73;
    background: url(images/columnset_follow_bg.gif) repeat-x;
    }

#left_column {
    width: 750px;
    float: left;
    }

#right_column {
    width: 230px;
    background-color: #E8B600;
    float: left;
    color: #514000;
    padding-top: 15px;
    }



/*
----------------------------------------------------------------------
prestige-navigation
----------------------------------------------------------------------
*/

#navigation_index {
    padding: 30px 0px 0px 0px;
    }

#navigation_follow {
    padding: 20px 0px 10px 0px;
    }

.nav_column {
    width: 230px;
    float: left;
    margin-right: 15px;
    }

a.buttet_big {
    background: url(images/bullet_big.png) no-repeat;
    display: block;
    padding: 13px 0px 30px 55px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-shadow: 0px 1px #EFEFB5;
    text-decoration: none;
    }

a:hover.buttet_big {
    color: #3D3D3D;
    text-shadow: 0px 1px #FFF;
    }

a.buttet_small {
    background: url(images/bullet_small.png) no-repeat;
    display: block;
	padding: 3px 0 10px 30px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-shadow: 0px 1px #EFEFB5;
    text-decoration: none;
    }

a:hover.buttet_small {
    color: #3D3D3D;
    text-shadow: 0px 1px #FFF;
    }




/*
----------------------------------------------------------------------
right-column
----------------------------------------------------------------------
*/

#right_column h2 {
    font-family: georgia, serif;
    font-style: italic;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 15px;
    }

.rc_item {
    margin: 0px 15px 30px 15px;
    padding: 0px 0px 30px 0px;
    background: url(images/rc_item_bg.jpg) left bottom repeat-x;
    }

p.rc_info_content {
    font-size: 10px;
    line-height: 14px;
    padding: 10px 0px;
    }

p.rc_content {
    padding-bottom: 10px;
    }

#emergency_call {
    background: url(images/emergency.gif) left center no-repeat;
    font-size: 20px;
    font-weight: bold;
    padding-left: 25px;
    }

.rc_item ul {
    padding: 0px 0px 0px 18px;
    margin: 0px;
    }

.rc_item li {
    list-style-image: url(images/rc_list_item.gif);
    }

.rc_item a {
    color: #514000;
    text-decoration: none;
    }

#right_column:hover .rc_item a {
    text-decoration: none;
    border-bottom: 1px dotted #514000;
    }

#right_column:hover .rc_item a:hover {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
    }


#search_portlet {
    margin: 0px 15px 30px 15px;
    }

#portal_search {
    border: 2px solid #EEC83F;
    background: #FFF;
    padding: 2px 2px 3px 5px !important;
    }

#portal_search input#search_input {
    border: 0px none;
    width: 168px;
    color: #514000;
    font-size: 12px;
    }

#portal_search input {
    vertical-align: middle;
    }

#quick_select {
    padding: 15px 0px 0px 0px;
    }

#quick_select select {
    width: 200px;
    border: 2px solid #EEC83F;
    background: #FFF;
    color: #514000;
    padding: 2px 2px 3px 5px !important;
    margin-bottom: 3px;
    font-size: 12px;
    }



/*
----------------------------------------------------------------------
left-column, maincontent (portal-home)
----------------------------------------------------------------------
*/

#content_columnset {
    padding: 30px 0px 0px 0px;
    }

#cc_left, #cc_mid, #cc_right {
    width: 245px;
    float: left;
    }

.top_portlet {
    width: 230px;
    height: 290px;
    }

.top_portlet h2 {
    color: #FFF;
    background: #7A7A7A;
    font-family: georgia, serif;
    font-style: italic;
    font-size: 16px;
    line-height: 16px;
    padding: 12px 15px;
    }

.top_portlet p, .bottom_portlet p {
    padding: 10px 0px;
    }

.top_portlet p a, .bottom_portlet p a {
    color: #555;
    text-decoration: none;
    }

.top_portlet:hover p a, .bottom_portlet:hover p a {
    border-bottom: 1px dotted #555;
    }

.top_portlet p a:hover, .bottom_portlet p a:hover {
    color: #555;
    text-decoration: none;
    border-bottom: 1px solid #555;
    }

.bottom_portlet {
    padding-top: 30px;
    width: 230px;
    }

.bottom_portlet h2 {
    color: #555;
    background: #E6E6E6;
    font-family: georgia, serif;
    font-style: italic;
    font-size: 16px;
    line-height: 16px;
    padding: 12px 15px;
    }

a.read_more {
    background: url(images/btn_more.gif) no-repeat right 8px;
    padding: 5px 20px 5px 0px;
    color: #A38105;
    text-decoration: none;
    }

a:hover.read_more {
    color: #A38105;
    text-decoration: underline;
    }

#body_navigation {
    width: 230px;
    background: #E8B600;
    color: #514000;
    height: 300px;
    }

#body_navigation h2 {
    font-family: georgia, serif;
    font-style: italic;
    font-size: 16px;
    line-height: 16px;
    padding: 15px 0px 12px 15px;
    }

#prestige_portlet {
    background: #E6E6E6;
    position: relative;
    width: 230px;
    height: 300px;
    }

#prestige_portlet h3 {
    font-size: 16px;
    line-height: 22px;
    padding: 0px 0px 10px 15px;
    }

#prestige_portlet h1 {
    font-size: 12px;
    line-height: 17px;
    padding: 0px 15px 0px 15px;
    }

#prestige_portlet ul {
    padding: 10px 0px 0px 33px;
    margin: 0px;
    }

#prestige_portlet li {
    list-style-image: url(images/btn_more_yelgrey.gif);
    padding: 0px 0px 1px 0px;
    }

#prestige_portlet ul a {
    color: #A38105;
    text-decoration: none;
    }

#prestige_portlet:hover ul a {
    color: #A38105;
    text-decoration: none;
    border-bottom: 1px dotted #A38105;
    }

#prestige_portlet ul a:hover {
    color: #555;
    border-bottom: 1px solid #555;
    }

#hsk_film {
    z-index: 100;
    position: absolute;
    top: -6px;
    left: 86px;
    }

.news_portlet {
    width: 230px;
    background: #E6E6E6;
    height: 300px;
    }

.news_portlet h2, #prestige_portlet h2 {
    font-family: georgia, serif;
    font-style: italic;
    font-size: 16px;
    line-height: 16px;
    padding: 15px 0px 15px 0px;
    margin: 0px 15px;
    }

.news_portlet h2 {
    background: url(images/newsportlet_bg.jpg) repeat-x left bottom;
    }

a.news_archive {
    display: block;
    float: right;
    background: url(images/btn_more_greygrey.gif) no-repeat right 4px;
    color: #777;
    text-decoration: none;
    padding-right: 18px;
    margin: 15px 15px 0px 0px;
    }

a:hover.news_archive {
    color: #333;
    text-decoration: underline;
    }

.news_item {
    padding: 9px 0px;
    margin: 0px 15px;
    background: url(images/newsportlet_bg.jpg) repeat-x left bottom;
    }

.news_item h3 {
    font-size: 12px;
    line-height: 17px;
    }

.news_item h3 a {
    color: #555;
    text-decoration: none;
    }

.news_item h3 a:hover {
    color: #555;
    text-decoration: none;
    border-bottom: 1px dotted #555;
    }

.news_item_date {
    color: #777;
    float: left;
    width: 90px;
    padding: 5px 0px;
    }

.news_item .read_more {
    background: url(images/btn_more_yelgrey.gif) no-repeat right 8px !important;
    float: left;
    text-align: right;
    width: 90px;
    }



/*
----------------------------------------------------------------------
left-column, maincontent (follow-pages)
----------------------------------------------------------------------
*/

#cc_left_follow {
    width: 260px;
    float: left;
    }

#cc_mid_right {
    width: 460px;
    float: left;
    }

#nav_portlet {
    width: 230px;
    }

ul#nav_level_up, ul#nav_level_down {
    padding: 0px;
    margin: 0px;
    }

ul#nav_level_up li, ul#nav_level_down li {
    list-style-type: none;
    }

#backto_level_one {
    background: url(images/nav_level_one.gif) no-repeat left 7px;
    }

#backto_level_two {
    background: url(images/nav_level_two.gif) no-repeat left 7px;
    }

#backto_level_three {
    background: url(images/nav_level_three.gif) no-repeat left 7px;
    }

#nav_level_up a {
    color: #555;
    }

#nav_level_up a:hover {
    color: #000;
    padding: 0px 0px 10px 20px;
    }

h2#page_title {
    color: #A38105;
    font-family: georgia, serif;
    font-style: italic;
    font-size: 16px;
    line-height: 22px;
    border-top: 1px solid #7A7A7A;
    border-bottom: 1px solid #7A7A7A;
    padding: 15px 0px;
    margin: 5px 0px 15px 0px;
    }

a.down_level_one {
    color: #555;
    background: url(images/btn_nav_nonactive.gif) no-repeat left 4px;
    }

a#down_level_one_active {
    color: #A38105;
    background: url(images/btn_nav_active.gif) no-repeat left 4px;
    }

a:hover.down_level_one, a:hover.down_level_two, a:hover.down_level_three {
    color: #000;
    padding: 0px 0px 10px 24px !important;
    }

#nav_level_up a, #nav_level_down a {
    display: block;
    text-decoration: none;
    padding: 0px 0px 10px 22px;
    }

a.down_level_two {
    color: #555;
    margin-left: 22px;
    background: url(images/btn_nav_down_nonactive.gif) no-repeat left 6px;
    }

a#down_level_two_active {
    color: #A38105;
    margin-left: 22px;
    background: url(images/btn_nav_down_active.gif) no-repeat left 6px;
    }

a.down_level_three {
    color: #555;
    margin-left: 44px;
    background: url(images/btn_nav_down_nonactive.gif) no-repeat left 6px;
    }

a#down_level_three_active {
    color: #A38105;
    margin-left: 44px;
    background: url(images/btn_nav_down_active.gif) no-repeat left 6px;
    }

#maincontent h1 {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 30px;
    }

#maincontent p {
    padding-bottom: 30px;
    }

#maincontent a {
    color: #A38105;
    text-decoration: none;
    border-bottom: 1px dotted #A38105;
    }

#maincontent a:hover {
    color: #000;
    border-bottom: 1px solid #000;
    }

#maincontent ul {
    padding: 0px;
    margin: 0px;
    }

#maincontent ul li {
    list-style-image: url(images/btn_more_yelgrey.gif);
    padding: 0px 0px 0px 5px;
    margin: 0px 0px 0px 20px;
    }



/*
----------------------------------------------------------------------
footer
----------------------------------------------------------------------
*/

#portal_actions {
    text-align: right;
    padding: 15px 0px 30px 0px;
    }

a#print_page {
    background: url(images/btn_print.gif) no-repeat left center;
    padding: 5px 0px 5px 20px;
    color: #A38105;
    text-decoration: none;
    }

a:hover#print_page {
    color: #A38105;
    text-decoration: underline;
    }

#footer_portal {
    background: url(images/footer_bg.jpg) repeat-x #545454;
    color: #FFF;
    text-align: center;
    padding: 15px 0px 30px 0px;
    }

#portal_copyright {
    background: url(images/copyright_bg.jpg) no-repeat;
    text-align: center;
    font-size: 10px;
    padding: 15px 0px 30px 0px;
    }

#meta_menue {
    color: #FFFFFF;
    padding-top: 10px;
    text-align: right;
}
#hsk_header {
    background: url("images/header_bg.jpg") no-repeat scroll 0 0 transparent;
    padding-bottom: 11px;
}
#right_column {
    background-color: #E8B600;
    color: #514000;
    float: left;
    margin-top: 30px;
    padding-top: 15px;
    width: 230px;
}
