@charset "utf-8";

#page {
    height: auto;
    margin: 0 auto;
    max-width: 1480px;
    min-width: 960px;
}

#page {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body{
	margin:0px;
	font-family:Verdana;
}

#main {
    overflow: hidden;
    padding: 0px 20px 0px 0px;
}

#breadcrumbs-frame {
    background-color: #E6E6E6;
    line-height: 20px;
}

#Column_Box_Blank{
    color: #525252;
    font-family: verdana,sans-serif;
    font-size: 12px;
    line-height: 17px;
	margin-bottom: 15px;
    text-align: left;
}

.T5{
    font-family: georgia,serif;
    font-size: 16px;
    font-style: italic;
    line-height: 16px;
    margin-bottom: 15px !important;
}

#cs_myarea{
   padding:10px;
   font-family: verdana, sans-serif;
}

#cs_myarea a{
   font-size: 10px;
}

#header {
    background: url("folgeseite.jpg") no-repeat scroll left bottom #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    height: 158px;
    line-height: 1;
    padding: 0;
    position: relative;
}
#logo {
    float: left;
    margin: 20px 0 0 20px;
}
#quick-search {
    background-color: #E8B600;
    display: inline;
    float: right;
    margin: 0 20px 0 0;
    width: 218px;
}
#quick-search-header {
    background-color: #E6E6E6;
    border-bottom: 3px solid #FFFFFF;
    line-height: 40px;
    padding: 0 10px;
}
#quick-search-header img {
    vertical-align: middle;
}
#quick-search fieldset {
    float: none;
    padding: 9px 0 15px 10px;
}
#quick-search #quick-search-query {
    border: 1px solid #707070;
    color: #898989;
    height: 19px;
    margin-bottom: 10px;
    padding: 0 2px;
    width: 170px;
}
#quick-search #quick-search-where {
    border: 1px solid #A8A8A8;
    color: #898989;
    width: 176px;
}
#quick-search #quick-search-query-label {
    color: #525252;
    display: block;
    font-family: Georgia;
    font-size: 16px;
    font-style: italic;
    line-height: 20px;
    margin-bottom: 3px;
}
#quick-search #quick-search-submit {
    background: url("bt_searc.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    display: inline;
    font-size: 0;
    height: 20px;
    line-height: 0;
    text-indent: -5000px;
    vertical-align: top;
    width: 20px;
}
#quick-search #quick-search-submit:hover {
    background-position: 0 -50px;
}
#quick-search #where {
    display: inline;
    float: left;
    margin-top: 0;
}
#quick-search #where-label {
    color: #525252;
    display: inline;
    float: left;
    font-size: 11px;
    font-weight: normal;
    margin: -1px 0 0 7px;
    padding-top: 2px;
}
#quick-search .form-checkbox {
    height: 14px;
    margin: 0;
    padding: 0;
    width: 14px;
}
#quick-search .quick-nav-drop-down {
    right: 54px;
    top: 95px;
}
#main-navigation-bar {
    left: 130px;
    position: absolute;
    top: 54px;
}
#main-navigation-bar .ajs-menu-bar .ajs-drop-down {
    left: auto;
    right: 0;
    top: 30px;
    width: auto;
}
#main-navigation-bar .ajs-menu-bar .ajs-menu-item .assistive {
    left: -50000px;
    right: auto;
}
#header .ajs-menu-bar .ajs-drop-down {
    border: 1px solid #A8A8A8;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#header-menu-bar.ajs-menu-bar li.ajs-menu-item {
    margin-right: 26px;
}
#header .ajs-menu-bar .ajs-menu-item .ajs-drop-down ul, #header .ajs-menu-bar .ajs-menu-item ul.ajs-drop-down {
    border-color: #A8A8A8;
}
#header-menu-bar.ajs-menu-bar li.ajs-menu-item.first {
    margin-right: 19px;
}
#header-menu-bar li.ajs-menu-item a#browse-menu-link, #header-menu-bar li.ajs-menu-item a#user-menu-link {
    color: #898989;
    font-size: 10px;
    line-height: 25px;
}
#main-navigation-bar .ajs-menu-item .trigger span {
    background-image: url("menu-ind.gif");
}
#main-navigation-bar .ajs-menu-bar .ajs-menu-item a.ajs-menu-title span {
    background-position: 100% 50%;
}
#main-navigation {
    float: left;
}
#main-navigation .subspaces {
    height: 1%;
}
#main-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 12;
}
#main-navigation ul li {
    display: block;
    float: left;
    position: relative;
    z-index: 5 !important;
}
#main-navigation ul li a {
    color: #525252;
    display: block;
    font-size: 12px;
    line-height: 20px;
    padding: 0 10px;
    text-decoration: none;
}
#main-navigation ul li a:hover, #main-navigation ul li a.active {
    background: url("bg_navi_.png") repeat-x scroll left top transparent;
    color: #FFFFFF;
}
#main-navigation ul ul {
    background-color: #E6E6E6;
    border-top: 3px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 0;
    line-height: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    visibility: hidden;
}
#main-navigation ul li:hover ul {
    visibility: visible;
}
#main-navigation ul li img {
    display: none;
}
#main-navigation ul ul li {
    border-bottom: medium none;
    border-left: medium none;
    border-right: medium none;
    float: none;
    height: 1%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
}
#main-navigation ul ul li.first {
    padding-top: 6px;
}
#main-navigation ul ul li.last {
    padding-bottom: 6px;
}
#main-navigation ul ul li a, #main-navigation ul ul li a:hover {
    background: url("arrow_li.png") no-repeat scroll 10px 50% transparent;
    border: medium none;
    color: #9D8222;
    line-height: 18px;
    padding: 0 35px 0 30px;
}
#main-navigation ul ul li a:hover {
    text-decoration: underline;
}
#main-navigation ul ul img, #main-navigation sup, #main-navigation sub {
    display: none;
}
#main-navigation .error {
    margin: 0 35px;
}
#header-teaser {
    background: url("header00.css") no-repeat scroll right top #E9E9E9;
    margin: 0;
    padding: 10px 735px 10px 35px;
}
#header-print {
    display: none;
}#header {
    background: url("folgeseite.jpg") no-repeat scroll left bottom #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    height: 158px;
    line-height: 1;
    padding: 0;
    position: relative;
}
#logo {
    float: left;
    margin: 20px 0 0 20px;
}
#quick-search {
    background-color: #E8B600;
    display: inline;
    float: right;
    margin: 0 20px 0 0;
    width: 218px;
}
#quick-search-header {
    background-color: #E6E6E6;
    border-bottom: 3px solid #FFFFFF;
    line-height: 40px;
    padding: 0 10px;
}
#quick-search-header img {
    vertical-align: middle;
}
#quick-search fieldset {
    float: none;
    padding: 9px 0 15px 10px;
}
#quick-search #quick-search-query {
    border: 1px solid #707070;
    color: #898989;
    height: 19px;
    margin-bottom: 10px;
    padding: 0 2px;
    width: 170px;
}
#quick-search #quick-search-where {
    border: 1px solid #A8A8A8;
    color: #898989;
    width: 176px;
}
#quick-search #quick-search-query-label {
    color: #525252;
    display: block;
    font-family: Georgia;
    font-size: 16px;
    font-style: italic;
    line-height: 20px;
    margin-bottom: 3px;
}
#quick-search #quick-search-submit {
    background: url("bt_searc.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    display: inline;
    font-size: 0;
    height: 20px;
    line-height: 0;
    text-indent: -5000px;
    vertical-align: top;
    width: 20px;
}
#quick-search #quick-search-submit:hover {
    background-position: 0 -50px;
}
#quick-search #where {
    display: inline;
    float: left;
    margin-top: 0;
}
#quick-search #where-label {
    color: #525252;
    display: inline;
    float: left;
    font-size: 11px;
    font-weight: normal;
    margin: -1px 0 0 7px;
    padding-top: 2px;
}
#quick-search .form-checkbox {
    height: 14px;
    margin: 0;
    padding: 0;
    width: 14px;
}
#quick-search .quick-nav-drop-down {
    right: 54px;
    top: 95px;
}
#main-navigation-bar {
    left: 130px;
    position: absolute;
    top: 54px;
}
#main-navigation-bar .ajs-menu-bar .ajs-drop-down {
    left: auto;
    right: 0;
    top: 30px;
    width: auto;
}
#main-navigation-bar .ajs-menu-bar .ajs-menu-item .assistive {
    left: -50000px;
    right: auto;
}
#header .ajs-menu-bar .ajs-drop-down {
    border: 1px solid #A8A8A8;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#header-menu-bar.ajs-menu-bar li.ajs-menu-item {
    margin-right: 26px;
}
#header .ajs-menu-bar .ajs-menu-item .ajs-drop-down ul, #header .ajs-menu-bar .ajs-menu-item ul.ajs-drop-down {
    border-color: #A8A8A8;
}
#header-menu-bar.ajs-menu-bar li.ajs-menu-item.first {
    margin-right: 19px;
}
#header-menu-bar li.ajs-menu-item a#browse-menu-link, #header-menu-bar li.ajs-menu-item a#user-menu-link {
    color: #898989;
    font-size: 10px;
    line-height: 25px;
}
#main-navigation-bar .ajs-menu-item .trigger span {
    background-image: url("menu-ind.gif");
}
#main-navigation-bar .ajs-menu-bar .ajs-menu-item a.ajs-menu-title span {
    background-position: 100% 50%;
}
#main-navigation {
    float: left;
}
#main-navigation .subspaces {
    height: 1%;
}
#main-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 12;
}
#main-navigation ul li {
    display: block;
    float: left;
    position: relative;
    z-index: 5 !important;
}
#main-navigation ul li a {
    color: #525252;
    display: block;
    font-size: 12px;
    line-height: 20px;
    padding: 0 10px;
    text-decoration: none;
}
#main-navigation ul li a:hover, #main-navigation ul li a.active {
    background: url("bg_navi_.png") repeat-x scroll left top transparent;
    color: #FFFFFF;
}
#main-navigation ul ul {
    background-color: #E6E6E6;
    border-top: 3px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 0;
    line-height: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    visibility: hidden;
}
#main-navigation ul li:hover ul {
    visibility: visible;
}
#main-navigation ul li img {
    display: none;
}
#main-navigation ul ul li {
    border-bottom: medium none;
    border-left: medium none;
    border-right: medium none;
    float: none;
    height: 1%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
}
#main-navigation ul ul li.first {
    padding-top: 6px;
}
#main-navigation ul ul li.last {
    padding-bottom: 6px;
}
#main-navigation ul ul li a, #main-navigation ul ul li a:hover {
    background: url("arrow_li.png") no-repeat scroll 10px 50% transparent;
    border: medium none;
    color: #9D8222;
    line-height: 18px;
    padding: 0 35px 0 30px;
}
#main-navigation ul ul li a:hover {
    text-decoration: underline;
}
#main-navigation ul ul img, #main-navigation sup, #main-navigation sub {
    display: none;
}
#main-navigation .error {
    margin: 0 35px;
}
#header-teaser {
    background: url("header00.css") no-repeat scroll right top #E9E9E9;
    margin: 0;
    padding: 10px 735px 10px 35px;
}
#header-print {
    display: none;
}

#footer-frame {
    margin: 0 0 0 120px;
    padding-right: 20px;
}
#footer {
    background: none repeat scroll 0 0 transparent;
    bottom: auto;
    margin-bottom: 25px;
    position: static;
}
#footer p.license, #footer p.license a, #footer #poweredby, #footer #poweredby a {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #898989;
    font-size: 10px;
}
#footer-content-links {
    border-bottom: 3px solid #FFFFFF;
    font-size: 11px;
    padding: 0px 25px 20px;
}
#footer-content-links ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
#footer-content-links ul li {
    font-size: 11px;
    line-height: 16px;
    padding-bottom: 3px;
}
#footer-content-links sub, #footer-content-links sup {
    display: none;
}
#footer-content-links a {
    color: #525252;
    text-decoration: none;
}
#footer-content-links a:hover {
    text-decoration: underline;
}
#footer-content-links td.confluenceTd, #footer-content-links table.confluenceTable td.confluenceTd {
    background-color: transparent;
    padding: 0 10px 0 0;
}
#footer-content-meta {
    background-color: #525252;
    color: #FFFFFF;
    font-size: 10px;
    height: 50px;
    padding: 20px;
}
#footer-content-meta-shadow {
    background: url("footer_s.png") repeat-x scroll 0 0 transparent;
    height: 22px;
}
#footer-content-meta-shadow-left {
    background: url("footer_t.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 22px;
    width: 475px;
}
#footer-content-meta-shadow-right {
    background: url("footer_u.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 22px;
    width: 475px;
}
#footer-content-meta ul {
    display: inline;
    float: left;
    list-style-type: none;
    margin: 36px 0 0;
    padding-left: 0;
}
#footer-content-meta ul li {
    display: inline;
}
#footer-content-meta ul li a {
    color: #FFFFFF;
    text-decoration: none;
}
#footer-content-meta ul li a:hover {
    text-decoration: underline;
}
#footer-content-meta img {
    float: right;
}
#footer-content {
}
#footer-content div {
    padding-bottom: 15px;
}
#footer-content img {
    margin-top: 10px;
}