@charset "utf-8";

/* SCSS "--debug-info" beim kompilieren nicht vergessen! */

/* CSS Reset --------------------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
:focus { outline: 0; }

/* modern browsers */
.cf:before, .cf:after { content:""; display:table; }
.cf:after { clear:both; }
/* IE 6/7 */
.cf { zoom:1; }
/* general purpose classes */
.nodisplay { display:none; }
.nodisplay_strict { display:none !important; }
.alignleft { float:left; }
.alignnone { clear:both; font-size:0; line-height:0; margin:0; padding:0; border:0; height:0; width:0; }
.alignright { float:right; }

/* Normalization --------------------------------------------------------------------------------------------------*/

hr { display:block; height:1px; border:0; margin:1em 0; padding:0; border-top:1px solid #cccccc; }
audio, canvas, video { display: inline-block; *display: inline;
*zoom: 1;
}
audio:not([controls]) { display: none; }
[hidden] {
display: none;
}
html { overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body, button, input, select, textarea { font-family: sans-serif; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
h1 { }
h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, fieldset, table, ul { }
ins { text-decoration: none; }
del { text-decoration: line-through; }
abbr[title] { border-bottom: 1px dotted; cursor:help; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
mark { background: #ff0; color: #000; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
small { font-size: 75%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align:top; }
svg:not(:root) { overflow: hidden; }
fieldset { border: 1px solid #c0c0c0; margin: 0; padding: 0; }
legend { border: 0; *margin-left: -7px;
}
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle;
}
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible;
}
input, select { vertical-align:middle; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration {
-webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
border: 0;
padding: 0;
}
textarea { overflow: auto; vertical-align: top; }
::-moz-focus-inner {
border: 0;
outline: 0;
}
html { -webkit-text-size-adjust:none; }

/* Typography --------------------------------------------------------------------------------------------------*/
body { font: 14px/18px Arial, Helvetica, sans-serif; color:#000; background:#f5f5f5;  }

/* Headings --------------------------------------------------------------------------------------------------*/
h1 { }
h2 { }
h3 { }
h4 { }
h5 { }
h6 { }

/* Links --------------------------------------------------------------------------------------------------*/
a { text-decoration:none; color:#000; cursor:pointer !important; }
a:hover { text-decoration:underline; }

/* Branding --------------------------------------------------------------------------------------------------------*/
p { padding:0 0 10px 0; margin:0; }
html, body { }




#wrapper-outer

img.hintergrundbild {
min-height: 100%;        /*  Diese zwei Zeilen setzen die Regeln um den Hintergrund zu f√ºllen  */
min-width: 100%;

height: auto;
position: fixed;         /*  Die Positionierung  */
top: 0;
left: 0;
z-index: 0;
}


@media screen and (max-width: 1024px) {
img.hintergrundbild {
left: 50%;                /*  Ohne diese Angaben funktioniert es nicht  */
margin-left: -512px; }
}


div#inhalt {
position: relative;       /*  Diese Angabe ist extrem wichtig, da ansonsten der Inhalt nicht angezeigt wird!  */
}


#wrapper { width:1100px; margin:0 auto; background-color:#FFF; padding:0 10px 42px 10px; position: relative; z-index: 1;}
#header{}
#header .inner {
background: -moz-linear-gradient(top,  #d2dde5 0%, #fbfcfd 76%, #fbfcfd 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2dde5), color-stop(76%,#fbfcfd), color-stop(100%,#fbfcfd));
background: -webkit-linear-gradient(top,  #d2dde5 0%,#fbfcfd 76%,#fbfcfd 100%);
background: -o-linear-gradient(top,  #d2dde5 0%,#fbfcfd 76%,#fbfcfd 100%);
background: -ms-linear-gradient(top,  #d2dde5 0%,#fbfcfd 76%,#fbfcfd 100%);
background: linear-gradient(top,  #d2dde5 0%,#fbfcfd 76%,#fbfcfd 100%);

position:relative; z-index:100; }
#logo { display:inline-block; padding:9px 0 0 44px; }
#logo a { display:block; width:209px; height:68px; text-indent:-9999px; text-decoration:none; background:url(../img/bgi/logo.png) left top no-repeat; }
.search { padding-top:31px; padding-right:70px; padding-bottom:19px; }
.search .sear-lab { border:1px solid #E5E9EB; display:inline-block; padding:1px; background-color:#FFF; }
.search .txt-box { width:152px; height:15px; border:0; padding:1px 10px; font-size:11px; color:#666666; line-height:13px; font-family:Arial, Helvetica, sans-serif; vertical-align:top; }
.search .btn { background:url(../img/bgi/sprite.png) no-repeat right top; width:18px; height:18px; border:0; vertical-align:top; }
.configure-App { position:relative; background: -moz-linear-gradient(top, #012f59 0%, #001c36 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #012f59), color-stop(100%, #001c36)); background: -webkit-linear-gradient(top, #012f59 0%, #001c36 100%); background: -o-linear-gradient(top, #012f59 0%, #001c36 100%); background: -ms-linear-gradient(top, #012f59 0%, #001c36 100%); background: linear-gradient(top, #012f59 0%, #001c36 100%); padding:0px 0px 0px 0px; z-index:100; }
.configure-App .search-box{padding:10px 84px 10px 17px; display:block;}
.configure-App .search-box:hover{background-color:#012F59;}
.configure-App .search-box a { color:#dae3ea; font-size:11px; font-family:Arial, Helvetica, sans-serif; background:url(../img/bgi/sprite.png) no-repeat right -37px; display:block; line-height:15px; padding-right:17px;}
.configure-App .search-box a:hover{text-decoration:none;}
.configure-App .search-box:hover .configure-selct{display:block;}

.configure-selct{background-color:#012F59; width:192px; position:absolute; right:0; top:35px; padding:13px 0 17px 18px; display:none; z-index:10;}
.con-Figure{width:140px;}
.con-Figure li{width:100%; float:left; display:block; line-height:12px; padding-bottom:3px;}
.con-Figure li.middle{padding-bottom:25px;}
.con-Figure li .check{margin-right:7px; line-height:13px; width:13px; height:13px;  vertical-align:top;}
.con-Figure li label{ color:#FFF; font-size:12px;}

/* Main Content --------------------------------------------------------------------------------------------------*/
#container {border:1px solid #E7EBED; border-top:none; margin:-5px auto; width:863px; background-color:#FFF; padding-left:20px; padding-right:77px; padding-bottom:49px;}
.narrowcolumn {width:265px; }
.narrowcolumn h2{ font-size:17px; color:#002C57; line-height:20px; font-weight:bold;; padding-bottom:6px;}
.narrowcolumn a{font-size:12px; color:#660033; line-height:13px; display:block; background:url(../img/bgi/sprite.png) no-repeat -995px -70px; padding-left:13px;}
.project-room{width:265px; padding-bottom:21px;}
.project-room li{ width:100%; float:left; border-top:1px dotted #B7C5D0; padding-bottom:0px; padding-top:8px;}
.project-room li.last{ border-bottom:1px dotted #B7C5D0;}
.project-room li a{font-size:12px; color:#001A34; line-height:11px; display:block; background:url(../img/bgi/sprite.png) no-repeat -995px -70px; padding-left:14px;}
.project-room li a:hover{}
.project-room li p{color:#333333; font-size:12px; line-height:13px; padding-top:6px; padding-left:14px;}

.widecolumn {width:562px;}
.widecolumn h2{ font-size:17px; color:#002D57; line-height:20px; font-weight:bold; padding-bottom:6px;}
.widecolumn .all-project{font-size:12px; color:#660033; line-height:13px; display:block; background:url(../img/bgi/sprite.png) no-repeat -995px -70px; padding-left:14px;}
.news-Clinic{width:260px; padding-bottom:18px; padding-left:2px;}
.news-Clinic li{ width:100%; float:left; border-top:1px dotted #B7C5D0; padding-bottom:0px; padding-top:7px;}
.news-Clinic li.last{ border-bottom:1px dotted #B7C5D0;}
.news-Clinic li span{ font-size:12px; color:#316B9F; line-height:13px; display:block; background:url(../img/bgi/sprite.png) no-repeat -995px -70px; padding-left:14px;}
.news-Clinic li a{font-size:12px; color:#001A34; line-height:18px; padding-left:14px; font-weight:bold; padding-top:4px; display:block;}
.news-Clinic li a:hover{}
.news-Clinic li p{color:#333333; font-size:12px; line-height:16px; padding-top:0px; padding-left:14px;}
.narrowcolumnLeft { }
.narrowcolumnRight { }

/* Secondary Content --------------------------------------------------------------------------------------------------*/
#banner-teaser{ background:url(../img/bgi/banner-top.png) no-repeat 0px 0px; height:305px;}
.icon-set{ width:295px; padding-left:63px; padding-top:28px;}
.icon-set.last{ padding-left:51px; }

.icon-set li{ float:left; width:91px; padding:0 16px 20px 29px;}
.icon-set li a{ display:block; width:75px; height:76px; text-indent:-9999px; background:url(../img/bgi/sprite.png) no-repeat 0px 0px; margin-left:6px;}
.icon-set li a:hover, .icon-set li a.active{-webkit-box-shadow: 0px 0px 6px 3px #FFFFFF;
-moz-box-shadow: 0px 0px 9px 3px #FFFFFF;
box-shadow: 0px 0px 9px 3px #FFFFFF;
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px; }
.icon-set li a.inactive{opacity:0.3;
filter: alpha(opacity = 30) !important;

-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none;}

.icon-set li a.icon1{ background-position:0px 0px;}
.icon-set li a.icon2{ background-position:-85px 0px;}
.icon-set li a.icon3{ background-position:0px -85px;}
.icon-set li a.icon4{ background-position:-85px -85px;}
.icon-set li a.icon5{ background-position:-170px 0px;}
.icon-set li a.icon6{ background-position:-170px -85px;}
.icon-set li a.icon7{ background-position:-255px 0px;}
.icon-set li a.icon8{ background-position:-255px -85px;}
.icon-set li a.icon9{ background-position:-340px 0px;}
.icon-set li a.icon10{ background-position:-340px -85px;}
.icon-set li a.icon11{ background-position:-425px 0px;}
.icon-set li a.icon12{ background-position:-425px -85px;}
.icon-set li span{ color:#660033; display:block; font-size:12px; text-align:center; line-height:23px; width:90px; font-weight:bold;}

/* Sub Page Content --------------------------------------------------------------------------------------------------*/
.suppage .narrowcolumn {width:275px; background-color:#EBECF0; border:1px solid #B7C5D0;}
.suppage .narrowcolumn p{border-bottom:1px solid #B7C5D0; padding:7px 5px 8px 18px; color:#72859F; font-size:12px;}
.newat{border-bottom:0px solid #B7C5D0; border-top:1px solid #FFF; width:199px; padding-top:10px; padding-bottom:35px;}
.newat li{border-left:0px solid #B7C5D0; border-right:0px solid #B7C5D0; width:186px; float:left; display:block; padding:0px 5px 0px 8px;}
.newat li:hover{border-right:1px solid #FFF; background-color:#FFF;}
.newat li a{color:#660033; font-size:12px; text-decoration:none; line-height:15px; padding:9px 0 4px 11px; background:url(../img/bgi/sprite.png) no-repeat -995px -61px; padding-left:11px; display:block; }
.newat li a:hover{text-decoration:none;}

.suppage #container {border:1px solid #E7EBED; margin:20px auto; width:925px; background-color:#FFF; padding:20px;}
.suppage .widecolumn {width:594px; margin-top:0px;}
.suppage-banner{ background:url(../img/bgi/sub-page-banner.png) no-repeat 0px 0px; z-index:3;}
.smallicon-set{ width:295px; padding-left:95px; padding-top:18px;}
.smallicon-set.last{padding-left:43px;}
.smallicon-set li{ float:left; width:55px; padding:0 0px 20px 5px;}
.smallicon-set li a{ display:block; width:50px; height:49px; text-indent:-9999px; background:url(../img/bgi/sprite.png) no-repeat 0px 0px;}
.smallicon-set li a:hover, .smallicon-set li a.active{-webkit-box-shadow: 0px 0px 9px 3px #FFFFFF;
-moz-box-shadow: 0px 0px 9px 3px #FFFFFF;
box-shadow: 0px 0px 9px 3px #FFFFFF;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
 }
.smallicon-set li a.inactive{opacity:0.3;
filter: alpha(opacity = 30) !important;
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none;}
.smallicon-set li a.smallicon1{ background-position:0px -181px;}
.smallicon-set li a.smallicon2{ background-position:-59px -180px;}
.smallicon-set li a.smallicon3{ background-position:-118px -180px;}
.smallicon-set li a.smallicon4{ background-position:-177px -180px;}
.smallicon-set li a.smallicon5{ background-position:0px -240px;}
.smallicon-set li a.smallicon6{ background-position:-59px -240px;}
.smallicon-set li a.smallicon7{ background-position:-118px -240px;}
.smallicon-set li a.smallicon8{ background-position:-177px -240px;}
.smallicon-set li a.smallicon9{ background-position:-0px -296px;}
.smallicon-set li a.smallicon10{ background-position:-59px -296px;}
.smallicon-set li a.smallicon11{ background-position:-118px -296px;}
.smallicon-set li a.smallicon12{ background-position:-177px -296px;}

.suppage h2{font-size:20px; color:#000; font-weight:normal; text-transform:uppercase; line-height:22px;}
.department {padding-top:20px;}
.department h3{padding-top:20px; color:#333333; font-size:12px; font-weight:bold; line-height:15px; padding-bottom:17px;}
.department .department-box{padding:4px 19px 4px 0;}
.department .department-box img{border:1px solid #666666;}
.department p{font-size:12px; line-height:18px; color:#333333;}

/* Blog Page Content --------------------------------------------------------------------------------------------------*/
#blog #container {border:1px solid #E7EBED; border-top:none; margin:-5px auto; width:921px; background-color:#FFF; padding-left:20px; padding-right:19px; padding-bottom:24px;}

#blog .widecolumn {width:669px; margin-top:-2px; background:url(../img/bgi/sprite.png) no-repeat right -346px;}
.blog-text{width:637px;}
.blog-text h2{padding-bottom:4px;}
.blog-text span{font-size:12px; font-weight:bold; color:#333333; padding-bottom:13px; display:block;}
.blog-text p{color:#333333; font-size:12px; line-height:18px; padding-bottom:21px;}
.blog-text p.last{padding-bottom:9px;}
.blog-text .comment{padding-bottom:39px;}
.blog-text .comment img{padding-right:8px;}
.blog-text .comment a{color:#333333; font-size:12px; font-weight:bold; line-height:25px;  height:20px; }
.blog-text .comment.middle{padding-bottom:47px;}
.blog-text .comment.last{padding-bottom:0px;}
.blog-text img{padding-top:4px; padding-bottom:20px;}

#blog .narrowcolumn {width:203px;}
.search-blog {padding:0px; width:200px; padding-bottom:10px;}
.search-blog .sear-lab { border:1px solid #E5E9EB; display:inline-block; padding:1px; background-color:#FFF; }
.search-blog .txt-box { width:154px; height:15px; border:0; padding:1px 10px; font-size:11px; color:#666666; line-height:13px; font-family:Arial, Helvetica, sans-serif; vertical-align:top; }
.search-blog .btn { background:url(../img/bgi/sprite.png) no-repeat right top; width:18px; height:18px; border:0; vertical-align:top; }

.archiv{background-color:#EBECF0; border:1px solid #B7C5D0;}
.archiv.last{border-top:none;}
.archiv p{border-bottom:1px solid #B7C5D0; padding:7px 5px 8px 20px; color:#72859F; font-size:12px;}
.archiv-blog{border-bottom:0px solid #B7C5D0; border-top:1px solid #FFF; width:200px; padding-top:10px; padding-bottom:12px;}
.archiv-blog li{border-left:0px solid #B7C5D0; border-right:0px solid #B7C5D0; width:189px; float:left; display:block; padding:6px 5px 5px 8px;}
.archiv-blog li a{color:#660033; font-size:12px; text-decoration:none; line-height:17px; background:url(../img/bgi/sprite.png) no-repeat -995px -68px; padding-left:11px;}
.archiv-blog li a:hover{text-decoration:underline;}

/* Footer --------------------------------------------------------------------------------------------------*/
#footer {width:960px; margin:0 auto; padding-top:20px;}
.suppage #footer{padding-top:52px;}
#blog #footer{padding-top:20px;}
#footer .copy-Right{font-size:11px; color:#74869F; display:block; line-height:13px;}
#footer ul { }
#footer ul li {background:url(../img/bgi/sprite.png) no-repeat right -23px; padding:0 10px; float:left; display:block; }
#footer ul li.last{background:none; padding-right:0px;}
#footer ul li a {font-size:11px; color:#74869F; line-height:12px; display:block;}

/* Forms --------------------------------------------------------------------------------------------------*/

fieldset { border: 1px solid transparent; margin: 0; padding: 0; }

#logged_in {
    color: #666666;
    float: right;
    font-size: 11px;
    padding-bottom: 10px;
    position: relative;
    right: -37px;
}

#home_link{
	float:left;
	color:#FFF;
	padding:11px 0px 0px 20px;
	font-weight:normal;
	font-familiy: arial;
	text-decoration:underline;
}

#commsy_search {
    background-color: #FFFFFF;
    background-image: none;
    height: 25px;
    margin-left: 10px;
    margin-top: 7px;
    width: 195px;
}

#search_input {
    background-color: #FFFFFF;
    border: 0 none;
    font-size: 12px;
    font-weight: bold;
    margin-left: -40px;
    padding: 6px 5px 4px 35px;
    position: absolute;
    width: 170px;
    z-index: 5;
}

.search_button {
    background: url("../img/search.png") repeat scroll 0 0 transparent;
    border: 0 solid #919191;
    color: #FFFFFF;
    cursor: default;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    text-align: center;
    width: 25px;
    float:right;
}

/*
----------------------------------------------------------------------
global structure - tag definitions
----------------------------------------------------------------------
*/

body {
    margin: 0px 30px 30px 30px;
    border: 0px none;
    padding: 0px;
    background-color: #F6F6F6;
    color: #333;
    font-family: Verdana, sans-serif;
    text-align: left;
    font-size: 12px;
    line-height: 16px;
    }

p, form {
    margin: 0px;
    border: 0px none;
    padding: 0px;
    }

img {
    border: 0px none;
    }
    
/*
----------------------------------------------------------------------
header
----------------------------------------------------------------------
*/

#headandnav {
    background: url(../img/header_bg.jpg) repeat-x;
    width: 980px;
    margin: 0px auto; 
    }

#header {
    padding: 10px 20px;
    border-bottom: 1px solid #F1F5F8;
    }

#bgu_logo {
    float: left;
    display: block;
    color: #57585A;
    text-decoration: none;
    }

#bgu_logo strong {
    color: #00529C;
    font-weight: bold;
    text-decoration: none;
    }

#portal_controls {
    float: right;
    display: block;
    color: #57585A;
    }

#btn_logout {
    text-decoration: none;
    float: right;
    padding-left: 15px;
    margin-top: -2px;
    }



/*
----------------------------------------------------------------------
nav-area
----------------------------------------------------------------------
*/

#nav_area {
    padding: 10px 0px 10px 0px;
    margin: 0px -83px 0px 20px;
    }

#nav_area ul {
	margin: 12px 0px 12px 0px;
    padding: 0px 83px 0px 0px !important;
    float: left;
    }

#nav_area li {
    list-style-type: none;
    float: left;
    }
    
#nav_area li a {
    color: #011C37;
    padding: 0px;
    margin-right: 17px;
    text-decoration: none;
    font-size: 10px;
    line-height: 12px;
    display: block;
    text-align: center;
    }

#nav_area li a:hover {
    color: #888;
    }
    
#nav_active a {
    color: #00529C !important;
    }  		    			

span.tooltip {
    display: none;
    }
    
#nav_area li:hover span.tooltip {
    display: inline;
    position: absolute;
    width: 100px;
    height: 20px;
    margin: -52px 0px 0px -90px;
    line-height: 20px;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    color: #57585A;
    background: #FFF;
    border: 4px solid #FFF;
    border-radius: 5px;
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
    }

span.tooltip:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #FFFFFF transparent transparent transparent;
    top: 44px;
    left: 50px;
    }

/*
----------------------------------------------------------------------
searcharea
----------------------------------------------------------------------
*/	
	
#searcharea {
    background: url(../img/searcharea_bg.jpg) repeat-x #022F59;
    width: 980px;
    margin: 0px auto;
    border-top: 1px solid #FFF;
    }
	
#indexedsearch {
    padding: 10px 20px;
    float: right;
    }	
	
input.searchbox-sword {
    border: 1px solid #DEE0E6;
    color: #666666;
    float: left;
    font-size: 0.916666em;
    height: 1.63636em;
    line-height: 1.63636em;
    padding: 1px 2px 1px 8px;
    text-decoration: none;
    width: 230px;
    }	
	
input.searchbox-button {
    background: none repeat scroll 0 0 #CBCBCB;
    border: 1px solid #FFFFFF;
    float: left;
    height: 1.2em;
    line-height: 1.2em;
    margin: 1px 1px 0 -1.75em;
    padding: 1px;
    text-indent: -9999px;
    width: 1.4em;
    }	

input.searchbox-button:hover {
    background: #00529C;
    }	
    
/*
----------------------------------------------------------------------
more id and class selectors
----------------------------------------------------------------------
*/	

.bgu_i_clear, .clear {
    clear: both;
    }

#bgu_i_maincontent {
    width: 980px;
    margin: 0px auto;
    background-color: #FFF;
    }

#bgu_i_maincontent h2 {
	font-weight: bold;
}

#bgu_i_columnset {
    padding: 20px 20px 0px 20px;
    }

#bgu_i_left_column {
    width: 280px;
    float: left;
    margin-right: 20px;
    }

#bgu_i_right_column {
    width: 640px;
    float: left;
    }

.bgu_i_navigation, .bgu_i_teaser_right, .bgu_i_teaser_left {
    border: 1px solid #B7C5D0;
    background-color: #EBECF0;
    margin-bottom: 20px;
    }

.bgu_i_navigation h2, .bgu_i_teaser_right h2, .bgu_i_teaser_left h2, .bgu_i_teaseritem h2, .bgu_i_overviewitem h2 {
    border-bottom: 1px solid #B7C5D0;
    padding: 19px 20px 10px 20px;
    margin: 0px;
    font-size: 12px;
    color: #333;
    }
 
 .bgu_i_teaser_content {  
    border-top: 1px solid #FFF;
    padding: 15px 20px;
    }
 
/*
----------------------------------------------------------------------
footer
----------------------------------------------------------------------
*/    
    
#footer {
    width: 980px;
    margin: 0 auto;
    background-color: #FFF;
    font-size: 10px;
    border-top: 1px solid #E7EBED;
    padding: 20px 0px 0px 0px;
    }

#footer_left {
    float: left;
    padding: 0px 0px 20px 20px;
    }

#footer_right {
    float: right;
    padding: 0px 20px 20px 0px;
    }    

#footer a {
    color: #316B9F;
    text-decoration: none;
    padding-left: 15px;
    }    
    
#footer a:hover {
    color: #000;  
    text-decoration: underline;
    }     
