{% extends 'base.html.twig' %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-medium-1-2">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser panel-teaser-primary">
                    <div class="uk-clearfix">
                        <div class="uk-float-right">
                            <a href="#" class="button-toggle uk-button-mini uk-button-primary">
                                <i class="uk-icon-chevron-up"></i>
                            </a>
                        </div>
                        <div class="uk-float-left">
                            Neueste Aktivitäten - Raumtitel
                        </div>
                    </div>
                </div>

                <ul class="uk-comment-list">
                    
                    <article class="uk-comment">
                        <i class="uk-icon-comments-o uk-icon-small"></i>

                        <header class="uk-comment-header">
                            <img class="uk-comment-avatar" src="{{ asset('templates/themes/default/img/person_03.jpg') }}" alt="">
                            <div class="uk-comment-meta">Termin</div>
                            <h4 class="uk-comment-title"><a href="#">CommSy-Entwicklertreffen</a></h4>
                            <div class="uk-comment-meta">Wann: am Mittwoch, 18.03.2015 von 16:30 Uhr bis 18:00 Uhr</div>
                            <div class="uk-comment-meta">Wo: effective WEBWORK GmbH, Neuer Wall 18, Hamburg</div>
                        </header>
                    </article>
                    
                    <article class="uk-comment">
                        <i class="uk-icon-comments-o uk-icon-small"></i>

                        <header class="uk-comment-header">
                            <img class="uk-comment-avatar" src="{{ asset('templates/themes/default/img/person_03.jpg') }}" alt="">
                            <div class="uk-comment-meta">Material</div>
                            <h4 class="uk-comment-title"><a href="#">HOWTO: Erstellen eines CommSy-Releases</a></h4>
                            <div class="uk-comment-meta">Von: Christoph Schönfeld</div>
                        </header>
                    </article>
                    <article class="uk-comment">
                        <i class="uk-icon-comments-o uk-icon-small"></i>

                        <header class="uk-comment-header">
                            <div class="uk-comment-meta">Diskussion</div>
                            <h4 class="uk-comment-title"><a href="#">Anfrage: Wie früher ein statt x-zips beim Runterladen von Materialien</a></h4>
                            <div class="uk-comment-meta">Von: Matthias Finck</div>
                        </header>
                    </article>
                    <article class="uk-comment">
                        <i class="uk-icon-comments-o uk-icon-small"></i>

                        <header class="uk-comment-header">
                            <div class="uk-comment-meta">Diskussion</div>
                            <h4 class="uk-comment-title"><a href="#">Anfrage Feature-Erweiterung - Archivierte Räume nach Semester sortieren, ist eine freie Bennung möglich, Verbindung zu Semestern verloren</a></h4>
                            <div class="uk-comment-meta">Von: Rebecca Mustermann</div>
                        </header>
                    </article>
                    <article class="uk-comment">
                        <i class="uk-icon-comments-o uk-icon-small"></i>

                        <header class="uk-comment-header">
                            <img class="uk-comment-avatar" src="{{ asset('templates/themes/default/img/person_03.jpg') }}" alt="">
                            <div class="uk-comment-meta">Material</div>
                            <h4 class="uk-comment-title"><a href="#">Handreichungssammlung</a></h4>
                            <div class="uk-comment-meta">Von: Detlef Molder</div>
                        </header>
                    </article>

                    <i class="uk-icon-refresh uk-icon-spin uk-icon-medium"></i>
                </ul>
            </div>
        </div>
        
        <div class="uk-width-medium-1-2">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser panel-teaser-primary">
                    <div class="uk-clearfix">
                        <div class="uk-float-right">
                            <a href="#" class="button-toggle uk-button-mini uk-button-primary">
                                <i class="uk-icon-chevron-up"></i>
                            </a>
                        </div>
                        <div class="uk-float-left">
                            Title
                        </div>
                    </div>
                </div>

                <div class="uk-overflow-container">
                    <table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
                        <thead>
                            <tr>
                                <th>Titel</th>
                                <th>Moderation</th>
                                <th>Aktivität</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>...</td>
                                <td>...</td>
                                <td>...</td>
                            </tr>
                            <tr>
                                <td>...</td>
                                <td>...</td>
                                <td>...</td>
                            </tr>
                            <tr>
                                <td>...</td>
                                <td>...</td>
                                <td>...</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="uk-panel uk-panel-box uk-panel-box-secondary">
                <div class="uk-panel-teaser panel-teaser-secondary">
                    <div class="uk-clearfix">
                        <div class="uk-float-right">
                            <a href="#" class="button-toggle uk-button-mini uk-button-primary">
                                <i class="uk-icon-chevron-up"></i>
                            </a>
                        </div>
                        <div class="uk-float-left">
                            Raum-Infos
                        </div>
                    </div>
                </div>
                
                <dl class="uk-description-list-horizontal">
                    <dt>Raum Titel</dt>
                    <dd>CommSy-Community</dd>
                    <dt>Beiträge</dt>
                    <dd>neuester am 10.03.2015 | 202 Beiträge insgesamt</dd>
                    <dt>Personen</dt>
                    <dd>gesamt 103 | aktiv 14</dd>
                    <dt>Moderation</dt>
                    <dd>Matthias Finck, Iver Jackewitz, Michael Janneck, Oliver Janoschka, Peter Koch, Kai Mertens, Josephine Pezold, Christoph Schönfeld, Johannes Schultze, Christopher Timm</dd>
                </dl>
            </div>
        </div>
    </div>
{% endblock %}