{% extends 'CommsyBundle:Base:list.html.twig' %}
{% form_theme form 'CommsyBundle:Form:uikit_horizontal_layout.html.twig' %}

{% block feed %}
    <div id="user-feed" class="uk-grid">
        {{ render(controller(
            'CommsyBundle:User:feed',
            { 'roomId': roomId }
        ))}}
    </div>
    <div class="feed-load-more-grid" data-uk-scrollspy="{cls: 'uk-animation-fade', repeat: true, cls:'cs-toggle-class'}" data-feed='{"url": "{{ app.request.baseURL }}/room/{{ roomId }}/user/feed/", "target": "#user-feed"}'>
        <i class="uk-icon-refresh uk-icon-spin uk-icon-medium"></i>
        <div class="cs-toggle-class"></div>
    </div>
{% endblock %}