html { height: 100%; margin: 0; padding: 0; }
body {
	margin: 0;
	padding: 0;
	font-size: 10px;
	font-family:  Arial, Helvetica,"MS Sans Serif", Tahoma, Sans-Serif;
	color: #565655;
	height: 100%;
	background-color: #ECECEC;

}

ul { list-style: circle; }

a { color: #004994; text-decoration: none; }


#overallContainer { position: relative; min-height: 1000px; text-align: center; min-width: 960px; background-color: #ececec; background-image: url(../pagefond_verlauf.jpg); background-attachment:fixed;}
#topbar { position: relative; height: 160px; z-index: 100; }
#footbar { /*position: absolute; left: 0; bottom: 0;*/  height: 80px; width: 100%; min-width: 950px; }

#logoBox { position: relative; height: 100px; overflow: hidden; }
#smFloater { position: absolute; top: 79px; right: 20px; width: 73px; height: 17px; }

#topnavFloater { position: absolute; top: 10px; right: 10px; width: auto; color: #004994; font-size: 1.1em; }
#topnavFloater a { color: #004994; }

#searchFloater { position: absolute; top: 130px; right: 0; width: 200px; height: 45px; background-color: #E9F3FD; z-index: 101; }
#searchFloater div.padder { padding: 11px 0 0 10px; }
#searchFloater form { margin: 0; }
#searchFloater #query { width: 104px; height: 16px; border: 1px solid #b9b9b9; padding: 2px; background-image: url(/files/sysimages/searchinput_fond.gif); }

.centerBox { position: relative; width: 960px; margin: 0 auto; text-align: left; }
#topbar .centerBox { background-color: #dae7ef; }
#footbar .centerBox { background:#e7f3fc; height: 80px; }
#footbar .centerBox .content { position: relative; top: 10px; left: 200px; width: 560px; font-size: 1.1em; }
#footbar .centerBox .content a { color: #565655; }
#footbar .centerBox .rite { position: absolute; top: 0; right: 0; width: 100px; text-align: right; }


/* the three equal height colums */
#container3 { float:left; width:100%; background:#e7f3fc; overflow:hidden; position:relative; }
#container2 { float:left; width:100%; background:white; position:relative; right:200px; }
#container1 { float:left; width:100%; background:#e7f3fc; position:relative; right:560px; }
#col1 { float:left; width:200px; position:relative; left:760px; overflow:hidden; margin-top: 20px; }
#col2 { float:left; width:520px; position:relative; left:780px; overflow:hidden; margin-top: 20px; }
#col3 { float:left; width:180px; position:relative; left:810px; overflow:hidden; margin-top: 20px; }

#pc4 { width: 520px; }

/* Hauptspalten */
#pc1_2col1 { position: relative; overflow: hidden; width: 166px; margin-right: 10px; float: left; }
#pc2_2col1 { position: relative; overflow: hidden; width: 344px; float: right; }
#pc1_2col2 { position: relative; overflow: hidden; width: 166px; margin-left: 10px; float: right; }
#pc2_2col2 { position: relative; overflow: hidden; width: 344px; float: left; }
#pc1_2col3 { position: relative; overflow: hidden; width: 255px; margin-left: 10px; float: right; }
#pc2_2col3 { position: relative; overflow: hidden; width: 255px; float: left; }
#pc1_3col { position: relative; overflow: hidden; width: 166px; margin-right: 10px; float: left; }
#pc2_3col { position: relative; overflow: hidden; width: 166px; margin-right: 10px; float: left; }
#pc3_3col { position: relative; overflow: hidden; width: 166px; float: left; }

.colw166 { width: 166px; }
.colw180 { width: 180px; }
.colw255 { width: 255px; }
.colw344 { width: 344px; }
.colw520 { width: 520px; }

/* allgemein */
div.pcMainrow a { padding-left: 8px; background-image: url(/files/sysimages/link_icon_int.gif); background-repeat: no-repeat; background-position: left 5px; }
div.pcMainrow a[target=_blank], div.pcMainrow a[target=_new], div.pcMainrow a[target=_search] { background-image: url(/files/sysimages/link_icon_out.gif); }
div.pcMainrow a[href$=".pdf"]	{ background-image: url(/files/sysimages/link_icon_pdf.gif); background-position: 0 2px; padding-left: 14px; }
div.pcMainrow a[href$=".doc"]	{ background-image: url(/files/sysimages/link_icon_doc.gif); background-position: 0 5px; padding-left: 14px; }
div.pcMainrow a[href$=".docx"]{ background-image: url(/files/sysimages/link_icon_doc.gif); background-position: 0 5px; padding-left: 14px; }
div.pcMainrow a[href$=".xls"]	{ background-image: url(/files/sysimages/link_icon_download.gif); background-position: 0 4px; padding-left: 14px; }
div.pcMainrow a[href$=".ppt"]	{ background-image: url(/files/sysimages/link_icon_download.gif); background-position: 0 4px; padding-left: 14px; }
div.pcMainrow a[href$=".pps"]	{ background-image: url(/files/sysimages/link_icon_download.gif); background-position: 0 4px; padding-left: 14px; }
div.pcMainrow a[href$=".zip"]	{ background-image: url(/files/sysimages/link_icon_download.gif); background-position: 0 4px; padding-left: 14px; }
div.pcMainrow a[href$=".exe"]	{ background-image: url(/files/sysimages/link_icon_download.gif); background-position: 0 4px; padding-left: 14px; }
div.pcMainrow a[href$=".mp4"]	{ background-image: url(/files/sysimages/link_icon_download.gif); background-position: 0 4px; padding-left: 14px; }
div.pcMainrow a[href$=".wmv"]	{ background-image: url(/files/sysimages/link_icon_download.gif); background-position: 0 4px; padding-left: 14px; }
div.pcMainrow a[href$=".avi"]	{ background-image: url(/files/sysimages/link_icon_download.gif); background-position: 0 4px; padding-left: 14px; }
div.pcMainrow a[href$=".mov"]	{ background-image: url(/files/sysimages/link_icon_download.gif); background-position: 0 4px; padding-left: 14px; }
div.pcMainrow a[href^="mailto"] { background-image: url(/files/sysimages/link_icon_email.gif); background-position: 0 4px; padding-left: 14px; }
div.pcImage.top { position: relative; margin-bottom: 12px; }
div.pcImage.left { position: relative; float: left; margin-bottom: 4px; margin-right: 8px; }
div.pcImage.right { position: relative; float: right; margin-bottom: 4px; margin-left: 8px; }
div.pcImage.bottom { position: relative; margin-top: 6px; }
div.pcBildtext { font-size: 0.9em; line-height: normal; font-style: italic; margin-top: 2px; }
div.pcLink a { display: block; padding-left: 16px; background-image: url(/files/sysimages/link_icon_int.gif); background-repeat: no-repeat; background-position: 0 6px; }
div.pcExtLink a { display: block; padding-left: 16px; background-image: url(/files/sysimages/link_icon_out.gif); background-repeat: no-repeat; background-position: 0 6px; }
div.pcLink span, div.pcExtLink span { color: #565655; }

/* pc2 */
div.pc2 { font-size: 1.2em; line-height: 1.5em; float: left; }
div.pc2 div.pcMainrow { position: relative; float: left; margin-bottom: 20px; }
div.pc2 div.dotted_line { height: 1px; font-size: 1px; background-color: #dddddd; margin-bottom: 20px; }
div.pc2 h1 { color: #333333; font-size: 1.8em; margin: 0; margin-bottom: 0.5em; line-height: normal; }
div.pc2.colw166 h1, div.pc2.colw255 h1, div.pc2.colw344 h1 { font-size: 1.4em; margin: 0; margin-bottom: 0.3em; }
div.pc2 h2 { color: #004994; font-size: 1.2em; margin: 0; margin-bottom: 0.3em; }
div.pc2 h3 { color: #0095db; font-size: 0.95em; font-weight: normal; margin: 0; }
/* Link Pfeile */
div.pc2 div.pcImage a { background-image: none; padding: 0; } /* ohne Pfeil */
div.pc2 div.morelink { width: 100%; text-align: right; margin-top: 10px; }
div.pc2 div.morelink a { color: #565655; padding: 0 14px 0 0; background-image: url(/files/sysimages/morelink_icon.gif); background-repeat: no-repeat; background-position: right center; }
div.pc2 div.artex_back { margin-top: 12px; }
div.pc2 div.artex_back a, div.pc2 div.imgex_back a { color: #565655; padding: 0 0 0 14px; background-image: url(/files/sysimages/backlink_icon.gif); background-repeat: no-repeat; background-position: left center; }
div.pc2 div.imgex_back { margin-top: 20px; }
div.pc2 div.pcMainrow { width: 100%; }

/* pc2 multibild */
div.pc2 div.multibild { position: relative; float: left; margin-bottom: 20px; }
div.pc2 div.multibild div.item { float: left; }
div.item.leftmarge { margin-left: 11px; }
div.multibild div.text { font-size: 0.9em; line-height: normal; font-style: italic; margin-top: 2px; }

/* pc1 */
div.pc1 { font-size: 1.1em; overflow: hidden; }
div.pc1.topmargin { margin-top: 10px; }
div.pc1 div.pcMainrow { position: relative; width: auto; padding: 8px; border: 1px solid #a2c8ef; background-color: #ffffff; }
div.pc1 h1 { color: #333333; font-size: 1.4em; margin: 0; margin-bottom: 0.3em; }
div.pc1 h2 { color: #004994; font-size: 1.2em; margin: 0; margin-bottom: 0.3em; }
div.pc1 h3 { color: #0095db; font-size: 1em; font-weight: normal; margin: 0; line-height: 1.1em; }
div.pc1 div.pcBildtext { font-style: italic; }
div#col2 div.pc6 div.pcHeadrow { padding: 5px; border-left: 1px solid #a0c7ef; border-right: 1px solid #a0c7ef; border-top: 1px solid #a0c7ef; background-color: #e9f3fd; }
div#col2 div.pc6 div.pcHeadrow h1 { color: #333333; }
div#col2 div.pc6 div.pcMainrow { padding: 6px; border: 1px solid #a0c7ef; background-color: #ffffff; margin-bottom: 10px; }
div.pc1 div.morelink { width: 100%; text-align: right; margin-top: 10px; }
div.pc1 div.morelink a { color: #565655; padding: 0 14px 0 0; background-image: url(/files/sysimages/morelink_icon.gif); background-repeat: no-repeat; background-position: right center; }
div.pc1 div.pcLink a, div.pc1 div.pcExtLink a { background-position: 0 4px; }

/* pc6 */
div.pc6 { font-size: 1.1em; }
div.pc6.topmargin { margin-top: 10px; }
div.pc6 a { color: #565655; }
div.pc6 h1 { margin: 0; font-size: 1em; color: #004389; margin-bottom: 8px; }
div.pc6 div.pcHeadrow { padding: 6px; padding-bottom: 0; border-left: 1px solid #a0c7ef; border-right: 1px solid #a0c7ef; border-top: 1px solid #a0c7ef; background-color: #ffffff; }
div.pc6 div.pcLine { height: 1px; width: 100%; font-size: 1px; border-bottom: 1px solid #a0c7ef; }
div.pc6 div.pcMainrow { padding: 6px; border: 1px solid #a0c7ef; background-color: #ffffff; }
div.pc6 a.intLink { color: #565655; padding-left: 18px;  background-image: url(/files/sysimages/link_icon_int.gif); background-repeat: no-repeat; background-position: 0 2px; display: block; margin-top: 2px; margin-bottom: 2px; }
div.pc6 div.pcServicelinks { margin-top: 3px; }
div.pc6 div.pcServicelinks div { margin-bottom: 2px; }
div.pc6 div.morelink { width: 100%; text-align: right; margin-top: 10px; }
div.pc6 div.morelink a { color: #565655; padding: 0 14px 0 0; background-image: url(/files/sysimages/morelink_icon.gif); background-repeat: no-repeat; background-position: right center; }
div.pc6 div.pcBanner { margin-bottom: 10px; }
div.pc6 div.pcBanner div.pcbildText { padding-top: 2px; }
div.pc6 div.pcLink a, div.pc6 div.pcExtLink a { background-position: 0 4px; }

/* pc5 = pc6 */
div.pc5.topmargin { margin-top: 10px; }
div#col1 div.pc6 { margin-left: 10px; }
div#col1 .pcMainrow {  }
div.pc5 { margin-left: 0; }
div.pc5 div.pcLinkbox a { display: block; width: 174px; padding: 4px 6px 4px 20px; border-bottom: 1px solid #ffffff; background-color: #8aafd0; color: #ffffff; }
div.pc5 div.pcLinkbox a:hover { background-color: #a3c5e2; }
div.pc5 h2.pcLinkbox { border-bottom: 1px solid #ffffff; margin: 0; font-size: 1.1em; color: #004389;}
div.pc5 h2.pcLinkbox div { width: 172px; padding: 4px 6px 4px 20px; background-color: #ffffff; border: 1px solid #A0C7EF; }

/* div.pc6 div.pcLink a[href$=".pdf"] { background-image: url(/files/sysimages/link_icon_download.gif); } */

/* Navigation top */
#nav1 { position: relative; height: 30px; width: 950px; padding-left: 10px; font-size: 1.2em; overflow: hidden;
background-image: url(../topnav_fond.gif); background-position: 0 2px; background-repeat: repeat-x; }
 #nav1 ul {
   clear:left;
   float:left;

   list-style:none;
   margin:0;
   padding:0;
   position:relative;
}
#nav1 ul li {
   display:block;
   float:left;
   list-style:none;
   background-image: url(/files/sysimages/topnav_trenner.gif); background-repeat: no-repeat; background-position: top right;
   margin:0;
   margin-top: 2px;
   padding:0;
   position:relative;
}
#nav1 ul li a {
   display:block;
   height: 28px;
   float: left;
   padding:6px 10px;
   color:#ffffff;
   text-decoration:none;
   line-height:1.3em;

}
#nav1 ul li.aktiv { background-color: #467db3; background-image: none;  background-image: url(/files/sysimages/topnav_fond_a2.gif); background-repeat: no-repeat; background-position: top right; /*margin: 0;*/ }
#nav1 ul li.aktiv a {  padding: 7px 10px; }
#nav1 ul li a:hover { background-color: #15589d; }

#breadcrumb { width: 740px; height: 21px; color: #ffffff; background-color: #004994; padding-left: 20px; padding-top: 8px; border-top: 1px solid #2664a4; line-height: 1em; }
#breadcrumb span { font-size: 1em; }
#breadcrumb a { font-size: 1em; color: #ffffff; text-decoration: none; }
#breadcrumb ul { list-style: none; margin:0; padding:0; position: relative; display: block; float: left; }
#breadcrumb li.bc { display: block; float: left; list-style: none; padding-left: 10px; padding-right: 4px; background-image: url(/files/sysimages/bc_trenner.gif); background-repeat: no-repeat; background-position: left 4px;}
#breadcrumb li.bc.first { background-image: none; padding-left: 0; }

/* navigation left */
div#leftnav { font-size: 1.1em; color: #333333; }
div#leftnav a { text-decoration: none; color: #333333; display: block; padding: 4px 6px 4px 20px; background-image: url(/files/sysimages/bullet1.gif); background-repeat: no-repeat; background-position: 10px 9px; }
div#leftnav ul { padding: 0; margin: 0; width: 100%; }
div#leftnav ul li { border-bottom: 1px solid #236596; list-style: none; width: 100%; }
div#leftnav ul li.aktiv { border-bottom: none; }
div#leftnav ul li ul li a { padding: 4px 6px 4px 10px; margin-left: 20px; background-image: none; border-bottom: 1px solid #ffffff; }
div#leftnav ul li ul { border: 0; width: 100%; }
div#leftnav ul li ul li { border: 0;  }
div#leftnav ul li ul li ul li a { padding: 2px 6px 2px 10px; margin-left: 30px; border-bottom: 1px solid #236596; background-image: url(/files/sysimages/bullet3.gif); background-repeat: no-repeat; background-position: 0 8px; }
div#leftnav ul li.aktiv ul li ul li a { background-image: url(/files/sysimages/bullet3.gif); color: #333333; }
div#leftnav ul li ul li ul li ul li a { padding: 2px 6px 2px 20px; margin-left: 30px; border-bottom: none; background-image: url(/files/sysimages/bullet4.gif); background-repeat: no-repeat; background-position: 10px 7px; }
div#leftnav ul li.aktiv ul li ul li ul li a { background-image: url(/files/sysimages/bullet4.gif); }
div#leftnav li.aktiv {  }
div#leftnav li.aktiv a { background-image: url(/files/sysimages/bullet2.gif); color: #336699; border-bottom: 1px solid #236596;}
div#leftnav li.aktiv ul li a { background-image: none; border-bottom: 1px solid #ffffff; }
div#leftnav li.aktiv ul li ul li a { background-image: none; border-bottom: 1px solid #236596; }
div#leftnav li.aktiv a.aktiv { background-color: #ffffff; background-image: url(/files/sysimages/bullet2.gif); }
div#leftnav li.aktiv ul li a.aktiv { background-color: #ffffff; background-image: none; }
div#leftnav li.aktiv ul li ul li a.aktiv { background-color: #ffffff; background-image: url(/files/sysimages/bullet3.gif) }
div#leftnav li.aktiv ul li ul li ul li a.aktiv { background-color: #ffffff; background-image: url(/files/sysimages/bullet4.gif) }
div#leftnav li a:hover { background-color: #ffffff; background-image: url(/files/sysimages/bullet2.gif); }
div#leftnav li ul li a:hover { background-image: none; }

/* Tabellenartikel */
table.pcTable {	background-color: #ffffff;	border: 1px solid #A0C7EF; }
table.pcTable td, table.pcTable th { padding-left: 6px; padding-right: 6px; vertical-align: top; }
table.pcTable .th {	background-color: #004994; color: #ffffff; font-weight: bold; text-align: left; padding-top: 3px; padding-bottom: 3px; }
table.pcTable .td { padding-top: 4px; padding-bottom: 4px; }
table.pcTable .td h1 { margin: 0; font-size: 1em; color: #004389;  }
table.pcTable .td2 { padding-top: 3px; padding-bottom: 3px; background-color: #e9f3fd; }
div.pc2 table.pcTable td { font-size: 0.8em; line-height: normal; }
div.pc2 table.pcTable .th { font-size: 0.93em; }

/* Linkartikel */
div.pc2 div.pcLinkartikel { /* margin-left: 20px; padding-left: 20px; margin-bottom: 20px; background-image: url(/files/sysimages/linkartikel_icon.gif); background-repeat: no-repeat; background-position: 0 3px; */ }
div.pc2 div.pcLinkartikel div.pcLink, div.pc2 div.pcLinkartikel div.pcExtLink { margin-top: 2px; }

/* Video Artikel */
div.pc2 div.pcLink.video a { display: inline; }


/* Sitemap */
div.sitemap { font-size: 1.2em; line-height: 1.5em; }
div.sitemap a { color: #565655; }
div.sitemap.level1 { font-size: 1.8em; color: #333333; margin-top: 0; margin-bottom: 10px; }
div.sitemap.level1.notfirst { margin-top: 40px; }
div.sitemap.level2 a { color: #004994; padding-left: 16px; background-image: url(/files/sysimages/sitemap_icon.gif); background-repeat: no-repeat; background-position: left center; }
div.sitemap.level3 { margin-left: 30px;  }
div.sitemap.level4 { margin-left: 45px;  }
div.sitemap.level5 { margin-left: 60px;  }
div.sitemap.level6 { margin-left: 75px;  }

/* Suche */
div.searchresult { width: 520px; font-size: 1.2em; margin-bottom: 20px; line-height: 1.3em; }
div.searchresult a {  }
div.searchresult a.pcSuchlink { font-size: 0.84em;  font-weight: normal; text-decoration: underline; }
div.searchhead { width: 520px; font-size: 1.2em; font-weight: bold; margin-top: 30px; margin-bottom: 30px; }


#vaTable { border: 1px solid #a2c8ef;  }
#vaTable h1 { color: #004389; font-size: 1.1em; }
#vaGreyrow {
	background-color: #e9f3fd;
}
#vaRedrow {
	background-color: #e9f3fd;
}
#vaBottomRow {
	border-top: 1px solid #E2E2E4;
	padding: 8px;
	color: #6F7071;
	font-size: 0.7em;
	text-align: right;
	line-height: normal;
}
.vaTh {
	font-size: 0.9em;
	font-weight: bold;
	color: #FFFFFF;
	padding: 4px;
	padding-left: 14px;
	vertical-align: top;
	background-color: #e9f3fd; color: #004389;
}
h1.vaTh  {
	font-size: 1.1em;
	color: #004389;
	padding: 4px;
	margin: 0px;
}
.vaTd {
	font-size: 0.9em;
	padding: 4px;
	padding-left: 14px;
	vertical-align: top;
}
.vaTd2 {
	font-size: 0.9em;
	padding: 4px;
	vertical-align: top;
}
.vaTxt {
	font-size: 0.9em;
	padding: 4px;
	padding-left: 14px;
}

/* r7 anpassung */
div#ApplicationItemControl td { font-size: 10px; }




div.footline { position: absolute; top: 0; left: 200px; width: 560px; height: 1px; font-size: 1px; background-color: #50649e; }


/* highslide */
.highslide-caption {  color: #000000; }




