@CHARSET "UTF-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none outside none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
:focus {
    outline: 0 none;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html body * span.clear, html body * div.clear, html body * li.clear, html body * dd.clear {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    clear: both;
    display: block;
    float: none;
    font-size: 0;
    height: 0;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    visibility: hidden;
    width: 0;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}

ul.first-level-menu li {
    float: left;
}
ul.first-level-menu li:hover .mega-item {
    left: -1px;
    top: auto;
}
ul.first-level-menu li a {
    color: #FFFFFF;
    display: block;
    font-family: 'Trebuchet MS','lucida grande',tahoma,'ms sans serif',verdana,arial,sans-serif;
    font-size: 16px;
    height: 34px;
    line-height: 32px;
    margin: 1px 0;
    padding: 0 0 0 15px;
}
ul.first-level-menu li a:hover, ul.first-level-menu li.active a {
    background: url("../images/bg_menu_act.jpg") repeat-x scroll left top #FBFCFE;
    color: #001C36;
    text-decoration: none;
}
ul.first-level-menu li a span {
    background: url("../images/bg_menu_arrow.gif") no-repeat scroll right center transparent;
    margin-right: 10px;
    padding-right: 15px;
}
ul.first-level-menu li a:hover span, ul.first-level-menu li.active a span {
    background: url("../images/bg_menu_arrow_act.gif") no-repeat scroll right center transparent;
}
#first-level-menu-left {
    float: left;
    height:34px;
    margin-left: -15px;
    padding-right: 0;
}
#first-level-menu-right {
    float: right;
}
#first-level-menu-right li a span {
    margin-right: 7px;
    padding-right: 13px;
}
#first-level-menu-right li a {
    font-size: 14px !important;
    padding: 0 0 0 10px;
}
#second-level-menu .second-level-menu-headline {
    background: url("../images/bg_second-level-menu.gif") repeat-x scroll left bottom transparent;
    padding: 9px 20px;
}
#second-level-menu .second-level-menu-headline a {
    color: #72859F;
    font-size: 12px;
}
#second-level-menu {
    background: none repeat scroll 0 0 #EBECF0;
    border-bottom: 1px solid #B7C5D0;
    border-right: 1px solid #B7C5D0;
    border-top: 1px solid #B7C5D0;
}
#second-level-menu ul {
    padding: 20px 0;
}
#second-level-menu li a {
    color: #660033;
    display: block;
    padding: 8px 10px;
}
#second-level-menu li a span {
    background: url("../images/bg_second-level-menu-item.gif") no-repeat scroll 0 3px transparent;
    display: inline-block;
    padding: 0 0 0 10px;
}
#second-level-menu li a:hover, #second-level-menu li.active a {
    background-color: #FFFFFF;
    color: #660033;
    display: block;
    margin-right: -1px;
    text-decoration: none;
}
ul.third-level-menu {
    float: left;
}
ul.third-level-menu li {
    float: left;
}
ul.third-level-menu li a {
    border-right: 1px solid #1B4164;
    color: #FFFFFF;
    display: block;
    font-family: 'HelveticaNeueLTStd57Condensed';
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    margin: 1px 0;
    padding: 0 15px;
}
ul.third-level-menu li:last-child a {
    border-right: medium none;
}
ul.third-level-menu li a:hover, ul.third-level-menu li.active a {
    background: url("../images/bg_menu_act.jpg") repeat-x scroll left top #FBFCFE;
    color: #001C36;
    text-decoration: none;
}
ul.third-level-menu li.third-level-menu-home a {
    background: url("../images/ico_home.gif") no-repeat scroll 19px 15px #FFFFFF;
    border-right: medium none;
    display: block;
    float: left;
    height: 39px;
    margin: -5px 0 0;
    padding: 0;
    text-indent: -9999px;
    width: 46px;
}
ul.third-level-menu li.third-level-menu-home a:hover {
    background: url("../images/ico_home.gif") no-repeat scroll 21px 15px #FFFFFF;
}
#content-footer-container .meta-menu ul li {
    border-right: 1px solid #DEE0E6;
    float: left;
    line-height: 90%;
    padding: 0 5px;
}
#content-footer-container .meta-menu ul li:last-child {
    border-right: medium none;
    padding-right: 0;
}
#content-footer-container .meta-menu li a {
    color: #74869F;
}
.gs28 {
    width: 280px;
}
.gs18 {
    width: 180px;
}
.mega-item {
    background: url("../images/bg_mega_menu.png") repeat-x scroll 0 0 transparent;
    box-shadow: 0 4px 4px rgba(65, 65, 65, 0.25);
    color: #111111;
    height: 210px;
    left: -9999px;
    position: absolute;
    top: 34px;
    width: 100%;
}
.mega-item-wrapper {
    height: 210px;
    overflow: hidden;
}
.mega-item-container {
    position: relative;
}
.mega-item ul {
    float: left;
}
.mega-item ul li {
    clear: both;
}
#first-level-menu-right .mega-item li a {
    font: 12px/1.5 sans-serif !important;
}
.mega-item a, .mega-item ul li a {
    background: none repeat scroll 0 0 transparent !important;
    color: #001C36;
    display: block;
    font: 12px/1.5 sans-serif;
    height: auto !important;
    margin: 1px 0;
    padding: 0 0 0 15px;
    text-decoration: none;
}
.mega-item-col {
    border-right: 1px dotted #B7C5D0;
    float: left;
    margin: 15px 0;
    padding: 0 20px;
}
.mega-item-secondcol h2, .mega-item-thirdcol h2, .mega-item-fourthcol h2 {
    font: 12px/1.3 sans-serif !important;
    padding-bottom: 10px !important;
    text-transform: none !important;
}
#first-level-menu-right .mega-item-col h2 a, .mega-item-col h2 a {
    background-color: #EDF0F3 !important;
    background-image: none !important;
    border-radius: 3px 3px 3px 3px;
    color: #000000 !important;
    font: 12px/145% sans-serif !important;
    height: auto !important;
    padding: 5px 10px !important;
    text-transform: none !important;
}
.mega-item-col ul li {
    margin: 0 !important;
    padding: 0 !important;
}
.mega-item-col ul li a {
    background: url("../images/bg_second-level-menu-item.gif") no-repeat scroll 0 4px transparent !important;
    color: #660033 !important;
    line-height: 145%;
    margin: 0 !important;
    padding: 0 0 0 10px !important;
}
.mega-item-col dl dt a {
    color: #660033 !important;
    line-height: 145%;
    margin: 0 !important;
    padding: 0 0 0 0 !important;
}
.mega-item-firstcol {
    border-right: 1px dotted #001C36;
    padding-left: 0;
    text-align: right;
}
.mega-item-fourthcol {
    border-right: medium none;
    padding-right: 0;
}
ul.first-level-menu li p a {
    background: url("../images/bg_second-level-menu-item.gif") no-repeat scroll 0 4px transparent !important;
    color: #660033 !important;
    font: 12px/1.3 sans-serif;
    margin: 0;
    padding: 0 0 0 10px !important;
}
.mega-item-container .dmmjobcontrol_shortdesc {
    display: none;
}

#main_headerpic {
    background-color: #FFFFFF;
    background-position: left top;
    background-repeat: no-repeat;
    height: 400px;
    position: relative;
    width: 1380px;
}
#main_content {
    padding: 0 210px;
}
#main_frame_wrapped {
    background-color: #FFFFFF;
    background-position: left top;
    background-repeat: repeat-x;
    height: 458px;
    width: 1380px;
}
#main_frame {
    background-color: #FFFFFF;
    height: 520px;
    left: 210px;
    position: relative;
    top: -30px;
    width: 960px;
}
#box1 {
    background-color: #EBECF0;
    height: 362px;
    left: 30px;
    position: relative;
    top: 20px;
    width: 278px;
}
#technical-department {
    background: none repeat scroll 0 0 #EBECF0;
    border: 1px solid #B7C5D0;
    display: inline-block;
    float: left;
    margin: 20px 30px 30px;
    position: relative;
    width: 278px;
}
#technical-department-header {
    border-bottom: 1px solid #B7C5D0;
    position: relative;
}
#technical-department-header span {
    color: #74869F;
    cursor: pointer;
    display: block;
    font-size: 12px;
    line-height: 14px;
    padding: 10px 20px;
}
#technical-department-header:hover span {
    text-decoration: underline;
}
#technical-dep-button {
    background: url("../images/department-buttons.png") no-repeat scroll 1px 2px transparent;
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 7px;
    text-indent: -99999em;
    top: 7px;
    width: 19px;
    z-index: 0;
}
#technical-dep-button.active {
    background: url("../images/department-buttons.png") no-repeat scroll 1px -40px transparent;
}
#technical-department-content {
    border-top: 1px solid #FFFFFF;
    overflow: hidden;
    padding: 10px 20px 30px;
    position: relative;
}
#technical-department-content-inner {
    float: left;
    width: 238px;
}
#technical-department-content-inner a {
    background: url("../images/bg-ul-li.png") no-repeat scroll 0 2px transparent;
    display: block;
    margin: 10px 0 0;
    padding: 0 0 0 12px;
}
#technical-department-content-lists {
    left: 258px;
    padding: 0 0 0 30px;
    position: absolute;
    top: 36px;
    width: 590px;
}
#technical-department-content-lists ul {
    float: left;
    position: relative;
    width: 280px;
}
#technical-department-content-lists ul.first {
    margin: 0 30px 0 0;
}
#technical-department-content-lists ul li {
    margin: 0 0 10px;
}
#technical-department-content-lists ul li a {
    background: url("../images/bg-ul-li.png") no-repeat scroll 0 2px transparent;
    color: #660033;
    display: inline-block;
    padding: 0 0 0 12px;
}
#technical-department-content h2 {
    font-size: 16px;
    padding: 0 0 5px;
    text-transform: uppercase;
}
.info-teaser-outer-wrapper {
    margin: 0;
    padding: 0;
    position: relative;
}
.landing-page .info-teaser-outer-wrapper {
    float: left;
}
.info-teaser-row {
    float: left;
    margin: 20px 30px 30px 0;
    padding: 0;
    position: relative;
    width: 280px;
}
.info-teaser-row h2 {
    border-bottom: 1px dotted #B7C5D0;
    font-size: 16px;
    margin: 0 0 20px;
    padding: 0 0 5px;
    text-transform: uppercase;
}
.info-teaser-row p {
    color: #6B6B6B;
    font-size: 11px;
    line-height: 15px;
    padding-bottom: 7px;
}
.info-teaser-row .info-teaser-box {
    background: none repeat scroll 0 0 #F6F6F6;
    margin: 0 0 20px;
    padding: 0;
    position: relative;
}
.info-teaser-row .info-teaser-box .info-teaser-box-image {
    background: none repeat scroll 0 0 #EBECF0;
    float: left;
    height: 115px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 115px;
}
.info-teaser-row .info-teaser-box .info-teaser-box-content {
    float: left;
    margin: 0;
    padding: 5px 0 0 10px;
    position: relative;
    width: 152px;
}
.info-teaser-row .info-teaser-box .info-teaser-box-content h2 {
    border-bottom: medium none !important;
    margin: 0 !important;
    padding: 0 0 5px !important;
    text-transform: none !important;
}




@font-face {
    font-family: 'HelveticaNeueLTStd57Condensed';
    src: url('fonts/helveticaneueltstd-cn-webfont.eot');
    src: url('fonts/helveticaneueltstd-cn-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneueltstd-cn-webfont.woff') format('woff'),
         url('fonts/helveticaneueltstd-cn-webfont.ttf') format('truetype'),
         url('fonts/helveticaneueltstd-cn-webfont.svg#HelveticaNeueLTStd57Condensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd37ThCn';
    src: url('fonts/helveticaneueltstd-thcn-webfont.eot');
    src: url('fonts/helveticaneueltstd-thcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneueltstd-thcn-webfont.woff') format('woff'),
         url('fonts/helveticaneueltstd-thcn-webfont.ttf') format('truetype'),
         url('fonts/helveticaneueltstd-thcn-webfont.svg#HelveticaNeueLTStd37ThCn') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ----------------- globals ----------------- */
* {
  margin: 0;
  padding: 0;
}

body {
    line-height: 1;
}

html, body{
  height:100%;
}

body {
  background: url(images/bg_body.png) repeat-x top left #F6F6F6;
  height:100%;
  color: #333;
  /* font: 13px / 1.3 sans-serif; */
  /*font: 12px / 1.5 sans-serif;*/
  font-family: arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
}

/* ----------------- links ----------------- */
a {
    text-decoration: none;
}

a:link {
    color: #3163a8;
    text-decoration: none;
  -moz-transition: all 0.2s ease 0s;
}

a:visited {
    color: #3163a8;
    text-decoration: none;
  -moz-transition: all 0.2s ease 0s;
}

a:hover {
    color: #3163a8;
    text-decoration: underline;
  -moz-transition: all 0.2s ease 0s;
}

/* ----------------- headings ----------------- */
h1, h2, h3, h4 {
    margin: 0;
  font-weight: normal;
}

h1 {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 36px;
  font-family: 'HelveticaNeueLTStd37ThCn';
  color: #ffffff;
}

h2 {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 20px;
  font-family: 'HelveticaNeueLTStd57Condensed';
  color: #000000;
  text-transform: uppercase;
}

h2.csc-firstHeader {
  padding-top: 0px;
}

#content-container .sidebar-right h2 {
  font-size: 16px;
  padding-bottom: 10px;
}

h3 {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 16px;
  font-family: 'HelveticaNeueLTStd57Condensed';
  color: #000000;
}

h4 {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 14px;
  font-family: 'HelveticaNeueLTStd57Condensed';
  color: #000000;
}

p {
  padding-bottom: 15px;
}

/* ----------------- lists ----------------- */
ul {
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0;
  padding: 0;
}

#content-container .site-content ul {
  padding: 0 0 10px 12px;
}

#content-container .site-content ul li {
  list-style: square;
}

/* ----------------- table ----------------- */

table {
  width: 100%;
}

/* ----------------- structure ----------------- */

.gs96 {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

#page {
    background: #FFFFFF;
    border-color: #FFFFFF;
    border-style: solid;
/*    border-width: 0 10px; */
    margin: 0 auto;
/*    max-width: 1380px;
*/     max-width: 1100px;
    position: relative;
}

#page-container {
    height: auto !important;
    margin: 0;
    min-height: 100%;
}

#header {
  height:96px;
  background: url(images/bg_header.png) repeat-x top left #FBFCFD;
    width: 100%;
  margin-bottom: 34px;
}

#header-container {
    position: relative;
}

#navi {
    left: 0;
    position: absolute;
    top: 96px;
    width: 100%;
    z-index: 80;
  background: url(images/bg_menu.jpg) repeat-x top left #012F59;
}

#navi-container {

}

#picture {
  background-repeat: no-repeat;
  background-position: top left;
    background-position: center 0;
    background-repeat: no-repeat;
    width: 100%;
}

.landing-page #picture {
	height: 210px;
}

#picture-container {
  position:relative;
  height: 210px;
}

.landing-page #picture-container,
.career-page #picture-container {
  height: 400px;
}

#picture-container.big-picture {
  height: 400px;
}

#logo {
  margin-left: -20px;
}

#headmenu {
  position:absolute;
  right: 0;
  top: 8px;
}

#headmenu ul li:first-child a{
  text-indent: -99999px;
  background:  url("images/ico_mainbg.png") no-repeat top left;
  display: block;
  height: 39px;
  width: 63px;
}

#headmenu ul li {
  float:left;
  padding: 0 5px;
  border-right: 1px solid #DEE0E6;
  line-height: 70%;
}

#headmenu ul li:last-child {
  border-right: none;
}

#headmenu ul li a{
  color: #316B9F;
  font-size: 11px;
  display: none !important;
}

#search {
  position:absolute;
  top: 53px;
  right: 0px;
  width:195px;
}

form#indexedsearch {
  width: 210px;
}

#search input.searchbox-sword {
    border-left: 1px solid #DEE0E6;
    border-top: 1px solid #DEE0E6;
    border-bottom: 1px solid #DEE0E6;
    border-right: none;
    color: #666;
    font-size: 11px;
    height: 18px;
    line-height: 18px;
    padding: 1px 2px 1px 8px;
    text-decoration: none;
    width: 180px;
    float:left;
}

#search input.searchbox-button {
    border: none;
    border-right: 1px solid #DEE0E6;
    text-indent:-9999px;
    height: 18px;
    line-height: 18px;
    width: 20px;
    float: left;
    margin: 6px 1px 0 -22px;
    padding: 1px 0 1px 1px;
}

#language {
  position:absolute;
  right: 215px;
  top: 59px;
  color: #fff;
  font-size: 11px;
  display: none;
}

#language .selector {
  float: right;
  background: #003056;
  padding: 3px 13px;
}

#language ul {
  float: left;
  display: none;
}

#language ul li {
  float: left;
  padding: 3px 7px;
  border-right: 1px solid #fff
}

#language ul li a{
  color: #fff;
}

#pagetitle {
    position: absolute;
    top: 52px;
    visibility: hidden;
}

#third-level-menu {
    background: url("images/bg_menu.jpg") repeat-x scroll left top #012F59;
    bottom: 0;
    margin: 0 0 35px 0;
    overflow: hidden;
    position: absolute;
    left: 200px;
    height: 34px;
/*    width: 970px;
*/
    width: 761px;
}

#content {
    height: auto !important;
}

#content-container {
  background: #FFF;
  border-left: 1px solid #B7C5D0;
  border-right: 1px solid #B7C5D0;
  border-bottom: 1px solid #B7C5D0;
  min-height: 200px;
  margin-top: -35px;
}

/*
.landing-page #content-container,
.career-page #content-container {
  margin-top: -30px;
}
*/

#content-container h1{
  color: #333333;
}

#content-container .sidebar-left {
  width: 200px;
  float:left;
  margin: 0 20px 30px 0;
}
#content-container .sidebar-right {
  width: 200px;
  float:right;
/*  margin: 35px 0 30px 20px; */
  margin: 57px 0 30px 20px;
}

.career-page #content-container .sidebar-right {
  width: 278px;
  margin: 0 30px 30px 0;
}

#content-footer-container {
  color: #74869F;
  font-size:11px;
  padding: 15px 0px;
}

#content-footer-container .copyright {
  float:left;
}

#content-footer-container .meta-menu{
  float:right;
}

#content-container .site-content {
  float:left;
  width: 520px;
  padding: 30px 0;
}

.career-page #content-container .site-content {
  margin: 0 0 0 30px;
  width: 590px
}

#footer-container, #footer-push {
  height: 450px;
}

#footer {
  background: url(images/bg_footer.jpg) repeat-x top left #FAFBFD;
    clear: both;
    color: #666666;
    height: auto !important;
    min-height: 520px;
    width: 100%;
}
#footer-container  {
  margin: 0 auto;
  background: url(images/bg_footer_shadow.jpg) no-repeat top center;
  padding: 0 0 0 0;
}

#footer .footer-logo  {
/*  background: url(images/bg_footer_logo.gif) no-repeat right bottom;
  height: 440px;*/
  height: 0px;
    padding: 0 0 60px;

}

#footer-container ul.footer-links {
  padding: 35px 20px 0 0;
    float: left;
  width:160px;
}

#footer-container ul.footer-links-wide {
  width:400px;
}

#footer-container ul.footer-links li a {
  color: #74869F;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 0 0 10px;
}

#footer-container ul.footer-links li li a {
  color: #95A0B0;
  font-size:12px;
  font-weight: normal;
  padding: 2px 0px;
}

/* ----------------- forms ----------------- */

input,
textarea {
  border: 1px solid #E5E9EB;
  padding: 2px 5px;
  margin: 5px 0 10px;
}

input[type="submit"] {
  background-color: #012E57;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#001C36), to(#012E57));
  background-image: -webkit-linear-gradient(top, #001C36, #012E57);
  background-image:    -moz-linear-gradient(top, #001C36, #012E57);
  background-image:     -ms-linear-gradient(top, #001C36, #012E57);
  background-image:      -o-linear-gradient(top, #001C36, #012E57);
  background-image:         linear-gradient(top, #001C36, #012E57);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#001C36', EndColorStr='#012E57');
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 4px 10px;
  font-weight: normal;
}

input[type="submit"]:hover {
  background-color: #012E57;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#012E57), to(#001C36));
  background-image: -webkit-linear-gradient(top, #012E57, #001C36);
  background-image:    -moz-linear-gradient(top, #012E57, #001C36);
  background-image:     -ms-linear-gradient(top, #012E57, #001C36);
  background-image:      -o-linear-gradient(top, #012E57, #001C36);
  background-image:         linear-gradient(top, #012E57, #001C36);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#012E57', EndColorStr='#001C36');
}

.csc-textpic-caption {
	margin-top: 5px !important;
	font-size: 11px;
	line-height: 14px;
}

.filelinks li {
	list-style: none outside none !important;
}

.filelinks ul {
	margin: 0 !important;
	padding: 0 !important;
}