/* Titel in der rechten Spalte */

.center .info-link-h1 {
  color: #404040;
  background: #f7f7f7;
  padding: 0 0 0 4px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  border-top: 2px solid #ccc;
  font-family: sans-serif;
  font-weight: bold;
  padding: 0 0 0 4px;
  margin: 0;
  text-transform: none;

}

/* Inhaltsbox rechts */

#portal_announcements div div div, #portal_search div {
  background-color: #f7f7f7;
  padding: 8px;
  border: 1px solid #ccc;
  margin: 0;
}

#portal_announcements, #portal_search {
  border: 0;
}


/* Titelleiste links */

td .room_list_head {

  margin: 0;
  background: #f7f7f7;
  padding: 0 0 0 4px;
  font-weight: bold;
  border-top: 2px solid #ccc;
  border-bottom: 1px solid #ccc;
  color: #404040;
}

/* Box linke Spalte */

#room_list {
   background-color:#FFFFFF;
   padding:0px;
   margin:0px;
   width:515px;
   border-bottom: 1px solid #ccc;
   border-top: 2px solid #ccc;
}



/* HINWEIS:  Input-Felder bei Anmeldung unter Beschreibung setzen */

/* Linke Box */

#left_box {
  background: none;
  border: 0;
  margin-top: 20px;
}



/* Titel linke Box */

#left_box .info-link-h1, #portal_news .info-link-h1, #portal_news2 .info-link-h1 {
  margin: 1.5em 0 0 0;
  font-size: 0.9em;
  border-bottom: 1px solid #808080;
  font-weight: bold;
  background: none;
  padding: 0;
  line-height: 15px;

}


#portal_news, #portal_news2 {
  background-color: transparent;
  border: 0;
}

#portal_announcements .info-link-h1, #portal_search .info-link-h1 {
  color: #fff;
  margin: 1.5em 0 0 0;
  padding: 0 0 0 4px;
  font-size: 0.9em;
  border: 0;
  font-weight: bold;
  background: #7cc242 url(http://life.epb.uni-hamburg.de/themes/life/ro.png) no-repeat top right;
  width: 140px;
}

#portal_search .search_box, #portal_search .search_box div {
  border: 0;
  padding: 0;
  margin: 0;
}

#portal_search .search_box input, select {

}

.bold {
  font-size: 11px;
}

span.portal_forward_links {
  margin-right: 5px;
}

#cs_portal_announcements .first-column, #cs_portal_announcements .second-column, #cs_portal_announcements .third-column {
padding: 0.3em;
}

#cs_portal_announcements td.first-column a, #cs_portal_announcements td.second-column a, #cs_portal_announcements td.one-column a{
  font-size: 8pt;
} 

#cs_portal_announcements td.second-row{
   font-size: 80%;
}

#cs_portal_announcements td.second-row a{
    font-weight: bold;
    background-color: <?php echo($color['myarea_title_backround'])?>;
    font-size: 80%;
}

#cs_portal_announcements td.second-row a:hover{
    color: <?php echo($color['myarea_section_title'])?>;
    font-size: 80%;
}


#cs_portal_announcements .second-row {
border-bottom: 1px solid #ccc;
margin-bottom: 4px;
}
