/* used individual colors */
/* Sonnenuntergang.jpg -> Background-Image */
/* ___CS_BG_COLOR___={#fcc7dc} */
/* #822248 -> CS_COLOR_ACTIVE_MENUE*/
/* #dfa5bc -> CS_COLOR_MENUE*/
/* #b9386c -> CS_COLOR_RIGHT_COLUMN*/
/* #fd9dc3 -> CS_CONTENT_BG_COLOR*/
/* #ae2b5f -> CS_LINK_COLOR*/
/* #881543 -> CS_LINK_HOVER_COLOR*/
/* #dfa5bc -> CS_ACTION_BG_COLOR*/
/* #c26b8e -> CS_ACTION_ICON_COLOR*/
 /*#ac5175 -> CS_ACTION_ICON_HOVER_COLOR*/

/**************************/


/* Body*/

body {
    background-image: url("img/bg.jpg"); /* Background-Image */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-color: #FFF /*CS_BG_COLOR*/
}

#search_area {
    background: url("img/search_area_bg.gif") no-repeat scroll 0 0 transparent;
}

/* Navigation */

#main_navigation {
	background: url("img/main_nav_bg.jpg") repeat-x scroll 0 0 transparent;
	}

#main_navigation #active {
	background: url("img/active_bg.jpg") repeat-x scroll 0 0 transparent;
	border-bottom: 1px solid #fab318; /*CS_COLOR_ACTIVE_MENUE*/
}

#main_navigation ul {
    border-right: 0px solid #e67c01; /*CS_COLOR_ACTIVE_MENUE*/
}

#main_navigation .non_active a {
    border-left: none;
    border-right: 1px solid #e67c01; /*CS_COLOR_ACTIVE_MENUE*/
    color: #454545;
}

#main_navigation #active a {
    border-right: 1px solid #e67c01; /*CS_COLOR_ACTIVE_MENUE*/
    color: #FFFFFF;
}

#main_navigation .non_active {
    background: none; /*CS_COLOR_MENUE*/
}

#main_navigation ul#right_navigation {
    border-left: 1px solid #e67c01; /*CS_COLOR_ACTIVE_MENUE*/
    border-right: none;
}

#main_navigation .non_active a {
    border-left: none;
    border-right: 1px solid #e67c01; /*CS_COLOR_ACTIVE_MENUE*/
    color: #000000;
}

#main_navigation #site_actions {
    background: none;
    border-left: 1px solid #e67c01;
}

#main_navigation .non_active a:hover {
    color: #454545;
    border-left: none;
    border-right: 1px solid #e67c01;
    background: #fcfa96;
    }



/* Right Column */
#right_column {
    border-top: none;
}

#columnset {
	background: url("img/columns_bg.jpg") repeat-y scroll right top #fff778;
    border-left: 1px solid #999999;
}

#info_area_row_1, #info_area_row_2, #info_area_row_3 {
    border-right: 1px solid #b02a01;
}

#rc_portlet_area {
    background: none;
}

#info_addon {
	background:none;
	border-bottom: 1px solid #b02a01;
    border-top: 1px solid #b02a01;
    color: #b02a01;
    text-shadow: none;
}

#footer_right {
	background: url("img/columns_bg.jpg") repeat-y scroll right top #D7D7D9;
    color: #b02a01;
    border-right: 1px solid #fbe362;
}

#addon_area_row_1 {
    border-left: 0px solid #b9386c; /*CS_COLOR_RIGHT_COLUMN*/
}

.portlet_rc h2 {
    border-bottom: 1px solid #b02a01;
    color: #b02a01;
    text-shadow: none;
}

.portlet_rc_body {
    border-top: 0px solid #b02a01;
    color: #b02a01;
}

.portlet_rc_body .change_view select {
    background: #fcf0aa; /*CS_COLOR_RIGHT_COLUMN*/
    border: 1px solid #b02a01;
    color: #b02a01;
}

.portlet_rc_list {
    color: #b02a01;
    float: right;
    line-height: 16px;
}

a.keywords_s1, a.keywords_s2, a.keywords_s3, a.keywords_s4 {
    color: #b02a01;
    text-shadow: none;
}

#dis_navigation {
    border-top: 0px solid #b02a01;
}

#dis_navigation a, a.context_nav {
    color: #b02a01;
    text-decoration: none;
}

#netnavigation a {
    color: #b02a01;
    text-decoration: none;
}

ul.dynatree-container a {
    color: #b02a01;
}

/*Content*/
.table_head {
	background: url("img/ci_head_bg.png") repeat-x scroll left bottom transparent;
    border-bottom: 1px solid #f9970e;
}

.content_item .item_info {
	background: url("img/ci_head_bg.png") repeat-x scroll left bottom transparent;
    text-shadow: 0 1px #F5F5F5;
    border-bottom:1px solid #f9970e;
}

#footer_left {
    background-color: #fab318; /*CS_CONTENT_BG_COLOR*/
    border-left: 1px solid #f9970e;
    color: #b02a01;
}

#footer_right span {
    border-top: 1px solid #b02a01;
    display: block;
    padding: 10px 0 8px;
}

#footer_right a {
    color: #b02a01;
}

#footer_right p {
	border-top: none;
    text-shadow: none;
}

.content_item h2 {
	background: url("img/ci_head_bg.png") repeat-x scroll left bottom transparent;
	border-bottom:1px solid #f9970e;
}

a {
   color: #e25204; /*CS_LINK_COLOR*/
}

a:hover {
   color: #c24805; /*CS_LINK_HOVER_COLOR*/
}

.row_odd_no_hover a, .row_even_no_hover a {
    color: #e25204;
    text-decoration: none;
}

.row_odd_no_hover a:hover, .row_even_no_hover a:hover {
    color: #c24805;
    text-decoration: none;
}


.odd_sep_home {
    background-color: #fef99e;
}

.row_odd {
    background-color: #fef99e;
}

/* Actions */

#content_with_actions {
	background: url("img/cwa_bg.jpg") repeat-y scroll 0 0 transparent;
}

.item_actions a {
    background: url("img/ia_norm_bg.jpg") repeat-y scroll 0 0 transparent;
}

.item_actions a:hover {
    background: url("img/ia_active_bg_2.jpg") repeat-y scroll 0 0 transparent;
}

a.item_actions_glow {
    background: url("img/ia_active_bg_2.jpg") repeat-y scroll 0 0 transparent;
}


/* FORM */

#item_postnew {
    background: none;
}


