// Container
// ========================================================================

#container {
    margin-top: 15px;
    padding-bottom: 15px;
}

.uk-panel-box-primary {
    .hook-panel-box-primary;
    color: @panel-box-color;
}

// Content
// ========================================================================

html, body, #content {
	height: auto !important;
}

#content {
    min-width: 300px;
    padding: 0;
    background-color: #ECF0F1;
}

.feed > .uk-grid > span {
    margin-left: 0px;
}

.uk-container{
	max-width: 1455px !important;
}

input[type='radio'] {
    margin-right: 5px;
}

.cs-edit-section .uk-form-horizontal .uk-form-label {
    width: 200px;
}

#mandatoryLinksForm .uk-form-label {
    width: 150px;
}

#cke_bottom {
    visibility: hidden !important;
    height: 0px !important;
}

.uk-tooltip {
    max-width: none !important;
}