{% import 'CommsyBundle:Utils:macros.html.twig' as macros %}

<a href="{{ path('commsy_profile_general', {'roomId': user.contextId, 'itemId': user.itemId}) }}">
    {{  macros.userIcon(user, 30, false) }}
</a>