# Swish-e Configuration file

# To create an index for one context (room)
# from commsy root directory
# i.e. "swish-e -c etc/ft_config/ft.config -i var/101/103/ -f var/101/103/ft.index"

# swish-e option:
# -e : "Economic Mode": The index proccess uses less RAM.

WordCharacters ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789&#;|-'"()~!@$%_+äöüÄÖÜß

# make sure that the filters are installed on your system
# catppt and xls2csv are inside catdoc package
#
NoContents .jpg .gif .jpeg .png .tif .bmp .eps .prop .log .prop_last .prop_temp .index
IndexOnly .txt .htm .html .pdf .odt .rtf .doc .ppt .xls .docx .xlsx .pptx
FileFilter .pdf pdftotext "%p -"
FileFilter .odt catdoc "%p"
FileFilter .rtf catdoc "%p"
FileFilter .doc catdoc "%p"
FileFilter .ppt catppt "%p"
FileFilter .xls xls2csv "%p"
FileFilter .docx scripts/indexing/docx2text "%p"
FileFilter .pptx scripts/indexing/pptx2text "%p"
FileFilter .xlsx scripts/indexing/xlsx2text "%p"

#DefaultContents

IndexReport 3

# make sure, that this directory exists
# do not change this directory
TmpDir /tmp/swish-e