.some-custom-css {
    color: red;
}


.uk-cover-background {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/images/bg.jpg");
}