div.cs-edit-spinner {
    > div {
        background-color: rgba(150, 150, 150, 0.75);
        padding: 10px;
        border-radius: 10px;
        width: 24px
    }
}

div.cs-save-spinner {
    > div {
        background-color: rgba(150, 150, 150, 0.75);
        padding: 10px;
        border-radius: 10px;
        width: 24px
    }
}

div.cs-toggle-preview {
    > div.uk-panel {
        height: 60px;
        overflow: hidden;
    }
}

div.cs-toggle-preview-empty {
    > div.uk-panel {
        height: 20px;
    }
}