// Name:            Comment
// Description:     Defines styles for comment threads
//
// Component:       `uk-comment`
//
// Sub-objects:     `uk-comment-header`
//                  `uk-comment-avatar`
//                  `uk-comment-title`
//                  `uk-comment-meta`
//                  `uk-comment-body`
//                  `uk-comment-list`
//                  `uk-comment-primary`
//
// Markup:
//
// <!-- uk-comment -->
// <article class="uk-comment">
//     <header class="uk-comment-header">
//         <img class="uk-comment-avatar" src="avatar.svg" width="50" height="50" alt="">
//         <h4 class="uk-comment-title"></h4>
//         <div class="uk-comment-meta"></div>
//     </header>
//     <div class="uk-comment-body">
//         <p></p>
//     </div>
// </article>
//
// ========================================================================

@comment-title-font-size: 14px;

@comment-info-color-new: #fc4350;
@comment-info-color-changed: yellow;
@comment-padding: 5px;


.hook-comment {
    padding: @comment-padding;
    border-bottom: 1px solid #DDDDDD;
}

.hook-comment-primary {
    border: 1px solid rgba(45, 112, 145, 0.3);
    background-color: rgba(45, 112, 145, 0.2) !important;
    margin-bottom: 1px;
    opacity: 1.0 !important;
}

.uk-comment:nth-of-type(even) {
  background: #F5F5F5;
}

article.uk-comment {
    > i:first-child {
        position: absolute;
        right: 16px;
    }
}

.cs-comment-change-info {
    position: absolute;
    left:10px;
    margin-top: -@comment-padding;
    width: 0px;
    height: 0px;
    -webkit-transform:rotate(360deg);
}

.cs-comment-new {
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: @comment-info-color-new transparent transparent transparent;
}

.cd-comment-changed {
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: @comment-info-color-changed transparent transparent transparent;
}