{% extends 'layout.html.twig' %}

{% block top_navigation_left %}
{% endblock %}

{% block main %}
    <div class="uk-section uk-section-muted">
        <div class="uk-container uk-container-xsmall">
            <p>
                {{ 'portal.none'|trans({}, 'portal') }}

                <a href="{{ path('app_server_createportal') }}">{{ 'portal.create'|trans({}, 'portal') }}</a>
            </p>
        </div>
    </div>
{% endblock %}