{% extends 'layout.html.twig' %}

{% block top_navigation_left %}
{% endblock %}

{% block main %}
    <div class="uk-section uk-section-muted">
        <div class="uk-container">
            {{ content|raw }}
        </div>
    </div>
{% endblock %}