{% block alert %}
    {% if roomItem is defined and roomItem.isArchived() %}
        <div class="uk-width-expand">
            <div class="uk-alert uk-alert-warning" style="border: 1px solid rgba(226,131,39,.3)" data-uk-alert>
                {# <a class="uk-alert-close uk-close uk-align-top uk-align-right" href=""></a> #}
                <h2><i class="uk-icon-archive uk-icon-justify uk-margin-small-right"></i>{{ 'Archived room'|trans({}, "room") }}</h2>
                <p>{{ 'Archived room info'|trans({}, "room") }}</p>
            </div>
            {% if deletesRoomIfUnused %}
                <div class="uk-alert uk-alert-danger" style="border: 1px solid rgba(226,131,39,.3)" data-uk-alert>
                    <p><strong>{{ 'warning'|trans({}, "menu") }}</strong> {{ 'Archived room removal warning'|trans({'%days%': daysUnusedBeforeRoomDeletion}, "room") }}</p>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}