/*
----------------------------------------------------------------------
Panel items
----------------------------------------------------------------------
*/   

p.slide a.slide_link {
    background: url(../img/btn_down.gif) no-repeat 5px center #F5FAFD;
    display: block;
    padding: 5px 5px 5px 25px;
    border: none;
    }

p.slide a:hover {
    border: none;
    border-bottom: 0px !important;
    color: #4C86BB !important; 
    text-decoration: none;
    }



p.active a.slide_link {
    background: url(../img/btn_up.gif) no-repeat 5px center #F5FAFD;
    display: block;
    padding: 5px 5px 5px 25px;
    border: none;
    }

.active {
	    margin-bottom: 1px !important;
}

p.active a:hover {
    border: none;
    border-bottom: 0px;
    }

a.slide_link {
    border: none;
    border-bottom: 0px;
    text-decoration: none !important;
    }

p.slide {
    display: block;
    height: 0px;
	margin-bottom: 8px;
	margin-top: 8px;
	padding: 0px !important;
	height: 27px;
    }
    
.panel {
	margin-bottom: 20px;

}



