/*
----------------------------------------------------------------------
build in: August 2012
copyright: banality GmbH
location: Essen-Germany, www.banality.de
----------------------------------------------------------------------
*/



/*
----------------------------------------------------------------------
global structure - tag definitions
----------------------------------------------------------------------
*/

body {
    margin: 0px;
    border: 0px none;
    padding: 0px;
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/body_bg.jpg) repeat-x #DFECF2;
    color: #263846;
    font-family: verdana, sans-serif;
    text-align: left;
    font-size: 12px;
    line-height: 16px;
    }

p, form, #portal_search form {
    margin: 0px;
    border: 0px none;
    padding: 0px;
    }

img {
    border: 0px none;
    }

.clear {
    clear: both;
    }

#lc_download .lcd_title a {
    position: relative;
    z-index: 24;
    text-decoration: none !important;
    }

a {
    position: relative;
    z-index: 24;
    text-decoration: none;
    }

a:hover {
    z-index:25;
    }

#company_choose a span,
#footer a span {
    display: none;
    }

#company_choose a:hover span,
#footer a:hover span {
    display: block;
    position: absolute;
    top: 25px;
    left: 10px;
    padding: 5px 10px;
    border-bottom: 1px solid #6C9ECC;
    background: #7FB3E3;
    color: #FFF;
    width: 100px;
    text-align: center;
    text-shadow: #6C9ECC 0px 1px;
    }



/*
----------------------------------------------------------------------
body and header
----------------------------------------------------------------------
*/

#company_main {
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/company_main_bg.jpg) no-repeat top center;
    }

#company_mvz {
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/company_mvz_bg.jpg) no-repeat top center;
    }

#reha_main {
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/company_reha_bg.jpg) no-repeat top center;
    }

#bidia_main {
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/company_bidia_bg.jpg) no-repeat top center;
    }

#mkg_main {
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/company_mkg_bg.jpg) no-repeat top center;
    }

#neuro_main {
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/company_neuro_bg.jpg) no-repeat top center;
    }

#schmerz_main {
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/company_schmerz_bg.jpg) no-repeat top center;
    }



#wrapper {
    width: 990px;
    margin: 0px auto;
    }

#company_choose {
    color: #28649D;
    text-align: right;
    padding: 0px 25px 0px 0px;
    }

#company_choose p {
    float: left;
    width: 895px;
    padding: 6px 10px 0px 0px;
    }

#fb_company_main, #fb_company_mvz, #fb_company_01, #fb_company_02, #fb_company_03, #fb_company_04, #fb_company_05,
#fb_company_main_active, #fb_company_mvz_active, #fb_company_01_active, #fb_company_02_active, #fb_company_03_active, #fb_company_04_active, #fb_company_05_active {
	width: 20px;
	height: 20px;
	text-decoration: none;
	display: block;
	float: left;
    }

#fb_company_main {
	background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/fb_company_main.gif) 0 0;
	margin-right: 0px;
    }

#fb_company_mvz {
	background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/fb_company_mvz.gif) 0 0;
    }

#fb_company_01 {
	background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/fb_company_01.gif) 0 0;
    }

#fb_company_02 {
	background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/fb_company_02.gif) 0 0;
    }

#fb_company_03 {
	background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/fb_company_03.gif) 0 0;
    }

#fb_company_04 {
	background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/fb_company_04.gif) 0 0;
    }

#fb_company_05 {
	background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/fb_company_05.gif) 0 0;
	margin-right: 0px;
    }


#fb_company_main_active  {
	background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/fb_company_main.gif) 20px 0;
	margin-right: 0px;
    }

#fb_company_mvz_active  {
	background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/fb_company_mvz.gif) 20px 0;
    }

#fb_company_01_active  {
	background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/fb_company_01.gif) 20px 0;
    }

#fb_company_02_active  {
	background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/fb_company_02.gif) 20px 0;
    }

#fb_company_03_active  {
	background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/fb_company_03.gif) 20px 0;
    }

#fb_company_04_active  {
	background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/fb_company_04.gif) 20px 0;
    }

#fb_company_05_active  {
	background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/fb_company_05.gif) 20px 0;
	margin-right: 0px;
    }

#fb_company_main:hover, #fb_company_mvz:hover, #fb_company_01:hover, #fb_company_02:hover, #fb_company_03:hover, #fb_company_04:hover, #fb_company_05:hover,
#fb_company_main_active:hover, #fb_company_mvz_active:hover, #fb_company_01_active:hover, #fb_company_02_active:hover, #fb_company_03_active:hover, #fb_company_04_active:hover, # _05_active:hover {
	background-position: 40px 0;
    }

#portal_logo {
    padding: 0px 0px 20px 25px;
    }



/*
----------------------------------------------------------------------
main-navigation
----------------------------------------------------------------------
*/

#main_navigation {
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/main_nav_bg.jpg) repeat-x;
    height: 40px;
    border-top: 1px solid #C2D8E9;
    }

a#goto_portalhome {
    display: block;
    float: left;
    margin: -1px 25px 0px 25px;
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/btn_portalhome.gif);
    width: 20px;
	height: 20px;
	text-decoration: none;
    }

a#goto_portalhome:hover {
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/btn_portalhome.gif) 20px 0px;
    }

a#goto_portalhome_active {
    display: block;
    float: left;
    margin: -1px 25px 0px 25px;
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/btn_portalhome.gif) 20px 0px;
    width: 20px;
	height: 20px;
	text-decoration: none;
    }

#main_navigation ul {
    display: block;
    float: left;
    margin: 11px 0px 0px 25px;
    padding: 0px;
    }

#main_navigation ul li {
    list-style-type: none;
    float: left;
    padding-right: 25px;
    }

#main_navigation ul li#home {
    padding-right: 0px;
    }

#main_navigation ul li a {
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    text-shadow: #4C86BD 0px 1px;
    text-decoration: none;
    }

#main_navigation ul li a:hover {
    color: #283A48;
    text-shadow: #C7D7E8 0px 1px;
    }

#main_navigation ul li a#mn_active {
    font-size: 14px;
    font-weight: bold;
    color: #283A48;
    text-shadow: #C7D7E8 0px 1px;
    text-decoration: none;
    /* background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/mn_active.gif) no-repeat bottom center; */
    padding-bottom: 16px;
    }

#main_navigation ul li a#mn_active:hover {
    color: #FFF;
    text-shadow: #4C86BD 0px 1px;
    }

#portal_search {
    width: 165px;
    float: right;
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/search_bg.jpg) no-repeat;
    padding: 5px 0px 0px 15px !important;
    height: 26px;
    margin: 4px 25px 0px 0px;
    }

#portal_search input#search_input {
    border: 0px none;
    width: 132px;
    font-weight: bold;
    color: #B4C8CF;
    font-size: 14px;
    background: transparent;
    }

#portal_search input {
    vertical-align: middle;
    }



/*
----------------------------------------------------------------------
content_area
----------------------------------------------------------------------
*/

#content_area_wrapper {
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/content_area_bg.gif) no-repeat;
    padding: 0px 5px;
    }

#content_area {
    background: #FFF;
    }

#image_rotator_area {
	float: right;
}

#image_rotator {
    border-top: 1px solid #B5D6F2;
    height: 270px;
    }

div.image_rotator:first-child {
  display: block;
}

div.image_rotator {
  display: none;
}

#ir_navigation {
    float: left;
    width: 470px;
    padding: 0px 0px 0px 20px;
    margin-top: -31px;
    }

#ir_navigation a {
    height: 11px;
    width: 11px;
    display: block;
    float: left;
    margin-right: 4px;
    }

.ir_standard {
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/ir_nav_standard.png) no-repeat;
    }

#ir_active, .ir_active {
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/ir_nav_active.png) no-repeat;
    }

#ir_navigation strong {
    display: none;
    }

#ir_message_wrapper {
    height: 250px;
    float: left;
    position: absolute;
    padding-left: 490px;
    }

#ir_message {
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/ir_transparent.png) repeat;
    width: 490px;
    display: block;
    position: absolute;
    bottom: 20px;
    }

#ir_message h2 {
    color: #FFF;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    padding: 16px 0px 0px 15px;
    margin: 0px 0px -12px 0px;
    }

#ir_message a {
    text-align: right;
    display: block;
    padding-right: 20px;
    position: relative;
    top: 20px;
    }

#maincontent {
    padding: 0px 0px 40px 0px;
    }

#maincontent h1 {
    font-size: 20px;
    line-height: 22px;
    font-weight: normal;
    padding: 30px 0px 5px 0px;
    margin: 0px;
    }

#maincontent h2 {
    font-size: 14px;
    line-height: 15px;
    font-weight: normal;
    color: #014B94;
    padding: 0px;
    margin: 0px;
    }

#maincontent h3, #maincontent h4, #maincontent h5, #maincontent h6 {
    font-size: 14px;
    line-height: 15px;
    font-weight: normal;
    color: #014B94;
    padding: 0px 0px 10px 0px;
    margin: 0px;
    }

#sbCaption a,
#maincontent #here_sitecontent a {
    color: #4C86BB;
    text-decoration: underline;
    }

#sbCaption a:hover,
#maincontent #here_sitecontent a:hover {
    color: #014B94;
    text-decoration: none;
    border-bottom: 1px dotted #014B94;
    }

a.glossary {
	text-decoration: none !important;
	border-bottom: 1px dotted #4C86BB !important;
	color: #4C86BB !important;
}

a.glossary acronym, a.glossary dfn, a.glossary abbr, a.glossary span.abbr, a.glossary span {
  border-bottom: 1px dotted #4C86BB !important;
  cursor: help;
}

a.glossary span {
	display: inline;
}

#maincontent #here_sitecontent ul, #maincontent #here_sitecontent ol {
    padding: 0px 0px 0px 40px;
    margin: 0px 0px 18px 0px;
    }


#maincontent #here_sitecontent img {
    /* float: left; */
    padding: 0px 20px 0px 0px;
    margin: 0 0 0 0;
    }


#maincontent #here_sitecontent  DIV.csc-textpic-intext-left .csc-textpic-imagewrap {
	margin: 0 0 0 0;
}

#maincontent #here_sitecontent .csc-textpic table,
#maincontent #here_sitecontent .csc-textpic th,
#maincontent #here_sitecontent .csc-textpic tr,
#maincontent #here_sitecontent .csc-textpic td {
	padding: 0;
	margin: 0;
	border: 0px none;
}

#maincontent #here_sitecontent .csc-textpic-image {
    margin-bottom: 18px;
}

#maincontent #here_sitecontent .csc-textpic-caption {
    background: none repeat scroll 0 0 #DFECF2;
    caption-side: bottom;
    font-size: 10px;
    line-height: 12px;
    margin-right: 20px;
    padding: 10px;
    text-align: left;
}

#maincontent #here_sitecontent table {
    width: 100%;
    margin-bottom: 18px;
    border-spacing: 0;
    }

#maincontent #here_sitecontent td, #maincontent #here_sitecontent th {
    padding: 10px;
    }

#maincontent #here_sitecontent p {
	margin-bottom: 18px;
}

/*
#maincontent #here_sitecontent .csc-default p:first-child {
  margin-top: 0px;
}
*/

#maincontent #here_sitecontent h3 {
	margin-bottom: 0px;
	margin-top: 27px;
}

#maincontent #here_sitecontent h3.csc-firstHeader {
    margin-top: 0px;
}


#mc_columnset {
    width: 980px !important;
    xmargin-left: -20px;
    padding-left: 20px;
    }

#mc_left_column {
    width: 600px;
    margin-right: 40px;
    padding-top: 150px;
    float: left;
    }

#mc_left_column h2 {
  margin: 0 0 15px 0;
}

#mc_right_column {
    width: 300px;
    float: left;
    }

#breadcrumb {
    color: #717D86;
    font-size: 10px;
    }

#breadcrumb a {
    color: #717D86;
    }

#breadcrumb a:hover, #breadcrumb a#bread_active {
    color: #263846;
    }

#here_sitecontent {
    margin-top: 10px;
    line-height: 18px;
    }

#contact_area {
    background: #FFF;
    font-size: 10px;
    margin-top: 30px;
    }

#contact_area h2 {
    font-size: 20px !important;
    line-height: 22px;
    font-weight: normal;
    padding: 20px 20px 5px 20px !important;
    margin: 0px !important;
    color: #263846 !important;
    }

#contact_area h3 {
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/ico_telephone.gif) no-repeat center left;
    font-size: 20px !important;
    line-height: 22px;
    font-weight: normal;
    padding: 0px 0px 5px 22px !important;
    margin: 0px !important;
    color: #263846 !important;
    }

#contact_area h4 {
    font-size: 12px !important;
    font-weight: normal;
    padding: 0px 20px 15px 20px !important;
    margin: 0px !important;
    color: #263846 !important;
    }

#contact_area_start {
	margin: 0px 20px 0 0;
	z-index:9999;
	float: right;
	position: relative;
	width: 300px;
}

#call_us {
    background: #DFECF2;
    padding: 15px 20px;
    }

#contact_items {
    font-size: 12px;
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/conticon_bg.jpg) repeat-x left bottom;
    padding: 15px 20px;
    }

#contact_items a {
    color: #263846;
    }

#contact_items a:hover {
    color: #4C86BB;
    text-decoration: underline;
    }

#site_navigation {
    margin-top: 20px;
    border: 1px solid #E3E3E3;
    }

#site_navigation h2 {
    font-size: 20px;
    line-height: 22px;
    font-weight: normal;
    padding: 20px 20px 0px 20px !important;
    margin: 0px;
    color: #263846 !important;
    }

#site_navigation ul {
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/sn_bg.jpg) repeat-x left bottom;
    margin: 1px;
    padding: 20px 20px 15px 8px;
    }

#site_navigation li {
    list-style-type: none;
    padding-bottom: 5px;
    }

#site_navigation li a {
    color: #263846 !important;
    padding-left: 12px;
    }

#site_navigation li a:hover {
    color: #4C86BB !important;
    }

#site_navigation li a#sn_active {
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/sn_active.gif) no-repeat center left;
    color: #4C86BB !important;
    }

#prestige_elements {
    margin: 20px -20px 0px 0px;
    }

.pe_item {
    border: 1px solid #E3E3E3;
    padding: 1px;
    width: 138px;
    float: left;
    margin-right: 20px;
    }

.pe_item strong {
    font-weight: normal;
    display: block;
    }

.pe_item i {
    display: none;
    }

a.pe_item_content {
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/pe_item_bg.jpg) repeat-x bottom;
    display: block;
    color: #6C9ECC;
    height: 120px;
    }

.pe_item:hover {
    width: 288px;
    border: 1px solid #A2C4DF;
    }

.pe_item:hover i {
    display: block;
    color: #5B6974;
    font-size: 12px;
    font-style: normal;
    }

.pe_i_left {
    float: left;
    width: 138px;
    padding-top: 15px;
    text-align: center;
    }

.pe_i_left img {
    padding-bottom: 5px;
    }

.pe_i_right {
    float: left;
    width: 140px;
    padding-top: 15px;
    }


#news_elements {
    margin: 20px -20px 0px 0px;
    }

.ne_item {
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/pe_item_bg.jpg) repeat-x bottom;
    /* border: 1px solid #E3E3E3; */
    border: 1px solid #A2C4DF;
    float: left;
    margin-right: 20px;
    /* display: block; */
    color: #5B6974;
    height: 90px;
    width: 267px;
    padding: 15px;
    }

#reha_topics {
    margin-right: -20px;
    }

.rt_item {
    border: 1px solid #E3E3E3;
    padding: 1px;
    width: 216px;
    float: left;
    margin: 20px 20px 0px 0px;
    }

#company_main .rt_item {
	width: 295px;
	overflow: hidden;
}

#company_main .rt_item .rt_item_content img {
	width: 295px;
}

.rt_item_content {
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/pe_item_bg.jpg) repeat-x bottom;
    padding-bottom: 10px;
    }

.rt_item_content img {
    padding-bottom: 10px;
    }

.rt_item_content a {
    text-align: center;
    display: block;
    color: #014B94;
    text-decoration: none;
    }

.rt_item_content a:hover {
    color: #D3031D;
    }

#more_navigation {
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/more_nav_bg.jpg) repeat-x bottom #B4D6F2;
    border-bottom: 1px solid #B5D6F2;
    padding-left: 10px;
    }

#more_navigation ul {
    margin: 0px;
    padding: 0px;
    }

#more_navigation li {
    margin: 0px;
    padding: 0px;
    float: left;
    list-style-type: none;
    border-right: 1px solid #B5D6F2;
    }

#more_navigation li a {
    color: #4C86BB;
    padding: 10px;
    display: block;
    text-shadow: #FFF 0px 1px;
    }

#more_navigation li a:hover {
    color: #014B94;
    }

#more_navigation li a#more_active {
    color: #283A48;
    text-shadow: #C7D7E8 0px 1px;
    /* background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/mn_active.gif) no-repeat center 30px; */
    }



/*
----------------------------------------------------------------------
content-types
----------------------------------------------------------------------
*/

.lcd_title a.pdf,
.rc_download a.pdf {
	 background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/pdf.gif) no-repeat top left;
}

.lcd_title a.doc,
.rc_download a.doc {
	 background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/doc.gif) no-repeat top left;
}

.lcd_title a.xls,
.rc_download a.xls {
	 background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/xls.gif) no-repeat top left;
}

.lcd_title a.ppt,
.rc_download a.ppt {
	 background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/ppt.gif) no-repeat top left;
}

.lcd_title a.eps,
.rc_download a.eps {
	 background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/eps.gif) no-repeat top left;
}

.lcd_title a.jpg,
.rc_download a.jpg {
	 background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/jpg.gif) no-repeat top left;
}

.lcd_title a.gif,
.rc_download a.gif {
	 background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/gif.gif) no-repeat top left;
}

.lcd_title a.png,
.rc_download a.png {
	 background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/png.gif) no-repeat top left;
}

.lcd_title a.tif,
.rc_download a.tif {
	 background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/tif.gif) no-repeat top left;
}

.lcd_title a,
.rc_download a {
     background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/diverse.gif) no-repeat top left;
	 padding-left: 21px;
	 display:block;
}

.single-item-files dt {
	margin-bottom: 10px;
}

.lcd_title a:hover {

}


.rc_download {
    background: #F5FAFD;
    border-top: 1px solid #FFF;
    padding: 10px 20px;
    }

.rc_download img {
    display: block;
    float: left;
    padding-right: 5px;
    }

.rc_download strong {
    font-size: 12px;
    }

.rc_download p {
    display: block;
    font-size: 10px;
    padding-top: 3px;
    }

.rc_download a, #lc_download a {
    color: #4C86BB;
    }

.rc_download a:hover, #lc_download a:hover {
    color: #4C86BB !important;
    text-decoration: underline !important;
    border: none !important;
    }

#download_portlet {
    margin-top: 20px;
    border: 1px solid #E3E3E3;
    padding: 1px;
    }

#download_portlet h2 {
    font-size: 20px;
    line-height: 22px;
    font-weight: normal;
    padding: 20px 20px 20px 20px !important;
    margin: 0px;
    color: #263846 !important;
    }

#lc_download {
    padding-top: 20px;
    }

#lc_download table {
    border: 1px solid #E3E3E3;
    padding-left: 1px;
    padding-bottom: 1px;
    }

#lc_download td {
    border-top: 1px solid #FFF !important;
    border-right: 1px solid #FFF !important;
    background: #F5FAFD;
    padding: 10px !important;
    }

#lc_download th,
#lc_download td {
	border-left: none !important;
	border-bottom: none !important;
}

#lc_download img {
    display: block;
    float: left;
    padding-right: 5px;
    }

#lc_download td.lcd_title {
    width: 200px;
    }

#lc_download td.lcd_description {
    width: 320px;
    }


#lc_download td.lcd_facts {
    width: 80px;
    color: #98B3BC;
    }

.news_item {
    margin-top: 20px;
    border-top: 1px solid #E3E3E3;
    }

.news_head {
    padding: 10px 0px 0px 0px;
    color: #717D86;
    }

.news_head strong {
    color: #263846;
    }

.news-single-item {
	margin-top: 40px;
}

.news-single-img a:hover {
  border: none !important;
}

.news-single-imgcaption a:hover {
    border-bottom: 1px dotted #014B94 !important;
}

.news-single-item .news_content {
	margin-top: 20px;
}

.news-single-item .news_head {
	padding: 10px 0px 10px 0px;
}

.news-single-item h1 {
	padding-top: 0px !important;
}

.news-single-item .prev_news a,
.news-single-item .next_news a {
	text-decoration: none !important;
}

.news-single-item .next_news {
	float:right;
}

.news-single-imgcaption {
	margin-bottom: 18px !important;
	background: none repeat scroll 0 0 #DFECF2;
    caption-side: bottom;
    font-size: 10px;
    line-height: 12px;
    margin-right: 0px;
    padding: 10px;
    text-align: left;
    width: 280px !important;
}

.news_item img {
    float: left;
    padding-right: 20px;
    }

.news-single-img {
	float: left;
}

.news_item .news_headline a {
    text-decoration: none !important;
    }

.news_item .news_headline a:hover {
	border: none !important;
}

a.news_more {
    color: #4C86BB !important;
    text-decoration: underline !important;
    }

a.news_more:hover {
    color: #014B94 !important;
    text-decoration: none !important;
    border-bottom: 1px dotted #014B94 !important;
    }

h2.news_headline {
    margin: 0px !important;
    padding: 10px 0px 20px 0px !important;
    font-size: 18px !important;
    line-height: 22px !important;
    }

h2.news_headline a {
    color: #4C86BB !important;
    }



/*
----------------------------------------------------------------------
profile item
----------------------------------------------------------------------
*/

.profile_item {
    margin-top: 20px;
    border-top: 1px solid #E3E3E3;
    padding-bottom: 20px;
    }

.profile_item h2 {
    padding: 10px 0px 20px 0px !important;
    color: #717D86 !important;
    font-size: 12px !important;
    }

.profile_item h3 {
    font-size: 12px !important;
    line-height: 16px !important;
    font-weight: bold;
    padding: 0px 0px 15px 0px !important;
    margin: 0px !important;
    float: left;
    width: 430px;
    }

.pi_pic {
    float: left;
    width: 170px !important;
    min-height: 60px;
    color: #4C86BB;
    font-style: italic;
    padding-bottom: 20px;
    }

.pi_details {
    float: left;
    width: 230px;
    padding: 0px 0px 20px 13px !important;
    margin: 0px !important;
    }

.pi_contact {
    float: left;
    width: 172px;
    margin-left: 15px;
    padding-bottom: 20px;
    }

.d_contact {
	float: left;
}

.pi_details a, .pi_contact a, .pi_macrodetail a {
    color: #4C86BB !important;
    text-decoration: underline !important;
    }

.pi_details a:hover, .pi_contact a:hover, .pi_macrodetail a:hover {
    color: #014B94 !important;
    text-decoration: none !important;
    border-bottom: 1px dotted #014B94 !important;
    }

a.pi_down {
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/btn_down.gif) no-repeat 10px center #F5FAFD;
    display: block;
    color: #4C86BB;
    padding: 5px 5px 5px 28px;
    }

a.pi_up {
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/btn_up.gif) no-repeat 10px center #F5FAFD;
    display: block;
    color: #4C86BB;
    padding: 5px 5px 5px 28px;
    }

.pi_macrodetail {
    padding: 10px 0px;
    border-top: 1px solid #FFF;
    background: #F5FAFD;
    }

.pi_macrodetail h4 {
    font-size: 12px !important;
    width: 140px;
    float: left;
    padding: 0px 0px 0px 10px !important;
    margin: 0px !important;
    font-weight: normal;
    }

.pi_macrodetail span {
    width: 430px;
    padding-right: 20px;
    float: left;
    }



/*
----------------------------------------------------------------------
forms
----------------------------------------------------------------------
*/

form {
    padding: 1px;
    margin: 0px 0px 0px 0px;
    }

#direct_mail_subscription {
    margin: 50px 0px 0px 0px;
}

fieldset {
    background: #F5FAFD;
    border: 0px none;
    padding: 10px 20px 20px 20px;
    margin: 0px;
    }

ul.powermail_message {
  background: #F5FAFD;
  margin: 0 !important;
  padding-top: 18px !important;
}

ul.powermail_message_error {
	color: #C21E23;
}

#newsletter legend {
  margin: -40px 0px 0px -20px;
}

legend {
    margin: -40px 0px 0px 0px;
    padding: 0px !important;
    font-size: 18px !important;
    line-height: 22px !important;
    color: #4C86BB;
    }

label {
    display: block;
    padding-top: 10px;
    }

#newsletter input {
    width: 250px;
    border: 1px solid #E3E3E3;
    padding: 5px;
    color: #4C86BB;
    }

h1#newsletter_page_title {
	margin: -20px 0 20px 0;
}

.powermail_fieldwrap_submit,
#form_actions {
    padding: 15px 0px 15px 0px;
    }

input.powermail_submit,
input.powermail_confirmation_form,
input.powermail_confirmation_submit,
#form_actions input {
    width: auto !important;
    border: 0px none !important;
    padding: 4px 4px 4px 4px !important;
    /* height: 25px; */
    color: #FFFFFF !important;
    cursor: pointer;
    min-width: 102px;
    background-color: #3882CD;
    background-image: -moz-linear-gradient(top, #3882CD, #2670BA);
    background-image: -o-linear-gradient(top, #2670BA, #3882CD);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #2670BA),color-stop(1, #3882CD));
    background-image: -webkit-linear-gradient(#2670BA, #3882CD);
    background-image: linear-gradient(top, #2670BA, #3882CD);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#2670BA', EndColorStr='#3882CD');
}

#newsletter #form_actions input {
	/*height: auto;
	width: auto; */
}

.powermail_fieldset .layout1,
#form_terms {
    font-size: 10px;
    color: #4C86BB;
    }

.powermail_fieldset .layout1 a
#form_terms a {
    color: #4C86BB;
    border-bottom: 1px dotted #4C86BB;
    text-decoration: none !important;
    }

.powermail_fieldset .layout1 a:hover,
#form_terms a:hover {
    color: #263846;
    border-bottom: 1px dotted #263846;
    }

.tx-powermail,
#form_area {
    margin: 20px 0px 0px 0px !important;
    }

.tx-powermail input, .tx-powermail textarea,
#powermail_field_datei,
#form_area input, #form_area textarea {
    width: 350px;
    border: 1px solid #E3E3E3;
    padding: 5px;
    color: #4C86BB;
    }

.powermail_select {
    /* color: #4C86BB; */
    }

.tx-powermail textarea,
#form_area textarea {
    height: 100px;
    }

.field_error {
    background: #C21E23;
    padding: 10px;
    margin-top: 10px;
    }

.field_error label {
    color: #FFF;
    }

.tx-powermail h3,
.tx-powermail form legend {
  display: none !important;
}

.powermail_field_e_mailformError {
    padding: 4px 0 0 0;
	margin: 0px 0 0 50px !important;
	color: #C21E23;
}

.powermail_confirmation .powermail_form {
	float: left;
	border: none;
	margin: 10px 10px 0 0;
}

.powermail_confirmation dt {
	font-weight: bold;
}

.powermail_confirmation dd {
  margin: 0 0 0 20px;
}

/*
----------------------------------------------------------------------
jobcenter
----------------------------------------------------------------------
*/

#jobcenter {
    margin-top: 20px;
    }

#jobcenter table {
    border: 1px solid #E3E3E3;
    padding-left: 1px;
    padding-bottom: 1px;
    margin-top: 20px;
    }

#jobcenter th {
    border-top: 1px solid #FFF !important;
    border-right: 1px solid #FFF !important;
    border-left: none !important;
    border-bottom: none !important;
    padding: 10px;
    }

#jobcenter td {
    border-top: 1px solid #FFF !important;
    border-right: 1px solid #FFF !important;
    border-left: none !important !important;
    border-bottom: none !important;
    background: #F5FAFD;
    padding: 10px;
    }

#jobcenter a {
    color: #4C86BB;
    text-decoration: underline;
    }

#jobcenter a:hover {
    color: #014B94;
    text-decoration: none;
    border-bottom: 1px dotted #014B94;
    }

#jobcenter .job_date {
  width: 10%;
}

#jobcenter .job_department {
  width: 30%;
}

#jobcenter .job_title {
  width: 60%;
}

/*
----------------------------------------------------------------------
partner
----------------------------------------------------------------------
*/

#partner_area {
    background: #FFF;
    font-size: 10px;
    margin-top: 30px;
    border: 1px solid #E3E3E3;
    }

#partner_area img {
    /* padding: 20px 20px 0px 20px; */
    }

#partner_area h2 {
    font-size: 16px !important;
    line-height: 20px;
    font-weight: normal;
    padding: 20px 20px 15px 20px !important;
    margin: 0px !important;
    color: #263846 !important;
    }

#partner_area h3 {
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/ico_telephone.gif) no-repeat center left;
    font-size: 20px !important;
    line-height: 22px;
    font-weight: normal;
    padding: 0px 0px 5px 22px !important;
    margin: 0px !important;
    color: #263846 !important;
    }

#partner_contact {
    font-size: 12px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #E3E3E3;
    background: #F4F9FC;
    padding: 15px 20px 15px 20px;
    }

#partner_contact a {
    color: #4C86BB;
    text-decoration: underline;
    }

#partner_contact a:hover {
    color: #014B94;
    text-decoration: none;
    border-bottom: 1px dotted #014B94;
    }

#partner_area #partner_logo {
	width: 150px;
	height: 50px;
	overflow: hidden;
	padding: 20px 20px 0px 20px;
}

#partner_logo .csc-textpic-image {
	margin: 0;
	padding: 0;
}

/*
----------------------------------------------------------------------
footer
----------------------------------------------------------------------
*/

#footer {
    margin: 0px 5px;
    padding: 20px 20px 115px 20px;
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/footer_bg.jpg) repeat-x;
    color: #829CA6;
    }

#copyright {
    float: right;
    text-align: right;
    line-height: 20px;
    margin-top: -5px;
    }

#copyright a {
    color: #829CA6;
    text-decoration: none;
    }

#copyright a:hover {
    color: #E0EDF3;
    text-decoration: underline;
    }

#footer h2 {
    font-size: 14px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
    }

#footer ul {
    margin: 0px;
    padding: 15px 0px 0px 0px;
    }

#footer ul li {
    float: left;
    list-style-type: none;
    padding-right: 20px;
    }

#action_bmi {
	width: 47px;
	height: 30px;
	text-decoration: none;
	display: block;
	float: left;
	background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/btn_bmi.gif) 0 0;
    }

#action_bmi:hover {
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/btn_bmi.gif) 47px 0;
    }

#action_newsletter {
	width: 37px;
	height: 30px;
	text-decoration: none;
	display: block;
	float: left;
	background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/btn_newsletter.gif) 0 0;
    }

#action_newsletter:hover {
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/btn_newsletter.gif) 37px 0;
    }

#action_intern {
	width: 34px;
	height: 32px;
	text-decoration: none;
	display: block;
	float: left;
	background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/btn_intranet.gif) 0 0;
	margin-top: -2px;
    }

#action_intern:hover {
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/btn_intranet.gif) 34px 0;
    }

#action_vodcast {
	width: 38px;
	height: 38px;
	text-decoration: none;
	display: block;
	float: left;
	background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/btn_vodcast.gif) 0 0;
	margin-top: -8px;
    }

#action_vodcast:hover {
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/btn_vodcast.gif) 38px 0;
    }

#action_rythm {
	width: 48px;
	height: 30px;
	text-decoration: none;
	display: block;
	float: left;
	background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/btn_rythm.gif) 0 0;
    }

#action_rythm:hover {
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/btn_rythm.gif) 48px 0;
    }


#c213 form {
	border: none;
}

.news-single-video {
	float: left;
	margin: 0 20px 0px 0;
}

.news-single-video .news-single-imgcaption {
	margin: 0 0 0px 0 !important;
}


.news-single-video .single-media {
	margin: 0 0 20px 0 !important;
}


/*
-----------------------------------
Job-Navigation
-----------------------------------
*/

#c302 {
    margin-top: 20px;
    border: 1px solid #E3E3E3;
    }

#c302 h3 {
    font-size: 20px;
    line-height: 22px;
    font-weight: normal;
    padding: 20px 20px 0px 20px !important;
    margin: 0px;
    color: #263846 !important;
    }

#c302 .news-catmenu {
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/sn_bg.jpg) repeat-x left bottom;
    margin: 1px;
    padding: 20px 20px 15px 8px;
    }

#c302 div.level1 {
    list-style-type: none;
    padding-bottom: 5px;
    }

#c302 div.level1 a {
    color: #263846 !important;
    padding-left: 12px;
    }

#c302 div.level1 a:hover {
    color: #4C86BB !important;
    }

#c302 div.level1 .news-catmenu-ACT a {
    background: url(http://www.main-bgmed-rehazentrum.de/fileadmin/templates/img/sn_active.gif) no-repeat center left;
    color: #4C86BB !important;
    }


#c302 p.news-catmenu-header {
  padding-left: 12px;
  padding-bottom: 5px;
  margin-top: -16px;
  width: 55px;
}

#c302 .news-catmenu a {
	/* display: none; */
	color: #263846 !important;
    padding-left: 12px;
}

#c302 .news-catmenu a:hover {
	color: #4C86BB !important;
}

#c302 .news-catmenu-NO a,
#c302 .news-catmenu-ACT a {
	display: inline !important;
}


/*
-------------------------------
Sitemap
-------------------------------
*/

.csc-sitemap ul {
	margin: 0 !important;
}

/*
-------------------------------
BMI-Index
-------------------------------
*/

.bfbmi_form {
	border: none;
}


/*
-------------------------------
YAG
-------------------------------
*/

.tx-yag-pi1 .tx-yag-thumb-innerframe a:hover {
  border-bottom: none !important;
}

.tx-yag-thumb-innerframe img, .tx-yag-image img {
    background: none !important;
    border: none;
    margin: 0px !important;
    padding: 0px !important;
}

.tx-yag-breadcrumbcomtainer {
    border: none !important;
}

.theme-default .tx-yag-item-thumb-outerframe {
    margin: 0 10px 0 0;
}

#gallery {
	margin-bottom: 18px;
}

.tx-yag-pi1 {
	margin-bottom: 0px;
}

#main_navigation ul {
    border-right: 0px solid #EBEBEB;
}