/* Body*/

body {
    background-color: #faf9f9 /*CS_BG_COLOR*/
}

#logo_area span {
    color: #e6e6e6;
    font-size: 24px;
    font-weight: bold;
    text-shadow: #000000 0 0 5px;
}


/* Navigation */

#main_navigation {
    background: url("img/main_nav_bg.jpg") repeat-x scroll 0 0 transparent;
}

#main_navigation #active {
	background: url("img/active_bg.jpg") repeat-x scroll 0 0 transparent;
	border-bottom: 1px solid #90030b; /*CS_COLOR_ACTIVE_MENUE*/
}

#main_navigation #site_actions {
    background: none;
    border-left: 1px solid #d5d5d5;
}


/* Right Column */
#right_column {
   border-top: none;

background: #9e9fa0; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzllOWZhMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iIzY0NjQ2NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #9e9fa0 0%, #646464 60%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9e9fa0), color-stop(60%,#646464)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #9e9fa0 0%,#646464 60%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #9e9fa0 0%,#646464 60%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #9e9fa0 0%,#646464 60%); /* IE10+ */
background: linear-gradient(to bottom,  #9e9fa0 0%,#646464 60%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e9fa0', endColorstr='#646464',GradientType=0 ); /* IE6-8 */


}

#columnset {
    background: #9e9fa0; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzllOWZhMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iIzY0NjQ2NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  #9e9fa0 0%, #646464 60%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9e9fa0), color-stop(60%,#646464)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #9e9fa0 0%,#646464 60%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #9e9fa0 0%,#646464 60%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #9e9fa0 0%,#646464 60%); /* IE10+ */
    background: linear-gradient(to bottom,  #9e9fa0 0%,#646464 60%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e9fa0', endColorstr='#646464',GradientType=0 ); /* IE6-8 */

    border-left: 1px solid #999999;
}

#info_area_row_1, #info_area_row_2, #info_area_row_3 {
   border-right: 1px solid #999999;
}

#rc_portlet_area {
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NlMmQxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYTExMjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ce2d19 0%, #ba1126 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ce2d19), color-stop(100%,#ba1126)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ce2d19 0%,#ba1126 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ce2d19 0%,#ba1126 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ce2d19 0%,#ba1126 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ce2d19 0%,#ba1126 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ce2d19', endColorstr='#ba1126',GradientType=0 ); /* IE6-8 */

    height: 25px;
    padding: 12px 10px 4px 10px;
    border-bottom: 1px solid #999999;
}


#info_addon {
	background:none;
	border-bottom: 1px solid #999999;
   border-top: 1px solid #999999;
   color: #d5d5d5;
   text-shadow: none;
}

#footer_right {
    background: #646464; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY0NjQ2NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5ZTlmYTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #646464 0%, #9e9fa0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#646464), color-stop(100%,#9e9fa0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #646464 0%,#9e9fa0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #646464 0%,#9e9fa0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #646464 0%,#9e9fa0 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #646464 0%,#9e9fa0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#646464', endColorstr='#9e9fa0',GradientType=0 ); /* IE6-8 */


   color: #d5d5d5;
   border-right: 1px solid #676767;
   border-bottom: 1px solid #676767;
}

#footer_left {
   border-bottom: 1px solid #999999;
}

div#footer_right a.open_popup, div.portlet_rc div.portlet_rc_list, div.portlet_rc div#dis_navigation a, div.portlet_rc_body div#netnavigation, div.portlet_rc_body div#netnavigation a, div#footer_right a {
	color: #d5d5d5;
}

div#footer_right a.open_popup:hover, div.portlet_rc div#dis_navigation a:hover, div.portlet_rc_body div.portlet_rc_action a:hover, div.portlet_rc_body div#netnavigation a:hover, div#footer_right a:hover {
   color: #FFF;
   text-decoration: underline;
} 

#addon_area_row_1 {
   border-left: 0px solid #b9386c; /*CS_COLOR_RIGHT_COLUMN*/
}

.portlet_rc h2 {
   border-bottom: 0px solid #999999;
   color: #d5d5d5;
   text-shadow: none;
}

.portlet_rc_body {
   border-top: 0px solid #999999;
   color: #d5d5d5;
}

.portlet_rc_body .change_view select {
   background: #efefef; /*CS_COLOR_RIGHT_COLUMN*/
   border: 1px solid #999999;
   color: #393939;
}

a.keywords_s1, a.keywords_s2, a.keywords_s3, a.keywords_s4 {
   color: #d5d5d5;
   text-shadow: none;
}

#dis_navigation {
   border-top: 0px solid #999999;
}


/*Content*/

#footer_right span {
   border-top: 1px solid #999999;
   display: block;
   padding: 10px 0 8px;
}

#footer_right p {
	border-top: none;
   text-shadow: none;
}

a {
   color: #90030b; /*CS_LINK_COLOR*/
}

a:hover {
   color: #90030b; /*CS_LINK_HOVER_COLOR*/
}

.row_odd_no_hover a, .row_even_no_hover a {
   color: #90030b;
   text-decoration: none;
}

.row_odd_no_hover a:hover, .row_even_no_hover a:hover {
   color: #90030b;
   text-decoration: none;
}

.content_item h2 {
    background-color: #ddd;
}

.table_head {
  background: #fefefe; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZGNkY2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #fefefe 0%, #cdcdcd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#cdcdcd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fefefe 0%,#cdcdcd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fefefe 0%,#cdcdcd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fefefe 0%,#cdcdcd 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fefefe 0%,#cdcdcd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#cdcdcd',GradientType=0 ); /* IE6-8 */

border-bottom: 1px solid #9e9fa0;

}

#maincontent form .content_item {
  border-top:  1px solid #9e9fa0;
}

.content_item .item_info {
  background: #fefefe; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZGNkY2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #fefefe 0%, #cdcdcd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#cdcdcd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fefefe 0%,#cdcdcd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fefefe 0%,#cdcdcd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fefefe 0%,#cdcdcd 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fefefe 0%,#cdcdcd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#cdcdcd',GradientType=0 ); /* IE6-8 */

}

/* FORM */

#item_postnew {
   background-color: #CDCDCD;
}

.portlet_rc_body a{
   color:#DDD;
}

#addon_area_row_2 {
   float: right;
   height: 60px;
   width: 47px;
}