#main_navigation {
    background: url(img/commsy_nav_bg.png) repeat-x scroll 0 0 transparent;
    height: 102px;
    }

#columnset {
	background: url("img/columns_bg.jpg") repeat-y scroll right top #D7D7D9;
	border-left: 1px solid #999999;
}

#info_addon {
	background: none;
	border-top: 1px solid #F07E01;
	border-bottom: 1px solid #F07E01;
	text-shadow: none;
	color: #FFFFFF;
}

#rc_portlet_area {
	background: none;
	color: #FFFFFF !important;
}

.portlet_rc h2 {
	border-bottom: 1px solid #F07E01;
	text-shadow: none;
	color: #FFFFFF !important;
}

#dis_navigation,
.portlet_rc_body,
#footer_right span {
	border-top: 1px solid #E06E01;
}

.portlet_rc_body .change_view select {
	background: url("img/rc_select_bg_225.jpg") no-repeat scroll 0 0 transparent;
}

#dis_navigation a,
a.context_nav {
	color: #FFFFFF !important;
}

#addon_area_row_1 {
	border-left: 1px solid #F07E01;
}

#footer_right {
	background: url("img/columns_bg.jpg") repeat-y scroll right top #D7D7D9;
	color: #FFFFFF !important;
}

#footer_right p {
	text-shadow: none;
	border-top: 1px solid #F07E01
}

#netnavigation a {
	color: #FFFFFF !important;
}

#popup_my_area {
	margin: 0;
}