/* Version 1.0 02/12 */

/*kompletter Hintergrund*/
.background
{
background-color: #FFFFFF;         /*weiß*/
}

/*Text im Seitenkopf*/
.title
{
font-family: Verdana, "Nimbus Sans L";
font-size: 18px;
font-style: normal;
font-weight: bold;
background-color: #FFFFFF;
}


/*Text fuer ausgewaehlten 'Link'*/
.nav
{
font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: bold;
color: #000000;
}


/* ------------------Link-Formate:-----------------*/

/*Allgemeine Link-Definition*/
a
{
font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: normal;
text-decoration: none;
color: #990000;
}

a:link.bold
{
font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: bold;
text-decoration: none;
color: #990000;
}

a:link.sub
{
font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
font-size: 12px;
font-style: normal;
font-weight: normal;
text-decoration: none;
color: #990000;
}

a:link.nav
{
font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: bold;
text-decoration: none;
color: #990000;
}

a:link.subaktiv
{
font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
font-size: 12px;
font-style: normal;
font-weight: bold;
color: #990000;
}

a:link.h3
{
font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: bold;
text-decoration: none;
color: #990000;
}

a:link.h4
{
font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: bold;
text-decoration: none;
color: #990000;
}

a:link.footnote
{
font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
font-size: 9px;
font-style: normal;
font-weight: normal;
text-decoration: none;
color: #990000;
}

a:visited
{
font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: normal;
text-decoration: none;
color: #990000;
}


a:visited.sub
{
font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
font-size: 12px;
font-style: normal;
font-weight: normal;
text-decoration: none;
color: #990000;
}

a:visited.subaktiv
{
font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
font-size: 12px;
font-style: normal;
font-weight: bold;
color: #990000;
}

a:visited.nav
{
font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: bold;
text-decoration: none;
color: #990000;
}

a:visited.h4
{
font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: bold;
text-decoration: none;
color: #990000;
}

a:visited.smallhl
{
font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: bold;
text-decoration: none;
color: #990000;
}

a:visited.bold
{
font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: bold;
text-decoration: none;
color: #990000;
}

a:visited.tdlinktitle
{
font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: bold;
text-decoration: none;
color: #990000;
}

a:visited.footnote
{
font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
font-size: 9px;
font-style: normal;
font-weight: normal;
text-decoration: none;
color: #990000;
}

a:hover
{
font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
font-style: normal;
text-decoration: none;
color: #FF0000;
}

a:hover.sub
{
font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
font-size: 12px;
font-style: normal;
font-weight: normal;
text-decoration: none;
color: #FF0000;
}

a:hover.h4
{
font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: bold;
text-decoration: none;
color: #FF0000;
}

a:hover.footnote
{
font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
font-size: 9px;
font-style: normal;
font-weight: normal;
text-decoration: none;
color: #990000;
}

a:hover.smallhl
{
font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: bold;
text-decoration: none;
color: #FF0000;
}

a:hover.bold
{
font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: bold;
text-decoration: none;
color: #FF0000;
}


/*Weitere Textformate*/

.fliesstext, p, ul, ol
{
font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
font-size: 14px;
font-weight: normal;
color: #000000;                        /*schwarz*/

}

.bold
{
font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
font-size: 14px;
font-weight: bold;
color: #000000;                        /*schwarz*/
}


/*Für Seitenkopf*/
.h1
{
font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
font-size: 26px;
font-style: normal;
font-weight: bold;
color: #333333;
}


/*Für Textüberschrift*/
.h2, h2
{
font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
font-size: 22px;
font-style: normal;
font-weight: bold;
color: #333333;
margin-bottom: 0px;
padding-bottom: 0px;
}


/*Für Textüberschrift 2. Ebene*/
.h3
{
font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: bold;
color: #333333;
}

/*Für Textüberschrift 3. Ebene*/
.h4, h4
{
font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: bold;
text-decoration: none;
color: #333333;
margin-bottom: 0px;
padding-bottom: 0px;
}

.footnote
{
font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
font-size: 9px;
font-style: italic;
font-weight: normal;
text-decoration: none;
color: #333333;
background-color: #FFFFFF;
}

/*Für Kasten-Tabelle, hinzugefügt F.M. 20070726 */
.boxtable
{
/* border:1px solid #C0C0C0; */
border:10px solid #FFFFFF;
border-collapse:collapse;
background-color:#FFFFFF;
}

.boxtable th
{
background-color:#FFFFFF;
text-align:left;
vertical-align:top;
font-size: 14px;
}

.boxtable td
{
background-color:#00FF00;
border:2px solid #FFFFFF;
/* background-color:peachpuff; */
background-color: silver;
font-size: 14px;
}