<div class="${baseClass}" data-dojo-attach-point="widgetNode">

	<div id="popup_wrapper">
		<div id="popup_edit_stack">
			<div id="popup_frame">
				<div id="popup_inner" class="scrollPopup">
	
					<div id="popup_pagetitle">
						<a id="popup_close" title="${popupTranslations.close}" href="#" data-dojo-attach-event="onclick:Close">
							<img alt="${popupTranslations.close}" src="${templatePath}img/popup_close.gif"/>
						</a>
						<h2 data-dojo-attach-point="titleNode"></h2>
						<div class="clear"></div>
					</div>
					
					<div id="popup_content_wrapper">
						<div id="popup_content">
						
							<div data-dojo-attach-point="treeNode" ></div>
							
							<div class="input_row">
		                        <label for="tagDescription">${popupTranslations.labelDescription}:</label>
		                        <textarea cols="80" rows="6" id="tagDescription" data-dojo-attach-point="descriptionNode"></textarea>
							</div>
							
							<div class="input_row" data-dojo-attach-point="buttonDivNode">
								<input class="popup_button" data-dojo-attach-event="click: onSaveTag" data-dojo-attach-point="submitButtonNode" disabled="disabled" type="submit" name="" />
							</div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	
</div>