<div class="${baseClass}" data-dojo-attach-point="widgetNode">

	<div id="popup_my_area">
		<div id="popup_frame_my_area">
			<div id="popup_inner_my_area" class="minHeightPopup">
				
				<div id="popup_pagetitle">
					<a id="popup_close" title="${popupTranslations.close}" href="#" data-dojo-attach-event="onclick:Close">
						<img alt="${popupTranslations.close}" src="${templatePath}img/popup_close.gif"/>
					</a>
					<h2 data-dojo-attach-point="titleNode"></h2>
					<div class="clear"></div>
				</div>
				
				<div>
					<!-- BEGIN OF PORTFOLIO VIEW -->

					<!-- tab container -->
					<div id="portfolioContentContainer">
					
						<div id="portfolioRefresh">
							<a href="#" data-dojo-attach-event="onclick: onRefreshPortfolios" title="${popupTranslations.refreshPortfolios}">
								${popupTranslations.refreshPortfolios}
							</a>
						</div>
						<div id="portfolioCreate">
							<a href="#" data-dojo-attach-point="createNewPortfolioNode" data-dojo-attach-event="onclick: onClickNewPortfolio" title="${popupTranslations.createPortfolio}">
								<img src="${templatePath}img/btn_add_new.gif" alt="${popupTranslations.createPortfolio}">
							</a>
						</div>
					
					    <div class="portfolioTabContainer" data-dojo-type="dijit/layout/TabContainer">
					    
					    	<div id="myPortfolioTabNode" class="portfolioTabContainer" data-dojo-type="dijit/layout/TabContainer" title="${popupTranslations.myPortfolios}" useSlider="true" useMenu="true">
					    	</div>
					        
					        <div id="activatedPortfolioTabNode" class="portfolioTabContainer" data-dojo-type="dijit/layout/TabContainer" title="${popupTranslations.activatedPortfolios}" useSlider="true" useMenu="true">
					    	</div>
					    </div>
					</div>
					<!-- END OF PORTFOLIO VIEW -->
               	</div>
				
				<div class="clear"></div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	
</div>