<div class="cs-edit-spinner uk-hidden uk-position-cover uk-text-center uk-position-z-index">
    <div class="uk-margin-small-top uk-container-center">
        <i class="uk-icon-spinner uk-icon-small uk-icon-spin"></i>
    </div>
</div>