<div class="uk-card uk-card-small uk-card-default uk-margin-small">
    <div class="uk-card-header">
        <h3 class="uk-card-title uk-margin-remove">{% block title %}{% endblock %}</h3>
    </div>

    <div class="uk-card-body">
        {% block body %}{% endblock %}
    </div>
</div>