<div id="sidebar_left" class="uk-visible@s uk-position-top">
    {{ knp_menu_render(menu_name, { 'template': 'menu/knp_menu_sidebar_uikit3.html.twig' } ) }}
</div>

<div id="offcanvas-navigation" uk-offcanvas>
    <div class="uk-offcanvas-bar">
        {{ knp_menu_render(menu_name, { 'template': 'menu/knp_menu_sidebar_uikit3_offcanvas.html.twig' } ) }}

        <button class="uk-offcanvas-close" type="button" uk-close></button>
    </div>
</div>