<div class="uk-inline">
    <button class="uk-button uk-button-default uk-button-small" type="button">
        {% block title %}{% endblock %} <span uk-icon="triangle-down"></span>
    </button>
    <div uk-dropdown="mode: hover" class="uk-padding-remove">
        <ul class="uk-nav uk-dropdown-nav uk-list uk-list-striped">
            {% block content %}{% endblock %}
        </ul>
    </div>
</div>

{#                <div class="uk-button-dropdown uk-button-primary" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">#}
{#                    <button class="uk-button uk-button-mini">{{ 'selected entries'|trans({},'rubric')|capitalize }} <i class="uk-icon-caret-down"></i></button>#}
{#                    <div id="cs-entry-navigation" class="uk-padding-remove uk-dropdown uk-dropdown-small">#}
{#                        <ul class="uk-nav uk-nav-dropdown uk-list-striped uk-padding-remove uk-margin-remove uk-text-left">#}

{#                            {% if is_granted('ITEM_EDIT', 'NEW') %}#}
{#                                <li>#}
{#                                    <a href="{{ path('app_room_create', {'roomId': roomId}) }}">#}
{#                                        <i class="uk-icon-justify uk-icon-small uk-icon-plus-circle"></i> {{ 'New room'|trans([], 'room') }}#}
{#                                    </a>#}
{#                                </li>#}
{#                            {% endif %}#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}