<div class="uk-inline">
    <button class="uk-button uk-button-default uk-button-small" type="button">
        {% block title %}{% endblock %} <span uk-icon="triangle-down"></span>
    </button>
    <div uk-dropdown="mode: hover" class="uk-padding-remove">
        <ul class="uk-nav uk-dropdown-nav uk-list uk-list-striped">
            {% block content %}{% endblock %}
        </ul>
    </div>
</div>
