<article class="uk-comment uk-margin-remove">
    <div uk-grid>

        <div class="uk-width-3-5">
            <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
                {# Hidden checkbox for selection mode #}
                <div class="items-checkbox uk-margin-right uk-margin-top uk-hidden">
                    <form class="uk-form">
                        <input type="checkbox" value="{% block item_id %}{% endblock %}">
                    </form>
                </div>

                <div class="uk-width-auto">
                    {% block left %}
                    {% endblock %}
                </div>
                <div class="uk-width-expand">
                    <ul class="uk-comment-meta uk-margin-remove uk-padding-remove">
                        {% block meta_above %}
                        {% endblock %}
                    </ul>

                    <h4 class="uk-comment-title uk-margin-remove uk-text-large">
                        {% block title %}
                        {% endblock %}
                    </h4>

                    <ul class="uk-comment-meta uk-margin-remove uk-padding-remove">
                        {% block meta_top %}
                        {% endblock %}
                    </ul>

                    <ul class="uk-comment-meta uk-margin-remove uk-padding-remove">
                        {% block meta_bottom %}
                        {% endblock %}
                    </ul>
                </div>
            </header>
        </div>

        <div class="uk-width-2-5">
            <div class="uk-comment-body">
                {% block right %}
                {% endblock %}
            </div>
        </div>
    </div>
</article>