{% for feedItem in feedList %}
    <article class="uk-comment">
        <i class="uk-icon-comments-o uk-icon-small"></i>

        <header class="uk-comment-header">
            <img class="uk-comment-avatar" src="{{ asset('templates/themes/default/img/person_03.jpg') }}" alt="">
            <div class="uk-comment-meta">{{ feedItem.itemType }}</div>
            <h4 class="uk-comment-title"><a href="#">{{ feedItem.title }}</a></h4>
            <div class="uk-comment-meta">Wann: am Mittwoch, 18.03.2015 von 16:30 Uhr bis 18:00 Uhr</div>
            <div class="uk-comment-meta">Wo: effective WEBWORK GmbH, Neuer Wall 18, Hamburg</div>
        </header>
    </article>
{% endfor %}