{% extends 'layout.html.twig' %}

{% form_theme form 'form/uikit3/uikit_horizontal_layout.html.twig' %}

{% block main %}

    {% embed 'components/card.html.twig' %}
        {% block title %}Passwort aktualisieren{% endblock %}

        {% block body %}
            <p>
                Mit diesem Update von CommSy haben wir die Speicherung Ihrer Passwörtern sicherer gemacht. Für die weitere Nutzung
                ist es erforderlich, dass Sie Ihr Passwort aktualisieren. Nach der Änderung müssen Sie sich erneut anmelden.
                <br>
                Um eine hohe Sicherheit an Passwörter sicherzustellen prüfen wir Ihre Eingabe gegen öffentlich verfügbare
                Datenbanken von bekannten Datenlecks. Ihr Passwort wird dabei nicht preisgegeben.
            </p>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}
