@import "../components/uikit/less/uikit.less";
@import "../components/uikit/less/components/autocomplete.less";
@import "../components/uikit/less/components/search.less";
@import "../components/uikit/less/components/progress.less";
@import "../components/uikit/less/components/nestable.less";
@import "../components/uikit/less/components/tooltip.less";
@import "../components/uikit/less/components/accordion.less";
@import "../components/uikit/less/components/placeholder.less";
@import "../components/uikit/less/components/form-file.less";
@import "../components/uikit/less/components/upload.less";
@import "../components/uikit/less/components/sticky.less";
@import "../components/uikit/less/components/slider.less";
@import "../components/uikit/less/components/slidenav.less";

@import "cs-theme/uikit.less";
@import "cs-theme/custom.less";
@import "cs-theme/slidenav.less";

// Colors
// ========================================================================
.red {
    color: red;
}


// ...
// ========================================================================


#sidebar {
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    overflow: hidden;
    background: #2B2F3D;
    
    transition: width ease-in-out 0.28s, background linear 0.1s;
    transform: translate(0px, 0);
}

#sidebar-brand {
    height: 50px;
    background-color: #FC4350;
}

#sidebar-profile {
    height: 180px;
    padding-bottom: 30px;
}

#sidebar-nav {
    width: 200px;

    i {
        margin-right: 14px;
    }

    li {
        border-bottom: 1px solid #343949;
    }
}

#content {
    height: 100%;
    position: relative;
    padding: 0;
    background-color: #ECF0F1;

    -ms-transform: translate(150px, 0);
    -moz-transform: translate(150px, 0);
    -webkit-transform: translate3d(150px, 0, 0);
    transform: translate(150px, 0);
    -ms-transition: -ms-transform 0.28s ease-in-out;
    -moz-transition: -moz-transform 0.28s ease-in-out;
    -webkit-transition: -webkit-transform 0.28s ease-in-out;
    transition: transform 0.28s ease-in-out;
}

body {
    padding-left: 50px;
}

.nav-collapsed {
    #content {
        -ms-transform: translate(0px, 0);
        -moz-transform: translate(0px, 0);
        -webkit-transform: translate3d(0px, 0, 0);
        transform: translate(0px, 0);
    }

    #sidebar {
        width: 50px;
    }
}

// Selectable
// ========================================================================

article.selectable {
    .materials-checkbox {
        display: block !important;
        visibility: visible !important;
    }

    .users-checkbox {
        display: block !important;
        visibility: visible !important;
    }
    
    .groups-checkbox {
        display: block !important;
        visibility: visible !important;
    }

    cursor: pointer;
    opacity: 0.65;

    // disable selections
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// Breadcrumb / Cover
// ========================================================================

#cover {
    height: 140px;
    background-color: #6593B3;
}


// Profile
// ========================================================================
#profile-image {
    max-height: 100px;
}

#profile-nav {
  padding: 5px;
  padding-top: 15px;
}

#profile-nav .uk-thumbnail-caption {
  color: #cfcfcf;
}

.nav-collapsed #profile-nav {
    .uk-thumbnail-caption {
        display: none;
    }

    .uk-icon-cog {
        display: none;
    }
  
}

// Container
// ========================================================================

#container {
    margin-top: 15px;
}





.uk-navbar {
    padding: 5px 0;
    background-color: #FFFFFF;
}



.panel-teaser-primary {
    color: #FFFFFF;
    background-color: #6593B3;
    padding: 10px;
    border-bottom: 2px solid #ECF0F1;

    .button-toggle {
        padding: 6px 8px;
        border-radius: 4px;
        background-color: #507590;

        i {
            color: #FFFFFF;
        }
    }
}

.panel-teaser-secondary {
    color: #FFFFFF;
    background-color: #626262;
    padding: 10px;
    border-bottom: 2px solid #ECF0F1;

    .button-toggle {
        padding: 6px 8px;
        border-radius: 4px;
        background-color: #444444;

        i {
            color: #FFFFFF;
        }
    }
}

// Detail
// ========================================================================

.cs-detail-toggle .cs-detail-toggle-icon {
    display: none;
}

.cs-detail-toggle-selected .cs-detail-toggle-icon {
    display: block;
}