{% import 'utils/macros.html.twig' as macros %}

<div class="uk-button-dropdown uk-button-primary" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
    <button class="uk-button uk-button-mini">Ansicht auswählen <i class="uk-icon-caret-down"></i></button>
    <div id="cs-entry-navigation" class="uk-padding-remove uk-dropdown uk-dropdown-small uk-dropdown-bottom" aria-hidden="true" tabindex="" style="top: 21px; left: 0px;">
        <ul class="uk-nav uk-nav-dropdown uk-list-striped uk-padding-remove uk-margin-remove uk-text-left">
            {% if not myViewItems is empty %}
            {% for myViewItem in myViewItems %}
            <li>
                <a href="#" id="commsy-sort-title" class="cs-sort-actor uk-clearfix" data-sort-order="{&quot;asc&quot;: &quot;title&quot;, &quot;desc&quot;: &quot;title_rev&quot;}">
                    <span class="uk-float-left">{{ myViewItem }}</span>
                    <span class="uk-float-right">
                <i id="commsy-sort-title-chevron" class=""></i>
            </span>
                </a>
            </li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>