{% import 'utils/macros.html.twig' as macros %}

{% form_theme myViewsForm 'form/uikit3/uikit_stacked_layout.html.twig' %}

<div id="my-views">
    {{ form_start(myViewsForm) }}
    {{ form_widget(myViewsForm) }}
    {{ form_end(myViewsForm) }}
</div>
