/* used individual colors */
/* Sonnenuntergang.jpg -> Background-Image */
/* ___CS_BG_COLOR___={#fcc7dc} */
/* #822248 -> CS_COLOR_ACTIVE_MENUE*/
/* #dfa5bc -> CS_COLOR_MENUE*/
/* #b9386c -> CS_COLOR_RIGHT_COLUMN*/
/* #fd9dc3 -> CS_CONTENT_BG_COLOR*/
/* #ae2b5f -> CS_LINK_COLOR*/
/* #881543 -> CS_LINK_HOVER_COLOR*/
/* #dfa5bc -> CS_ACTION_BG_COLOR*/
/* #c26b8e -> CS_ACTION_ICON_COLOR*/
 /*#ac5175 -> CS_ACTION_ICON_HOVER_COLOR*/

/**************************/

/* Body*/

body {
    background-image: url("img/bg.jpg"); /* Background-Image */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-color: #FFF /*CS_BG_COLOR*/
}

/* Navigation */

#main_navigation {
     background: url("img/main_nav_bg.jpg") repeat-x scroll 0 0 transparent;
}
#main_navigation #active {
	background: url("img/active_bg.jpg") repeat-x scroll 0 0 transparent;
	border-bottom: 1px solid #01213f; /*CS_COLOR_ACTIVE_MENUE*/
}

#main_navigation ul {
    border-right: 0px solid #012F59; /*CS_COLOR_ACTIVE_MENUE*/
}

#main_navigation .non_active a {
    border-left: none;
    border-right: 1px solid #012F59; /*CS_COLOR_ACTIVE_MENUE*/
    color: #454545;
}

#main_navigation #active a {
    border-right: 1px solid #012F59; /*CS_COLOR_ACTIVE_MENUE*/
    color: #FFFFFF;
}

#main_navigation .non_active {
    background: none; /*CS_COLOR_MENUE*/
}

#main_navigation ul#right_navigation {
    border-left: 1px solid #012F59; /*CS_COLOR_ACTIVE_MENUE*/
    border-right: none;
}

#main_navigation .non_active a {
    border-left: none;
    border-right: 1px solid #012F59; /*CS_COLOR_ACTIVE_MENUE*/
    color: #000000;
}

#main_navigation #site_actions {
    background: none;
    border-left: 1px solid #999999;
}

#main_navigation .non_active a:hover {
    color: #454545;
    border-left: none;
    border-right: 1px solid #999;
    background-color: #E0DEDF;
    }



/* Right Column */
#right_column {
    border-top: none;
    width: 244px;
}

#columnset {
	background: url("img/columns_bg.jpg") repeat-y scroll right top #EFECE2;
    border-left: 1px solid #999999;
}

#info_area_row_1, #info_area_row_2, #info_area_row_3 {
    border-right: 1px solid #999999;
}

#rc_portlet_area {
    background: none;
}

#info_addon {
	background:none;
	border-bottom: 1px solid #999999;
    border-top: 1px solid #999999;
    color: #DEE8FF;
    text-shadow: none;
}

#footer_right {
	background: url("img/columns_bg.jpg") repeat-y scroll right top #EFECE2;
    color: #DEE8FF;
    border-right: 1px solid #012f59;
    width:244px;
}

#footer {
    border-bottom: 0px solid #012f59;
    margin-bottom: 30px;
}


#addon_area_row_1 {
    border-left: 0px solid #b9386c; /*CS_COLOR_RIGHT_COLUMN*/
}

.portlet_rc h2 {
    border-bottom: 1px solid #999999;
    color: #DEE8FF;
    text-shadow: none;
}

.portlet_rc_body {
    border-top: 0px solid #999999;
    color: #DEE8FF;
}

.portlet_rc_body .change_view select {
    background: #F5F5F5; /*CS_COLOR_RIGHT_COLUMN*/
    border: 1px solid #999999;
    color: #999999;
}

a.keywords_s1, a.keywords_s2, a.keywords_s3, a.keywords_s4 {
    color: #DEE8FF;
    text-shadow: none;
}

#dis_navigation {
    border-top: 0px solid #999999;
}

/*Content*/
.table_head {
    background-color: #EFECE2; /*CS_CONTENT_BG_COLOR*/
    border-bottom: 1px solid #999999;
}

.content_item .item_info {
    background-color: #EFECE2; /*CS_CONTENT_BG_COLOR*/
    text-shadow: 0 1px #F5F5F5;
    border-bottom:1px solid #999999;
}

#footer_left {
    background-color: #01213f; /*CS_CONTENT_BG_COLOR*/
    border-left: 1px solid #999999;
    color: #DEE8FF;
}

#footer_right span {
    border-top: 1px solid #999999;
    display: block;
    padding: 10px 0 8px;
}

#footer_right p {
	border-top: none;
    text-shadow: none;
}

.content_item h2 {
    background-color: #EFECE2;/*CS_CONTENT_BG_COLOR*/
    border-bottom:1px solid #999999;
}


/* FORM */

#item_postnew {
    background: none;
}


