{% import 'base/printmacro.html.twig' as utilMacros %}

{% if annotations is not empty %}
    <div class="uk-panel-teaser cs-panel-teaser-primary uk-margin-bottom-remove uk-margin-top page-break-before">
        <div class="uk-grid">
            <div class="uk-text-large">
                {{ 'annotations'|trans({})|capitalize }}
            </div>
        </div>
    </div> 
{% endif %}

<br>

{% for annotation in annotations %}
    <article class="page-break-inside">
        <header>
            {# content #}
            <div >
                <div >
                    {{ utilMacros.editAnnotationContent('description', annotation, annotation.description) }}

                </div>
            </div>
        </header>
    </article>
    <hr>
{% endfor %}


