body {
    background-color: #FFFFFF;
    border: 0 none;
    color: #555555;
    font-family: verdana,sans-serif;
    font-size: 12px;
    line-height: 17px;
    margin: 0;
    padding: 0;
    text-align: left;
}
p, form {
    border: 0 none;
    margin: 0;
    padding: 0;
}
img {
    border: 0 none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
}
.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}
#header_left {
    float: left;
    padding-top: 10px;
    width: 750px;
}
#header_left img {
    height: 34px;
}
a#portal_logo {
    margin-right: 30px;
}
#meta_navigation {
    background: url("images/meta_nav_bg.jpg") repeat-x scroll 0 0 transparent;
    border-bottom: 16px solid #E8B600;
    float: left;
    height: 28px;
    padding: 5px 0 0;
    width: 230px;
}
#portal_background {
    background: url("folgeseite.jpg") no-repeat scroll center top transparent;
}
#meta_nav_items {
    height: 56px;
    padding: 0 0 0 10px;
}
#meta_nav_items a {
    color: #555555;
    padding: 0 5px;
    text-decoration: none;
}
#meta_nav_items a:hover {
    color: #333333;
    text-decoration: underline;
}
#logout {
    color: #B80104 !important;
}
#columnset_home {
    background: url("images/columnset_home_bg.gif") repeat-x scroll 0 0 transparent;
}
#columnset_follow {
    background: url("images/columnset_follow_bg.gif") repeat-x scroll 0 0 transparent;
}
#left_column {
    float: left;
    width: 750px;
}
#right_column {
    background-color: #E8B600;
    color: #514000;
    float: left;
    padding-top: 15px;
    width: 230px;
}
#navigation_index {
    padding: 30px 0 0;
}
#navigation_follow {
    width: 980px;
    margin:0 auto;
    padding: 20px 0 10px;
}
.nav_column {
    float: left;
    margin-right: 15px;
    width: 300px;
}
a.buttet_big {
    background: url("img/bullet_big.png") no-repeat scroll 0 0 transparent;
    color: #000000;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 13px 0 30px 55px;
    text-decoration: none;
    text-shadow: 0 1px #EFEFB5;
}
a.buttet_big:hover {
    color: #3D3D3D;
    text-shadow: 0 1px #FFFFFF;
}
a.buttet_small {
    background: url("img/bullet_small.png") no-repeat scroll 0 0 transparent;
    color: #000000;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 0 10px 30px;
    text-decoration: none;
    text-shadow: 0 1px #EFEFB5;
}
a.buttet_small:hover {
    color: #3D3D3D;
    text-shadow: 0 1px #FFFFFF;
}
#right_column h2 {
    font-family: georgia,serif;
    font-size: 16px;
    font-style: italic;
    line-height: 16px;
    margin-bottom: 15px;
}
.rc_item {
    background: url("images/rc_item_bg.jpg") repeat-x scroll left bottom transparent;
    margin: 0 15px 30px;
    padding: 0 0 30px;
}
p.rc_info_content {
    font-size: 10px;
    line-height: 14px;
    padding: 10px 0;
}
p.rc_content {
    padding-bottom: 10px;
}
#emergency_call {
    background: url("images/emergency.gif") no-repeat scroll left center transparent;
    font-size: 20px;
    font-weight: bold;
    padding-left: 25px;
}
.rc_item ul {
    margin: 0;
    padding: 0 0 0 18px;
}
.rc_item li {
    list-style-image: url("images/rc_list_item.gif");
}
.rc_item a {
    color: #514000;
    text-decoration: none;
}
#right_column:hover .rc_item a {
    border-bottom: 1px dotted #514000;
    text-decoration: none;
}
#right_column:hover .rc_item a:hover {
    border-bottom: 1px solid #000000;
    color: #000000;
    text-decoration: none;
}
#search_portlet {
    margin: 0 15px 30px;
}
#portal_search {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #EEC83F;
    padding: 2px 2px 3px 5px !important;
}
#portal_search input#search_input {
    border: 0 none;
    color: #514000;
    font-size: 12px;
    width: 168px;
}
#portal_search input {
    vertical-align: middle;
}
#quick_select {
    padding: 15px 0 0;
}
#quick_select select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #EEC83F;
    color: #514000;
    font-size: 12px;
    margin-bottom: 3px;
    padding: 2px 2px 3px 5px !important;
    width: 200px;
}
#content_columnset {
    padding: 30px 0 0;
}
#cc_left, #cc_mid, #cc_right {
    float: left;
    width: 245px;
}
.top_portlet {
    height: 290px;
    width: 230px;
}
.top_portlet h2 {
    background: none repeat scroll 0 0 #7A7A7A;
    color: #FFFFFF;
    font-family: georgia,serif;
    font-size: 16px;
    font-style: italic;
    line-height: 16px;
    padding: 12px 15px;
}
.top_portlet p, .bottom_portlet p {
    padding: 10px 0;
}
.top_portlet p a, .bottom_portlet p a {
    color: #555555;
    text-decoration: none;
}
.top_portlet:hover p a, .bottom_portlet:hover p a {
    border-bottom: 1px dotted #555555;
}
.top_portlet p a:hover, .bottom_portlet p a:hover {
    border-bottom: 1px solid #555555;
    color: #555555;
    text-decoration: none;
}
.bottom_portlet {
    padding-top: 30px;
    width: 230px;
}
.bottom_portlet h2 {
    background: none repeat scroll 0 0 #E6E6E6;
    color: #555555;
    font-family: georgia,serif;
    font-size: 16px;
    font-style: italic;
    line-height: 16px;
    padding: 12px 15px;
}
a.read_more {
    background: url("images/btn_more.gif") no-repeat scroll right 8px transparent;
    color: #A38105;
    padding: 5px 20px 5px 0;
    text-decoration: none;
}
a.read_more:hover {
    color: #A38105;
    text-decoration: underline;
}
#body_navigation {
    background: none repeat scroll 0 0 #E8B600;
    color: #514000;
    height: 300px;
    width: 230px;
}
#body_navigation h2 {
    font-family: georgia,serif;
    font-size: 16px;
    font-style: italic;
    line-height: 16px;
    padding: 15px 0 12px 15px;
}
#prestige_portlet {
    background: none repeat scroll 0 0 #E6E6E6;
    height: 300px;
    position: relative;
    width: 230px;
}
#prestige_portlet h3 {
    font-size: 16px;
    line-height: 22px;
    padding: 0 0 10px 15px;
}
#prestige_portlet h1 {
    font-size: 12px;
    line-height: 17px;
    padding: 0 15px;
}
#prestige_portlet ul {
    margin: 0;
    padding: 10px 0 0 33px;
}
#prestige_portlet li {
    list-style-image: url("images/btn_more_yelgrey.gif");
    padding: 0 0 1px;
}
#prestige_portlet ul a {
    color: #A38105;
    text-decoration: none;
}
#prestige_portlet:hover ul a {
    border-bottom: 1px dotted #A38105;
    color: #A38105;
    text-decoration: none;
}
#prestige_portlet ul a:hover {
    border-bottom: 1px solid #555555;
    color: #555555;
}
#hsk_film {
    left: 86px;
    position: absolute;
    top: -6px;
    z-index: 100;
}
.news_portlet {
    background: none repeat scroll 0 0 #E6E6E6;
    height: 300px;
    width: 230px;
}
.news_portlet h2, #prestige_portlet h2 {
    font-family: georgia,serif;
    font-size: 16px;
    font-style: italic;
    line-height: 16px;
    margin: 0 15px;
    padding: 15px 0;
}
.news_portlet h2 {
    background: url("images/newsportlet_bg.jpg") repeat-x scroll left bottom transparent;
}
a.news_archive {
    background: url("images/btn_more_greygrey.gif") no-repeat scroll right 4px transparent;
    color: #777777;
    display: block;
    float: right;
    margin: 15px 15px 0 0;
    padding-right: 18px;
    text-decoration: none;
}
a.news_archive:hover {
    color: #333333;
    text-decoration: underline;
}
.news_item {
    background: url("images/newsportlet_bg.jpg") repeat-x scroll left bottom transparent;
    margin: 0 15px;
    padding: 9px 0;
}
.news_item h3 {
    font-size: 12px;
    line-height: 17px;
}
.news_item h3 a {
    color: #555555;
    text-decoration: none;
}
.news_item h3 a:hover {
    border-bottom: 1px dotted #555555;
    color: #555555;
    text-decoration: none;
}
.news_item_date {
    color: #777777;
    float: left;
    padding: 5px 0;
    width: 90px;
}
.news_item .read_more {
    background: url("images/btn_more_yelgrey.gif") no-repeat scroll right 8px transparent !important;
    float: left;
    text-align: right;
    width: 90px;
}
#cc_left_follow {
    float: left;
    width: 260px;
}
#cc_mid_right {
    float: left;
    width: 460px;
}
#nav_portlet {
    width: 230px;
}
ul#nav_level_up, ul#nav_level_down {
    margin: 0;
    padding: 0;
}
ul#nav_level_up li, ul#nav_level_down li {
    list-style-type: none;
}
#backto_level_one {
    background: url("images/nav_level_one.gif") no-repeat scroll left 7px transparent;
}
#backto_level_two {
    background: url("images/nav_level_two.gif") no-repeat scroll left 7px transparent;
}
#backto_level_three {
    background: url("images/nav_level_three.gif") no-repeat scroll left 7px transparent;
}
#nav_level_up a {
    color: #555555;
}
#nav_level_up a:hover {
    color: #000000;
    padding: 0 0 10px 20px;
}
h2#page_title {
    border-bottom: 1px solid #7A7A7A;
    border-top: 1px solid #7A7A7A;
    color: #A38105;
    font-family: georgia,serif;
    font-size: 16px;
    font-style: italic;
    line-height: 22px;
    margin: 5px 0 15px;
    padding: 15px 0;
}
a.down_level_one {
    background: url("images/btn_nav_nonactive.gif") no-repeat scroll left 4px transparent;
    color: #555555;
}
a#down_level_one_active {
    background: url("images/btn_nav_active.gif") no-repeat scroll left 4px transparent;
    color: #A38105;
}
a.down_level_one:hover, a.down_level_two:hover, a.down_level_three:hover {
    color: #000000;
    padding: 0 0 10px 24px !important;
}
#nav_level_up a, #nav_level_down a {
    display: block;
    padding: 0 0 10px 22px;
    text-decoration: none;
}
a.down_level_two {
    background: url("images/btn_nav_down_nonactive.gif") no-repeat scroll left 6px transparent;
    color: #555555;
    margin-left: 22px;
}
a#down_level_two_active {
    background: url("images/btn_nav_down_active.gif") no-repeat scroll left 6px transparent;
    color: #A38105;
    margin-left: 22px;
}
a.down_level_three {
    background: url("images/btn_nav_down_nonactive.gif") no-repeat scroll left 6px transparent;
    color: #555555;
    margin-left: 44px;
}
a#down_level_three_active {
    background: url("images/btn_nav_down_active.gif") no-repeat scroll left 6px transparent;
    color: #A38105;
    margin-left: 44px;
}
#maincontent h1 {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 30px;
}
#maincontent p {
    padding-bottom: 30px;
}
#maincontent a {
    border-bottom: 1px dotted #A38105;
    color: #A38105;
    text-decoration: none;
}
#maincontent a:hover {
    border-bottom: 1px solid #000000;
    color: #000000;
}
#maincontent ul {
    margin: 0;
    padding: 0;
}
#maincontent ul li {
    list-style-image: url("images/btn_more_yelgrey.gif");
    margin: 0 0 0 20px;
    padding: 0 0 0 5px;
}
#portal_actions {
    padding: 15px 0 30px;
    text-align: right;
}
a#print_page {
    background: url("images/btn_print.gif") no-repeat scroll left center transparent;
    color: #A38105;
    padding: 5px 0 5px 20px;
    text-decoration: none;
}
a#print_page:hover {
    color: #A38105;
    text-decoration: underline;
}
#footer_portal {
    background: url("images/footer_bg.jpg") repeat-x scroll 0 0 #545454;
    color: #FFFFFF;
    padding: 15px 0 30px;
    text-align: center;
}
#portal_copyright {
    background: url("images/copyright_bg.jpg") no-repeat scroll 0 0 transparent;
    font-size: 10px;
    padding: 15px 0 30px;
    text-align: center;
}
