/* used individual colors */
/* Sonnenuntergang.jpg -> Background-Image */
/* ___CS_BG_COLOR___={#fcc7dc} */
/* #822248 -> CS_COLOR_ACTIVE_MENUE*/
/* #dfa5bc -> CS_COLOR_MENUE*/
/* #b9386c -> CS_COLOR_RIGHT_COLUMN*/
/* #fd9dc3 -> CS_CONTENT_BG_COLOR*/
/* #ae2b5f -> CS_LINK_COLOR*/
/* #881543 -> CS_LINK_HOVER_COLOR*/
/* #dfa5bc -> CS_ACTION_BG_COLOR*/
/* #c26b8e -> CS_ACTION_ICON_COLOR*/
 /*#ac5175 -> CS_ACTION_ICON_HOVER_COLOR*/

/**************************/
#columnset {
   margin-right: 0px;
   margin-top:0px;
}

#hsk_header {
    padding-bottom: 15px;
}

#columnset {
    background: url("img/columns_bg.jpg") repeat-y scroll right top #D7D7D9;
    border-left: 1px solid #999999;
}

.portlet_rc_body {
    border-top: 0px solid #689FDE;
    color: #525252;
    padding: 10px 0 0;
}

#rc_portlet_area {
    background: none;
    padding: 16px 10px 0;
}

#footer_right {
    background: url("img/columns_bg.jpg") repeat-y scroll 0 0 transparent;
    color: #525252;
    float: left;
    height: 75px;
    width: 244px;
}

#footer_right p {
    border-top: 0px solid #2E405E;
    margin: 0 10px;
    text-shadow: 0 0px #2E405E;
}

#footer_right span {
    border-top: 1px solid #525252;
    display: block;
    padding: 10px 0 8px;
}

#info_addon {
    color: #525252;
    text-shadow: 0 0px #2E405E;
}

#addon_area_row_1 {
    border-left: 1px solid #525252;
    float: right;
    height: 60px;
    width: 24px;
}

#info_addon {
    background: none;
    border-bottom: 1px solid #525252;
    border-top: 1px solid #525252;
    color: #525252;
    padding: 0 10px;
    text-shadow: 0 0px #2E405E;
}
.portlet_rc h2 {
    border-bottom: 1px solid #525252;
    color: #525252;
    font-size: 12px;
    padding-bottom: 8px;
    text-shadow: 0 0px #2E405E;
}
#footer_right a {
    color: #525252;
    display: block;
    font-size: 10px;
    line-height: 14px;
    text-decoration: none;
}
#right_column {
    border-top: 1px solid #525252;
    float: left;
    width: 244px;
}
#main_navigation {
    background: url("img/main_nav_bg.jpg") repeat-x scroll 0 0 transparent;
    height: 102px;
}
#main_navigation #site_actions {
    background: none;
    float: right;
    height: 40px;
    padding: 0 10px 0 2px;
}
#main_navigation #active {
    background: url("img/active_bg.jpg") repeat-x scroll 0 0 transparent;
    border-bottom: 1px solid #b48415;
}
.portlet_rc_body .change_view select {
    background: #FFFFFF;
    border: 0 none;
    color: #525252;
    display: block;
    margin: 5px 0 10px;
    padding: 5px;
    width: 225px;
}
#maincontent .content_item h2 a{
    color: #525252;
    text-decoration:none;
	}
#maincontent .content_item h2 a:hover{
    color: #525252;
    text-decoration:underline;
	}

#popup_top_wrapper {
    height: 100%;
    width:990px;
    position: absolute;
    z-index: 6;
}
a.keywords_s1, a.keywords_s2, a.keywords_s3, a.keywords_s4 {
    color: #525252;
    line-height: 20px;
    text-decoration: none;
    text-shadow: 0 0px #2E405E;
}
a.keywords_s1:hover, a.keywords_s2:hover, a.keywords_s3:hover, a.keywords_s4:hover {
    color: #525252;
    line-height: 20px;
    text-decoration: underline;
    text-shadow: 0 0px #2E405E;
}

#dis_navigation a, a.context_nav {
    color: #525252;
    display: block;
    text-decoration: none;
}
a {
    color: #525252;
    text-decoration: none;
}
.portlet_rc_list {
    color: #525252;
    float: right;
    line-height: 16px;
}
#netnavigation {
    color: #525252;
}
#netnavigation a {
    color: #525252;
    text-decoration: none;
}
#dis_navigation {
    border-top: 0px solid #689FDE;
    margin-bottom: 8px;
    overflow: hidden;
    padding: 8px 0;
    white-space: nowrap;
}