<!doctype html>
<html>
    <head>
        <meta charset="utf-8">

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

        <title>ONLYOFFICE Document Editors</title>
        <link href="{{ favicon_url }}" rel="shortcut icon" type="image/x-icon" />

        <style>
            body {
                margin: 0;
                padding: 0;
                overflow: hidden;
                -ms-content-zooming: none;
            }

            #office_frame {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: 0;
                border: none;
                display: block;
            }
        </style>
    </head>

    <body>
        <form id="office_form" name="office_form" target="office_frame" action="{{ actionUrl }}" method="post">
            <input name="access_token" value="{{ access_token }}" type="hidden" />
            <input name="access_token_ttl" value="{{ access_token_ttl }}" type="hidden" />
        </form>

        <span id="frameholder"></span>

        <script type="text/javascript">
            const frameholder = document.getElementById('frameholder');
            const office_frame = document.createElement('iframe');
            office_frame.name = 'office_frame';
            office_frame.id = 'office_frame';

            office_frame.title = 'Office Frame';
            office_frame.setAttribute('allowfullscreen', 'true');

            office_frame.setAttribute('sandbox', 'allow-scripts allow-same-origin allow-forms allow-popups allow-top-navigation allow-popups-to-escape-sandbox allow-downloads allow-modals');
            office_frame.setAttribute('allow', 'autoplay camera microphone display-capture');
            frameholder.appendChild(office_frame);

            document.getElementById('office_form').submit();
        </script>
    </body>

</html>
