{% extends 'base/room.html.twig' %}

{% import "mail/flashes.html.twig" as flashes %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-1-1">

            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser cs-panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-between">
                        <div class="uk-text-large">{{ 'Send item'|trans({}, "mail") }}</div>
                    </div>
                </div>

                {{ flashes.mailSendFlashes(link, title | decodeHtmlEntity) }}
            </div>

        </div>

    </div>
{% endblock %}
