<div class="${baseClass} widget_208">
	<div class="innerWidgetArea">
		<div class="widget_head">
			<h3 class="pop_widget_h3 float-left" data-dojo-attach-point="titleNode"></h3>
			<div class="clear"></div>
		</div>
		
		<div class="widget_body" data-dojo-attach-point="widgetBodyNode">
			<ul>
				<li>
					<a href="#" title="${popupTranslations.dateAbo}" target="_blank" data-dojo-attach-point="dateAboNode">
						<img src="${templatePath}img/btn_remember.gif" alt="${popupTranslations.dateAbo}" />${popupTranslations.dateAbo}
					</a>
				</li>
				<li>
					<a href="#" title="${popupTranslations.dateExport}" target="_blank" data-dojo-attach-point="dateExportNode">
						<img src="${templatePath}img/btn_export_todisk.gif" alt="${popupTranslations.dateExport}" />${popupTranslations.dateExport}
					</a>
				</li>
			</ul>
			<!--
			<hr/>
			
			<ul>
				<li>
					<a id="todoAbo" href="#" title="___TODO_ABBO___" target="_blank">
						<img src="${templatePath}img/btn_remember.gif" alt="___TODO_ABBO___" />___TODO_ABBO___
					</a>
				</li>
				<li>
					<a id="todoExport" href="#" title="___TODO_EXPORT___" target="_blank">
						<img src="${templatePath}img/btn_export_todisk.gif" alt="___TODO_EXPORT___" />___TODO_EXPORT___
					</a>
				</li>
			</ul>
			-->
		</div>
	</div>
</div>