{% extends 'CommsyBundle:Room:room.html.twig' %}

{% block content %}
    <div class="uk-grid">

        <div class="uk-width-medium-1-2">
            <div class="uk-panel uk-panel-box uk-panel-box-primary">
                <div class="uk-panel-teaser panel-teaser-primary">
                    <div class="uk-flex uk-flex-middle uk-flex-space-between">
                        <div>Termin Liste</div>
                        <div>
                            <a href="#" class="button-toggle uk-button-mini uk-button-primary" data-uk-toggle="{target: '#room-feed', animation: 'uk-animation-fade'}">
                                <i class="uk-icon-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <ul id="room-feed" class="uk-comment-list">
                </ul>
            </div>
        </div>
    </div>
{% endblock %}